<!DOCTYPE html>
<html lang="it" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{favicon}}" ng-if="user.email!='plurimedia.demo@plurimedia.it'">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/favicon-demo.ico" ng-if="user.email=='plurimedia.demo@plurimedia.it'">
    <link rel="apple-touch-icon" href="/img/logo/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/logo/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logo/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logo/apple-touch-icon-72x72.png">
    <title>PluriH2O | Backend</title>
    <link rel="stylesheet" href="/css/cssCasette.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body fastclick menusize ng-cloak> 
    <div id="wrapper">
      <nav role="navigation"
           class="navbar-default navbar-static-side"
           ng-if="!login && user.name"
           ng-include="'/html/includes/navbar.html'" altezza>
      </nav>

      <div id="page-wrapper"
           class="gray-bg"
           ng-if="!login && user.name"
           altezza>
        <div class="row border-bottom" ng-include="'/html/includes/userbar.html'"></div>
        <ui-view></ui-view>
      </div>
      <ui-view ng-if="login"></ui-view>
    </div>
    <script src="/lib/fastclick/lib/fastclick.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/underscore/underscore-min.js"></script>
    <!-- underscore -->
    <script src="/lib/async/dist/async.min.js"></script>
    <!-- async -->
    <script src="/lib/moment/min/moment-with-locales.min.js"></script>
    <!-- moment -->
    <script src="/lib/numeral/min/numeral.min.js"></script>
    <script src="/lib/numeral/min/languages/it.min.js"></script>
    <!-- numeral -->
    <script src="/lib/bootbox.js/bootbox.js"></script>
    <!-- confirm dialogs-->
    <script src="/js/theme/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- js specifico del tema (menu)-->
    <script src="/js/theme/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- js specifico del tema (effetto scroll)-->
    <script src="/lib/angular/angular.min.js"></script>
    <!-- angular -->
    <script src="/lib/angular-i18n/angular-locale_it-it.js"></script>
    <!-- i18n -->
    <script src="/lib/angular-loading-bar/build/loading-bar.min.js"></script>
    <!-- loading bar -->
    <script src="/lib/angular-resource/angular-resource.min.js"></script>
    <!-- chiamate api -->
    <script src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- sanitize html -->
    <script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- ui router -->
    <script src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <!-- upload lato client-->
    <script src="/lib/angular-strap/dist/angular-strap.min.js"></script>
    <!-- angular strap -->
    <script src="/lib/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <!-- angular strap templates -->
    <script src="/lib/ckeditor/ckeditor.js"></script>
    <!-- ckeditor core-->
    <script src="/lib/ng-ckeditor/ng-ckeditor.min.js"></script>
    <!-- wrapper angular di ckeditor -->
    <script src="/lib/ng-notify/dist/ng-notify.min.js"></script>
    <!-- notify per i messaggi-->
    <script src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <!-- drag & drop -->
    <script src="/lib/bootcomplete/dist/bootcomplete.min.js"></script>
    <!-- autocomplete-->
    <script src="/lib/ng-inline-edit/dist/ng-inline-edit.min.js"></script>
    <!-- edit inline-->
    <script src="/lib/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <!-- sortable tree -->
    <script src="/lib/angularUtils-pagination/dirPagination.js"></script>
    <!-- pager client -->

    <!--auth0-->
    <script src="https://cdn.auth0.com/js/lock/11.31.1/lock.min.js"></script>
    <script src="/lib/angular-jwt/dist/angular-jwt.min.js"></script>
    <!--/auh0=-->

    <!-- grafici -->
    <script src="/lib/Chart.js/dist/Chart.min.js"></script>
    <!-- /grafici -->

    <script src="/lib/file-saver/FileSaver.js"></script>

    <!--script src="/verioned_lib/angular-drag-and-drop-lists.min.js"></script-->

    <!--angular logic-->
    <script src="/js/app.js"></script>
    <script src="/js/util.js"></script>
    <!-- app client code -->
    <script src="/js/services.js"></script>
    <!-- angular services -->
    <script src="/js/directives.js"></script>
    <!-- angular directives -->
    <script src="/js/filters.js"></script>
    <!-- angular filters -->
    <script src="/js/constants.js"></script>
    <!-- angular constants -->
    <script src="/js/controllers/login.js"></script>
    <!-- controller login -->
    <script src="/js/controllers/dashboard.js"></script>
    <!-- controller dashboard -->
    <script src="/js/controllers/bandi.js"></script>
    <!-- controller bandi -->
    <script src="/js/controllers/esiti.js"></script>
    <!-- controller esiti -->
    <script src="/js/controllers/comunicati.js"></script>
    <!-- controller comunicati -->
    <script src="/js/controllers/eventi.js"></script>
    <!-- controller eventi -->
    <script src="/js/controllers/dashboard_operatore_casette.js"></script>
    <!-- controller dashboard operatore casette -->
    <script src="/js/controllers/casette.js"></script>
    <!-- controller casette -->
    <script src="/js/controllers/pagine.js"></script>
    <!-- controller pagine -->
    <script src="/js/controllers/menues.js"></script>
    <!-- controller menu -->
    <script src="/js/controllers/logs.js"></script>
    <!-- controller logs -->
    <script src="/js/controllers/faqs.js"></script>
    <script src="/js/controllers/sportelli.js"></script>
    <script src="/js/controllers/articoli.js"></script>
    <script src="/js/controllers/newsletters.js"></script>
    <script src="/js/controllers/glossario.js"></script>
    <script src="/js/controllers/avvisi.js"></script>
    <script src="/js/controllers/laboratori.js"></script>
    <script src="/js/controllers/stats.js"></script>
    <script src="/js/controllers/casette_report.js"></script>
  </body>
</html>
