<table ng-if="results.length" class="table table-bordered table-condensed table-linksuggestioninternal">
  <tbody>
    <tr ng-repeat="result in results" ng-class="{'gray-bg':selectedIndex === $index}">
        <td class="col-sm-8"><i class="fa fa-link"></i> {{result.titolo}}</td>
        <td class="col-sm-2 text-center">link interno</td>
        <td class="col-sm-2 text-center"><a href="" class="btn btn-primary btn-xs btc-clickLink" ng-click="select($index)"><i class="fa fa-plus"></i> aggiungi</a></td>
    </tr>
  </tbody>
</table>

<table ng-if="!results.length" class="table table-bordered table-condensed table-linksuggestionexternal">
  <tbody>
    <tr>
        <td class="col-sm-8"><i class="fa fa-external-link"></i> {{bindModel}}</td>
        <td class="col-sm-2 text-center">link esterno</td>
        <td class="col-sm-2 text-center"><a href="" class="btn btn-primary btn-xs btc-clickLink" ng-click="select($index)">aggiungi</a></td>
    </tr>
  </tbody>
</table>

