<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                       <form name="form.nuovaCategoria" novalidate>
                            <div class="form-group">
                                <label for="categoriaUpload">Nome</label>
                                <input type="text" class="form-control" ng-model="nomeCategoriaUpload" required>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="salvaCategoria(nomeCategoriaUpload)" ng-disabled="form.nuovaCategoria.$invalid">Salva</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button>  
            </div>
        </div>
    </div>
</div>