<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="$hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Dettaglio letture inviate</h4>
          </div>
            <div class="modal-body"> 
                <div class="row">
                	<div class="col-sm-12"> 
	            		<cloudinary id="brianzacque_dev/graficiinterventi"
	                            transformation="w_1000"
	                            bootstrapclass="img-thumbnail"></cloudinary>
                	</div> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>  
            </div>
        </div>
    </div>
</div>