<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="$hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><span style="text-transform: capitalize;">{{intervento.tipo}}</span> del {{intervento.data | date:'dd/MM/yy'}} alle {{intervento.data | date:'HH:mm'}}</h4>
          </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive" ng-if="intervento.tipo==='rilevamento'">
                            <table class="table table-striped table-bordered table-hover" role="grid">
                                <tbody>
                                    <tr>
                                        <th>Operatore</th>
                                        <td>{{intervento.user.user_metadata.name}}</td>
                                    </tr>
                                    <tr>
                                        <th>Contatore ambiente</th>
                                        <td>
                                            <span ng-if="!intervento.ambiente_non_rilevato">{{intervento.ambiente | litri}}</span>
                                            <span ng-if="intervento.ambiente_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contatore fredda</th>
                                        <td>
                                            <span ng-if="!intervento.fredda_non_rilevato">{{intervento.fredda | litri}}</span>
                                            <span ng-if="intervento.fredda_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contatore gasata</th>
                                        <td>
                                            <span ng-if="!intervento.gasata_non_rilevato">{{intervento.gasata | litri}}</span>
                                            <span ng-if="intervento.gasata_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ingresso casetta</th>
                                        <td>
                                            <span ng-if="!intervento.ingresso_casetta_non_rilevato">{{intervento.ingresso_casetta }} m<sup>3</sup></span>
                                            <span ng-if="intervento.ingresso_casetta_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Ingresso acquedotto</th>
                                        <td>
                                            <span ng-if="!intervento.ingresso_acquedotto_non_rilevato">{{intervento.ingresso_acquedotto }} m<sup>3</sup></span>
                                            <span ng-if="intervento.ingresso_acquedotto_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sostituzione filtro</th>
                                        <td>
                                            <span ng-if="!intervento.litri_sostituzione_filtro_non_rilevato">{{intervento.litri_sostituzione_filtro | litri}}</span>
                                            <span ng-if="intervento.litri_sostituzione_filtro_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>  
                                    <tr>
                                        <th>Lampada UV</th>
                                        <td>
                                            <span ng-if="!intervento.lampada_uv_non_rilevato">{{intervento.lampada_uv}} giorni trascorsi</span>
                                            <span ng-if="intervento.lampada_uv_non_rilevato" class="text-warning">Non rilevato</span>
                                        </td>
                                    </tr>                                                                               
                                </tbody>
                            </table>
                        </div>
                        <!--/rilevamento--> 
                        <div class="table-responsive" ng-if="intervento.tipo==='manutenzione'">
                            <table class="table table-striped table-bordered table-hover" role="grid">
                                <tbody>
                                    <tr>
                                        <th>Operatore</th>
                                        <td colspan="2">{{intervento.user.user_metadata.name}}</td>
                                    </tr>
                                    <!--
                                    <tr>
                                        <th>Bombole sostituite</th>
                                        <td colspan="2">{{intervento.bombole_sostituite}}</td>
                                    </tr>
                                    <tr>
                                        <th>Bombole rimosse</th>
                                        <td colspan="2">{{intervento.bombole_rimosse}}</td>
                                    </tr> -->
                                    <tr>
                                        <th>Durata intervento</th>
                                        <td colspan="2">{{intervento.durata_intervento}} ore</td>
                                    </tr>
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;">
                                    <tr>
                                        <th>Sostituzione filtro <sup class="text-warning" ng-if="intervento.sostituzione_filtro_litri">(1)</sup></th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_filtro"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_filtro_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_filtro_note}}</td>
                                    </tr>                                    
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;">
                                    <tr>
                                        <th>Pulizia</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.pulizia"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.pulizia_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.pulizia_note}}</td>
                                    </tr>
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;">
                                    <tr>
                                        <th>Sostituzione pulsanti</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_pulsanti"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_pulsanti_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_pulsanti_note}}</td>
                                    </tr>
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;">
                                    <tr>
                                        <th>Disinfestazione</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.disinfestazione"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.disinfestazione_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.disinfestazione_note}}</td>
                                    </tr>
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;">
                                    <tr>
                                        <th>Sanificazione</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sanificazione"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sanificazione_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sanificazione_note}}</td>
                                    </tr>
                                </tbody>                                
                                <!-- nuovo campo unificato-->
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;">
                                    <tr>
                                        <th>Sostituzione lampade UV<sup class="text-warning" ng-if="intervento.sostituzione_lampade_giorni">(2)</sup></th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_lampade"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_lampade_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_lampade_note}}</td>
                                    </tr>                                                                                                                   
                                </tbody> 

                                <!-- tengo per i vecchi dati dopo unificazione lampade in un campo solo -->

                                <tbody data-start-collapsed="true" bs-collapse style="border:none;"
                                ng-if="intervento.sostituzione_lampada_naturale_ambiente==0 || intervento.sostituzione_lampada_naturale_ambiente==1">
                                    <tr>
                                        <th>Sostituzione lampada naturale ambiente</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_lampada_naturale_ambiente"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_lampada_naturale_ambiente_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_lampada_naturale_ambiente_note}}</td>
                                    </tr>                                                                                                                   
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;"
                                ng-if="intervento.sostituzione_lampada_naturale_fredda==0 || intervento.sostituzione_lampada_naturale_fredda==1">
                                    <tr>
                                        <th>Sostituzione lampada naturale fredda</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_lampada_naturale_fredda"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_lampada_naturale_fredda_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_lampada_naturale_fredda_note}}</td>
                                    </tr>                                                                                                                   
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;"
                                ng-if="intervento.sostituzione_lampada_gasata_fredda==0 || intervento.sostituzione_lampada_gasata_fredda==1">
                                    <tr>
                                        <th>Sostituzione lampada gasata fredda</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_lampada_gasata_fredda"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_lampada_gasata_fredda_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_lampada_gasata_fredda_note}}</td>
                                    </tr>                                                                                                                   
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;"
                                ng-if="intervento.sostituzione_lampada_ingresso==0 || intervento.sostituzione_lampada_ingresso==1">
                                    <tr>
                                        <th>Sostituzione lampada ingresso</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_lampada_ingresso"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_lampada_ingresso_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_lampada_ingresso_note}}</td>
                                    </tr>                                                                                                                   
                                </tbody>
                                <tbody data-start-collapsed="true" bs-collapse style="border:none;"
                                ng-if="c.sostituzione_lampada_erogatore==0 || intervento.sostituzione_lampada_erogatore==1">
                                    <tr>
                                        <th>Sostituzione lampada erogatore</th>
                                        <td class="text-center"><i class="fa fa-check text-success" ng-if="intervento.sostituzione_lampada_erogatore"></i></td>
                                        <td class="text-center"><a href="" class="btn btn-success btn-xs" ng-if="intervento.sostituzione_lampada_erogatore_note" bs-collapse-toggle>note</a></td>
                                    </tr>
                                    <tr class="success" bs-collapse-target>
                                        <td colspan="3" style="padding:10px 20px 10px 30px;">{{intervento.sostituzione_lampada_erogatore_note}}</td>
                                    </tr>                                                                                                                   
                                </tbody>
                                <!-- /tengo per i vecchi dati dopo unificazione lampade in un campo solo -->


                            </table>
                        </div>
                        <!--/manutenzione--> 
                        <div ng-if="intervento.sostituzione_filtro_litri" class="text-warning m-b-md"><strong><sup>(1)</sup> Avvenuta a {{intervento.sostituzione_filtro_litri | litri}}</strong></div>
                        <div ng-if="intervento.sostituzione_lampade_giorni" class="text-warning m-b-md"><strong><sup>(2)</sup> Avvenuta a {{intervento.sostituzione_lampade_giorni}} giorni</strong></div>
                        <div class="alert alert-warning" ng-if="intervento.note"><strong>Note</strong><br />{{intervento.note}}</div>   

                    </div>
                </div>
                <div class="row" ng-show="user.roles.indexOf('admin')!==-1">
                    <div class="col-sm-12">
                        <strong>_id intervento: </strong> <code>{{intervento._id}}</code>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Chiudi</button>  
            </div>
        </div>
    </div>
</div>