<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                    	<form action="" name="formintestazione">
	                 		<label for="">Nome colonna</label>
	                		<input type="text" class="form-control" ng-model="nuova" required>  

	                		<div class="alert alert-danger m-t-sm" ng-if="menuerror">
	                			La colonna esiste già
	                		</div>                 		
                    	</form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" ng-click="$hide()">Annulla</button>
                <button type="button" class="btn btn-primary" ng-click="salvaIntestazione(nuova)" ng-disabled="formintestazione.$invalid">
					Salva
                </button>
            </div>
        </div>
    </div>
</div>