 

<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                Caricamento non a norma
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12" ng-if="!datoAnalisi.aNorma" style="overflow-y:scroll; max-height: 400px; border: 2px solid #eee; padding: 10px;">

                       <div class="alert alert-warning">Alcuni parametri non rientrano nei limiti della norma, vuoi proseguire comunque con il caricamento?</div>

                       <div class="row m-t" ng-repeat="v in valoriCritici">
                           <div class="col-sm-12">
                               <h4>{{v.Comune}} ({{v.codiceSif }})</h4>
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-2">Valore</th>
                                            <th class="text-right">Dato non a norma</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in v.valori" ng-if="!d.aNorma">
                                            <td class="col-sm-2">{{ d.nome }}</td>
                                            <td class="text-right">{{ d.valore }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                           </div>
                       </div>

                        

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-primary" ng-click="salvaAnalisi()">
                    Conferma caricamento
                </button>
                <button type="button" class="btn btn-default" ng-click="cancellaAnalisi()">
                    Annulla
                </button>
            </div>
        </div>
    </div>
</div>