<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header">
				<button type="button" ng-click="$hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Dettagio log</h4>
			</div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
						<pre>
							{{log | json}}
						</pre>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">
                    Chiudi
                </button>  
            </div>
        </div>
    </div>
</div>