<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                       <form name="form.invioMailtes" novalidate>
                         <label for="nota">Invia mail di test a:</label>
                            <div class="form-group">
                                <input type="text"
                                    class="form-control"
                                    ng-model="newsletter.mailTest"
                                    id="form.newsletter.informazioni.mailTest" 
                                    autocomplete="off" 
                                    placeholder="Es: mario.rossi@brianzacque.it, roberto.chiaro@brianzacque.it"
                                    required 
                                    >
                                <small class="help-block text-danger" ng-if="!validateListEmail() && newsletter.mailTest">{{CONFIG.messages.newsletter_error_mail_message}}</small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$hide();inviaTest()" 
                ng-disabled="form.invioMailtes.$invalid || !validateListEmail()">Invia</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">
                    <span>Annulla</span>
                </button>  
            </div>
        </div>
    </div>
</div>