<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-lg">
			<div class="modal-header clearfix">
				<button type="button" ng-click="$hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Ultime 20 news per tipo</h4>
			</div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-sm-12">
                      <div bs-active-pane="tabs.activeTab" bs-tabs>
                          <div  ng-repeat="tab in tabs" data-title="{{ tab.title }}" name="{{ tab.title }}" bs-pane>
                              <div ng-include="tab.template"></div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">
                    Chiudi
                </button>  
            </div>
        </div>
    </div>
</div>