<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                       <form name="form.nota" novalidate>
                            <div class="form-group">
                                <label for="nota">Note {{descrizioneCampo}}</label>
                                <textarea ng-disabled="preview" class="form-control" id="nota" cols="30" rows="5" ng-model="nota"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-show="esisteNota(campo) && !preview" class="btn btn-danger pull-left" ng-click="eliminaNota(campo,nota)" ng-disabled="form.nota.$invalid">Elimina</button>
                <button type="button" ng-hide="preview" class="btn btn-primary" ng-click="salvaNota(campo,nota)" ng-disabled="form.nota.$invalid">Salva</button>
                <button type="button" class="btn btn-default" ng-click="$hide()">
                    <span ng-hide="preview">Annulla</span>
                    <span ng-show="preview">Chiudi</span>
                </button>  
            </div>
        </div>
    </div>
</div>