<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                    	<form action="" name="formmenu">
	                 		<label for="">Nome del menu</label>
	                		<input type="text" class="form-control" ng-model="nuovomenu" required>                  		
                    	</form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            	<a type="button" class="btn btn-default" ng-click="$hide()">Annulla</a>
                <a type="button" class="btn btn-primary" ng-click="salvaMenu(nuovomenu)" ng-disabled="formmenu.$invalid">
					Salva
                </a>
            </div>
        </div>
    </div>
</div>