<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="$hide()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>{{playing.name}}</h4>
          </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
						<iframe src="{{playing.src}}" width="100%" height="360" frameborder="0" title="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>