<div class="modal animated bounceInRight" tabindex="-1" role="dialog" aria-hidden="true" bsmodal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3><i class="fa fa-cog fa-spin"></i> Caricamento in corso</h3>
                        <dl ng-repeat="file in files">
                            <dt>{{file.name}}</dt>
                            <dd>
                                <div class="progress">
                                    <div 
                                       class="progress-bar" 
                                       ng-class="{'active progress-bar-striped' :file.progress<100 , 'progress-bar-success' : file.progress===100}"
                                       role="progressbar" 
                                       aria-valuenow="{{file.progress}}" 
                                       aria-valuemin="0" aria-valuemax="100" 
                                       style="width: {{file.progress}}%"><span ng-show="file.progress===100"><i class="fa fa-check"></i> caricato!</span>
                                    </div>
                                </div>                                
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>