<h2>Nuova manutenzione casetta</h2>
<div class="hr-line-dashed"></div>
<form name="formMenutenzioneCasetta"
    class="form-horizontal"
    novalidate>
    <div class="form-group">
        <label for="formMenutenzioneCasetta.casetta"
            class="col-sm-3 control-label">Casetta <span ng-hide="preview">*</span></label>
        <div class="col-sm-5">
            <select id="formMenutenzioneCasetta.casetta"
                class="form-control"
                ng-hide="preview"
                ng-model="rilevamento.casetta"
                ng-options="casetta._id as casetta.descrizione for casetta in casette"
                ng-change="changeCasetta()"
                required>
                <option value="">- Scegli -</option>
            </select>
            <div ng-show="preview"
                class="operatore-field-preview">{{rilevamento.casetta_descrizione}}</div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    
    <!-- raggruppo, le informazioni dipendono da quale casetta sceglie -->
    <div ng-if="rilevamento.casetta && ultimo_rilevamento.$resolved">
    
        <div class="form-group">
            <label for="formMenutenzioneCasetta.data"
                class="col-sm-3 control-label">Data manutenzione <span ng-hide="preview">*</span></label>
            <div class="col-sm-5"
                ng-hide="preview">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text"
                        class="form-control"
                        data-autoclose="1"
                        ng-model="rilevamento.data"
                        name="data"
                        id="formMenutenzioneCasetta.data"
                        data-min-date="{{ultimo_rilevamento[0].data}}"
                        ng-change="changeData()"
                        bs-datepicker
                        required>
                    <!-- nb: il datepicker deve presentare date successive all'ultimo rilevamento!!!! -->
                </div>
                <small class="help-block m-b-none">
                    <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !formMenutenzioneCasetta.data.$valid">Nessun rilevamento ancora effettuato</span>
                    <span ng-if="ultimo_rilevamento.length>0">Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].data | date:'dd/MM/yy' }}</strong> alle <strong>{{ultimo_rilevamento[0].data | date: 'HH:mm'}}</strong></span>
                </small>
                </div>
            <div class="col-sm-3"
                ng-hide="preview">
                <div class="input-group"
                    ng-show="rilevamento.data"> <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="text"
                        class="form-control"
                        data-autoclose="1"
                        data-time-format="H:mm"
                        ng-model="rilevamento.data"
                        bs-timepicker> </div>
            </div>
            <div class="col-sm-5"
                ng-show="preview">
                <div class="operatore-field-preview">{{rilevamento.data | date:'dd/MM/yy' }} alle {{rilevamento.data | date: 'HH:mm'}}</div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            <label for=""
                class="col-sm-3 control-label">Interventi</label>
            <div class="col-sm-9">
                <div class="row m-b-md">
                    <div class="col-sm-7">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox1"
                                type="checkbox"
                                ng-disabled="preview"
                                ng-model="rilevamento.sostituzione_filtro">
                            <label for="checkbox1"> Sostituzione filtro </label>
                        </div>
                        <span class="text-warning p-w-md" ng-if="ultimo_rilevamento_rilevamento.$resolved && ultimo_rilevamento_rilevamento[0].litri_sostituzione_filtro">ultimo rilevamento: <strong>{{ultimo_rilevamento_rilevamento[0].litri_sostituzione_filtro | litri}}</strong></span>
                    </div>
                    <div class="col-sm-5"> <a href=""
                            class="btn btn-sm"
                            ng-class="esisteNota('sostituzione_filtro') || 'btn-default'"
                            ng-click="note('sostituzione_filtro','sostituzione filtro')">Note</a> </div>
                </div>
                <!--/check-->
                <div class="row m-b-md">
                    <div class="col-sm-7">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox2"
                                type="checkbox"
                                ng-disabled="preview"
                                ng-model="rilevamento.pulizia">
                            <label for="checkbox2"> Pulizia </label>
                        </div>
                    </div>
                    <div class="col-sm-5"> <a href=""
                            class="btn btn-default btn-sm"
                            ng-class="esisteNota('pulizia') || 'btn-default'"
                            ng-click="note('pulizia','pulizia')">Note</a> </div>
                </div>
                <!--/check-->
                <div class="row m-b-md">
                    <div class="col-sm-7">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox3"
                                type="checkbox"
                                ng-disabled="preview"
                                ng-model="rilevamento.sostituzione_pulsanti">
                            <label for="checkbox3"> Sostituzione pulsanti </label>
                        </div>
                    </div>
                    <div class="col-sm-5"> <a href=""
                            class="btn btn-sm"
                            ng-class="esisteNota('sostituzione_pulsanti') || 'btn-default'"
                            ng-click="note('sostituzione_pulsanti','sostituzione pulsanti')">Note</a> </div>
                </div>
                <!--/check-->
                <div class="row m-b-md">
                    <div class="col-sm-7">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox4"
                                type="checkbox"
                                ng-disabled="preview"
                                ng-model="rilevamento.disinfestazione">
                            <label for="checkbox4"> Disinfestazione </label>
                        </div>
                    </div>
                    <div class="col-sm-5"> <a href=""
                            class="btn btn-sm"
                            ng-class="esisteNota('disinfestazione') || 'btn-default'"
                            ng-click="note('disinfestazione','disinfestazione')">Note</a> </div>
                </div>
                <!--/check-->
                <div class="row m-b-md">
                    <div class="col-sm-7">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox4"
                                type="checkbox"
                                ng-disabled="preview"
                                ng-model="rilevamento.sanificazione">
                            <label for="checkbox4"> Sanificazione </label>
                        </div>
                    </div>
                    <div class="col-sm-5"> <a href=""
                            class="btn btn-sm"
                            ng-class="esisteNota('sanificazione') || 'btn-default'"
                            ng-click="note('sanificazione','sanificazione')">Note</a> </div>
                </div>
                <!--/check-->
                <div class="row m-b-md">
                    <div class="col-sm-7">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox5"
                                type="checkbox"
                                ng-disabled="preview"
                                ng-model="rilevamento.sostituzione_lampade">
                            <label for="checkbox5"> Sostituzione lampade UV</label>
                        </div>
                        <span class="text-warning p-w-md" ng-if="ultimo_rilevamento_rilevamento.$resolved && ultimo_rilevamento_rilevamento[0].lampada_uv">ultimo rilevamento: <strong>{{ultimo_rilevamento_rilevamento[0].lampada_uv}} giorni</strong></span>
                    </div>
                    <div class="col-sm-5"> <a href=""
                            class="btn btn-sm"
                            ng-class="esisteNota('sostituzione_lampade') || 'btn-default'"
                            ng-click="note('sostituzione_lampade','sostituzione lampade')">Note</a> </div>
                </div>
                <!--/check-->
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label for="formMenutenzioneCasetta.bombole_sostituite" class="col-sm-3 control-label">Bombole sostituite</label> 
            <div class="col-sm-5">
                <input type="number" min="1" ng-hide="preview" class="form-control" id="formMenutenzioneCasetta.bombole_sostituite" ng-model="rilevamento.bombole_sostituite">
                <div ng-show="preview" class="operatore-field-preview">{{rilevamento.bombole_sostituite}}</div>
            </div>       
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group">
            <label for="formMenutenzioneCasetta.bombole_rimosse" class="col-sm-3 control-label">Bombole rimosse</label> 
            <div class="col-sm-5">
                <input type="number" min="1" ng-hide="preview" class="form-control" id="formMenutenzioneCasetta.bombole_rimosse" ng-model="rilevamento.bombole_rimosse">
                <div ng-show="preview" class="operatore-field-preview">{{rilevamento.bombole_rimosse}}</div>
            </div>       
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group">
            <label for="formMenutenzioneCasetta.durata_intervento" class="col-sm-3 control-label">Durata intervento <span ng-hide="preview">*</span></label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="0" 
                        id="formMenutenzioneCasetta.durata_intervento"
                        class="form-control"
                        ng-model="rilevamento.durata_intervento"
                        required>
                    <span class="input-group-addon">Ore</span>
                </div>    
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">{{rilevamento.durata_intervento}} ore</div>        
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <label for="formMenutenzioneCasetta.note" class="col-sm-3 control-label">Note</label> 
            <div ng-hide="preview" class="col-sm-5">
                <textarea rows="3"
                    id="formMenutenzioneCasetta.note"
                    class="form-control"
                    ng-model="rilevamento.note"
                    ></textarea>
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">{{rilevamento.note}}</div>        
        </div>
    </div>
    
    <!-- mostro mentro recupero l'ultimo rilevamento -->
    <div ng-if="rilevamento.casetta && !ultimo_rilevamento.$resolved" class="text-center m-t-xl">
        <i class="fa fa-cog fa-spin"></i> Cerco l'ultima manutenzione...
    </div>
    
    <div class="row"
        ng-hide="success">
        <div class="col-sm-12 text-right">
            <ul class="list-inline animated fadeIn">
                <li><a href=""
                        class="btn btn-default"
                        ng-click="annullaRilevamento()"><i class="fa fa-close"></i> Annulla</a></li>
                <li ng-hide="preview || formMenutenzioneCasetta.$invalid"><a class="btn btn-primary"
                        ng-click="previewRilevamento()">Anteprima</a></li>
                <li ng-show="preview"><a href=""
                        class="btn btn-warning"
                        ng-click="modificaRilevamento()"><i class="fa fa-edit"></i> Modifica i dati</a></li>
                <li ng-show="preview"><a class="btn btn-primary"
                        ng-click="salvaRilevamento()" ng-disabled="saving">
                        <span ng-hide="saving">Salva</span>
                        <span ng-show="saving"><i class="fa fa-cog fa-spin"></i> Salvo la manutenzione...</span>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="row"
        ng-show="success">
        <div class="col-sm-12 text-right">
            <ul class="list-inline animated fadeInRight">
                <li><a class="btn btn-danger"
                        ng-click="eliminaRilevamento()"><i class="fa fa-trash-o"></i> Elimina questa manutenzione</a></li>
                <li><a class="btn btn-primary"
                        ng-click="annullaRilevamento()"><i class="fa fa-check"></i> Ok ho finito</a></li>
            </ul>
        </div>
    </div>
</form>