<h2>Nuovo rilevamento casetta</h2>
<div class="hr-line-dashed"></div> 
<form name="formRilevamentoCasetta"  class="form-horizontal" novalidate ng-if="casette.$resolved">
    <div class="form-group">
        <label for="formRilevamentoCasetta.casetta" class="col-sm-3 control-label">Casetta <span ng-hide="preview">*</span></label> 
        <div class="col-sm-5">
            <select 
               id="formRilevamentoCasetta.casetta" 
               class="form-control" 
               ng-hide="preview" 
               ng-model="rilevamento.casetta" 
               ng-options="casetta._id as casetta.descrizione for casetta in casette"
               ng-change="changeCasetta()"
               required>
                <option value="">- Scegli -</option>
            </select>
            <div ng-show="preview" class="operatore-field-preview">{{rilevamento.casetta_descrizione}}</div>
        </div>       
    </div>
    <div class="hr-line-dashed"></div>
    
    <!-- raggruppo, le informazioni dipendono da quale casetta sceglie -->
    <div ng-if="rilevamento.casetta && ultimo_rilevamento.$resolved">
    
        <div class="form-group">
            <label for="formRilevamentoData" class="col-sm-3 control-label">Data rilevamento <span ng-hide="preview">*</span></label>
            <div class="col-sm-5" ng-hide="preview">
                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text"
                        class="form-control"
                        data-autoclose="1"
                        ng-model="rilevamento.data"
                        name="data"
                        id="formRilevamentoData"
                        data-min-date="{{ultimo_rilevamento[0].data}}"
                        ng-change="changeData()"
                        bs-datepicker
                        required>
                </div>
                <small class="help-block m-b-none">
                    <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !formRilevamentoCasetta.data.$valid">Nessun rilevamento ancora effettuato</span>
                    <span ng-if="ultimo_rilevamento.length>0 && ultimo_rilevamento[0].data">Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].data | date:'dd/MM/yy' }}</strong> alle <strong>{{ultimo_rilevamento[0].data | date: 'HH:mm'}}</strong></span>
                </small>                
            </div>
            <div class="col-sm-3" ng-hide="preview">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="text"
                        class="form-control"
                        data-autoclose="1"
                        data-time-format="H:mm"
                        ng-model="rilevamento.data"
                        bs-timepicker>
                </div>
            </div>
            <div class="col-sm-5" ng-show="preview">
                <div class="operatore-field-preview">{{rilevamento.data | date:'dd/MM/yy' }} alle {{rilevamento.data | date: 'HH:mm'}}</div>
            </div>
        </div>
        <div class="hr-line-dashed"></div> 
        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.ambiente.$invalid && !formRilevamentoCasetta.ambiente.$pristine && !preview }">
            <label for="formRilevamentoCasetta.ambiente" class="col-sm-3 control-label">Contatore ambiente <span ng-hide="preview">*</span></label> 
            <div ng-hide="preview"  class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{min(ultimo_rilevamento[0].ambiente)}}" 
                        id="formRilevamentoCasetta.ambiente"
                        class="form-control"
                        name="ambiente"
                        ng-model="rilevamento.ambiente"
                        ng-disabled="rilevamento.ambiente_non_rilevato"
                        required>
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.ambiente_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('ambiente')">
                                <span ng-if="!rilevamento.ambiente_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.ambiente_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                    <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !formRilevamentoCasetta.ambiente.$valid">Nessun rilevamento ancora effettuato</span>
                    <span ng-if="ultimo_rilevamento.length>0">Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].ambiente | litri}}</strong></span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.ambiente_non_rilevato">{{rilevamento.ambiente | litri}}</span>
                <span ng-if="rilevamento.ambiente_non_rilevato" class="text-warning">Non rilevato</span>
            </div>       
        </div>
        <div class="hr-line-dashed"></div>  
        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.fredda.$invalid && !formRilevamentoCasetta.fredda.$pristine && !preview }">
            <label for="formRilevamentoCasetta.fredda" class="col-sm-3 control-label">Contatore fredda <span ng-hide="preview">*</span></label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{min(ultimo_rilevamento[0].fredda)}}"
                        name="fredda"
                        id="formRilevamentoCasetta.fredda"
                        class="form-control"
                        ng-model="rilevamento.fredda"
                        ng-disabled="rilevamento.fredda_non_rilevato"
                        required>
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.fredda_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('fredda')">
                                <span ng-if="!rilevamento.fredda_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.fredda_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                   <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !formRilevamentoCasetta.fredda.$valid">Nessun rilevamento ancora effettuato</span>
                   <span ng-if="ultimo_rilevamento.length>0"> Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].fredda | litri}}</strong></span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.fredda_non_rilevato">{{rilevamento.fredda | litri}}</span>
                <span ng-if="rilevamento.fredda_non_rilevato" class="text-warning">Non rilevato</span>
            </div>    
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.gasata.$invalid && !formRilevamentoCasetta.gasata.$pristine && !preview }">
            <label for="formRilevamentoCasetta.gasata" class="col-sm-3 control-label">Contatore gasata <span ng-hide="preview">*</span></label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{min(ultimo_rilevamento[0].gasata)}}"
                        name="gasata"
                        id="formRilevamentoCasetta.gasata"
                        class="form-control"
                        ng-model="rilevamento.gasata"
                        ng-disabled="rilevamento.gasata_non_rilevato"
                        required>
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.gasata_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('gasata')">
                                <span ng-if="!rilevamento.gasata_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.gasata_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                   <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !formRilevamentoCasetta.gasata.$valid">Nessun rilevamento ancora effettuato</span>
                   <span ng-if="ultimo_rilevamento.length>0"> Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].gasata | litri}}</strong></span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.gasata_non_rilevato">{{rilevamento.gasata | litri}}</span>
                <span ng-if="rilevamento.gasata_non_rilevato" class="text-warning">Non rilevato</span>
            </div>       
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.ingresso_casetta.$invalid && !formRilevamentoCasetta.ingresso_casetta.$pristine && !preview }">
            <label for="formRilevamentoCasetta.ingresso_casetta" class="col-sm-3 control-label">Ingresso casetta <span ng-hide="preview">*</span></label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{min(ultimo_rilevamento[0].ingresso_casetta) + 1}}" 
                        name="ingresso_casetta"
                        id="formRilevamentoCasetta.ingresso_casetta"
                        class="form-control"
                        ng-model="rilevamento.ingresso_casetta"
                        ng-disabled="rilevamento.ingresso_casetta_non_rilevato"
                        required>
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.ingresso_casetta_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('ingresso_casetta')">
                                <span ng-if="!rilevamento.ingresso_casetta_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.ingresso_casetta_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                   <span class="text-info" ng-if="ultimo_rilevamento.length==0  && !formRilevamentoCasetta.ingresso_casetta.$valid">Nessun rilevamento ancora effettuato</span>
                   <span ng-if="ultimo_rilevamento.length>0"> Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].ingresso_casetta }} m<sup>3</sup></strong></span>
                   <span ng-if="ultimo_rilevamento.length>0 && rilevamento.ingresso_casetta - ultimo_rilevamento[0].ingresso_casetta >= 38" class="text-info"> (Necessaria sostituzione filtro)</span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.ingresso_casetta_non_rilevato">{{rilevamento.ingresso_casetta }} m<sup>3</sup></span>
                <span ng-if="rilevamento.ingresso_casetta_non_rilevato" class="text-warning">Non rilevato</span>
                <span ng-if="ultimo_rilevamento.length>0 && rilevamento.ingresso_casetta - ultimo_rilevamento[0].ingresso_casetta >= 38" class="text-info"> (Necessaria sostituzione filtro)</span>
            </div>        
        </div>
        <div class="hr-line-dashed"></div>


        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.ingresso_acquedotto.$invalid && !formRilevamentoCasetta.ingresso_acquedotto.$pristine && !preview }">
            <label for="formRilevamentoCasetta.ingresso_acquedotto" class="col-sm-3 control-label">Ingresso acquedotto<span ng-hide="preview">*</span></label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{min(ultimo_rilevamento[0].ingresso_acquedotto)}}" 
                        name="ingresso_acquedotto"
                        id="formRilevamentoCasetta.ingresso_acquedotto"
                        class="form-control"
                        ng-model="rilevamento.ingresso_acquedotto"
                        ng-disabled="rilevamento.ingresso_acquedotto_non_rilevato"
                        required>
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.ingresso_acquedotto_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('ingresso_acquedotto')">
                                <span ng-if="!rilevamento.ingresso_acquedotto_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.ingresso_acquedotto_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                   <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !formRilevamentoCasetta.ingresso_acquedotto.$valid">Nessun rilevamento ancora effettuato</span>
                   <span ng-if="ultimo_rilevamento.length>0"> Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].ingresso_acquedotto }} m<sup>3</sup></strong></span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.ingresso_acquedotto_non_rilevato">{{rilevamento.ingresso_acquedotto }} m<sup>3</sup></span>
                <span ng-if="rilevamento.ingresso_acquedotto_non_rilevato" class="text-warning">Non rilevato</span>
            </div>       
        </div>
        <div class="hr-line-dashed"></div> 

        <!--
        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.litri_sostituzione_filtro.$invalid && !formRilevamentoCasetta.litri_sostituzione_filtro.$pristine && !preview }">
            <label for="formRilevamentoCasetta.litri_sostituzione_filtro" class="col-sm-3 control-label">Sostituzione filtro (litri)</label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{min(ultimo_rilevamento[0].litri_sostituzione_filtro)}}" 
                        name="litri_sostituzione_filtro"
                        id="formRilevamentoCasetta.litri_sostituzione_filtro"
                        class="form-control"
                        ng-model="rilevamento.litri_sostituzione_filtro"
                        ng-disabled="rilevamento.litri_sostituzione_filtro_non_rilevato"
                        >
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.litri_sostituzione_filtro_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('litri_sostituzione_filtro')">
                                <span ng-if="!rilevamento.litri_sostituzione_filtro_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.litri_sostituzione_filtro_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                   <span class="text-info" ng-if="ultimo_rilevamento.length==0  && !rilevamento.litri_sostituzione_filtro">Nessun rilevamento ancora effettuato</span>
                   <span ng-if="ultimo_rilevamento.length>0"> Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].litri_sostituzione_filtro | litri}}</strong></span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.litri_sostituzione_filtro_non_rilevato && rilevamento.litri_sostituzione_filtro >=0">{{rilevamento.litri_sostituzione_filtro | litri}}</span>
                <span ng-if="rilevamento.litri_sostituzione_filtro_non_rilevato" class="text-warning">Non rilevato</span>
            </div>        
        </div>
        <div class="hr-line-dashed"></div>

        -->

        <div class="form-group" ng-class="{ 'has-error': formRilevamentoCasetta.lampada_uv.$invalid && !formRilevamentoCasetta.lampada_uv.$pristine && !preview }">
            <label for="formRilevamentoCasetta.lampada_uv" class="col-sm-3 control-label">lampada UV (gg trascorsi)</label> 
            <div ng-hide="preview" class="col-sm-5">
                <div class="input-group">
                    <input type="number"
                        min="{{ ultimo_rilevamento[0].lampada_uv + 1 }}"
                        name="lampada_uv"
                        id="formRilevamentoCasetta.lampada_uv"
                        class="form-control"
                        ng-model="rilevamento.lampada_uv"
                        ng-disabled="rilevamento.lampada_uv_non_rilevato"
                        >
                        <span class="input-group-btn">
                            <a class="btn" ng-class="rilevamento.lampada_uv_non_rilevato ? 'btn-primary' : 'btn-warning'" type="button" ng-click="nonRilevato('lampada_uv')">
                                <span ng-if="!rilevamento.lampada_uv_non_rilevato"><i class="fa fa-meh-o"></i> Non rilevato</span>
                                <span ng-if="rilevamento.lampada_uv_non_rilevato"><i class="fa fa-undo" ></i> Annulla</span>
                            </a>
                        </span>
                </div>
                <small class="help-block m-b-none">
                   <span class="text-info" ng-if="ultimo_rilevamento.length==0 && !rilevamento.lampada_uv">Nessun rilevamento ancora effettuato</span>
                   <span ng-if="ultimo_rilevamento.length>0"> Ultimo rilevamento: <strong>{{ultimo_rilevamento[0].lampada_uv}} giorni</strong></span>
                   <span ng-if="rilevamento.lampada_uv >= 300" class="text-info"> (Necessaria sotituzione lampada UV)</span>
                </small>        
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">
                <span ng-if="!rilevamento.lampada_uv_non_rilevato && rilevamento.lampada_uv">{{rilevamento.lampada_uv}} giorni</span>
                <span ng-if="rilevamento.lampada_uv_non_rilevato" class="text-warning">Non rilevato</span>
                <span ng-if="rilevamento.lampada_uv >= 300" class="text-info"> (Necessaria sotituzione lampada UV)</span>
            </div>        
        </div>
        <div class="hr-line-dashed"></div>


        <div class="form-group">
            <label for="formRilevamentoCasetta.note" class="col-sm-3 control-label">Note</label> 
            <div ng-hide="preview" class="col-sm-5">
                <textarea rows="3"
                    id="formRilevamentoCasetta.note"
                    class="form-control"
                    ng-model="rilevamento.note"
                    ></textarea>
            </div>
            <div ng-show="preview" class="col-sm-5 operatore-field-preview">{{rilevamento.note || '-'}}</div>        
        </div>
    </div>
    
    <!-- mostro mentro recupero l'ultimo rilevamento -->
    <div ng-if="rilevamento.casetta && !ultimo_rilevamento.$resolved" class="text-center m-t-xl">
        <i class="fa fa-cog fa-spin"></i> Cerco l'ultimo rilevamento...
    </div>
    
    <div class="row" ng-hide="success">
        <div class="col-sm-12 text-right">
            <ul class="list-inline animated fadeIn">
                <li ng-if="nessunRilevamento"><i class="fa fa-warning"></i> Inserisci almeno un rilevamento</li>
                <li><a href="" class="btn btn-default" ng-click="annullaRilevamento()"><i class="fa fa-close"></i> Annulla</a></li>
                <li ng-hide="preview || formRilevamentoCasetta.$invalid || nessunRilevamento"><a class="btn btn-primary" ng-click="previewRilevamento()">Anteprima</a></li>
                <li ng-show="preview" ><a href="" class="btn btn-warning" ng-click="modificaRilevamento()"><i class="fa fa-edit"></i> Modifica i dati</a></li>
                <li ng-show="preview">
                    <a class="btn btn-primary" ng-click="salvaRilevamento()" ng-disabled="saving">
                        <span ng-hide="saving">Salva</span>
                        <span ng-show="saving"><i class="fa fa-cog fa-spin"></i> Salvo il rilevamento...</span>
                    </a>
                </li>
            </ul>
        </div>        
    </div>
    <div class="row" ng-show="success" >
       <div class="col-sm-12 text-right">
           <ul class="list-inline animated fadeInRight">
               <li><a class="btn btn-danger" ng-click="eliminaRilevamento()"><i class="fa fa-trash-o"></i> Elimina questo rilevamento</a></li>
               <li><a class="btn btn-primary" ng-click="annullaRilevamento()"><i class="fa fa-check"></i> Ok ho finito</a></li>
           </ul>
       </div>
    </div>
</form>
