<div class="sidebar-collapse animated fadeInLeft" id="sidebar" >
  <ul side-navigation
      class="nav metismenu"
      id="side-menu" >
    <li class="nav-header">
      <a ng-if="user.email!='plurimedia.demo@plurimedia.it'"
         ui-sref="dashboard"
         class="p-n profile-element text-center">
        <img class="p-sm"
             style="max-width: 180px;"
             src="{{logo}}"
             class="img-responsive" />
      </a>
      <div class="logo-element">
        <a ui-sref="dashboard" class="p-n text-center">
          <img style="max-width: 40px;" src="{{logo_small}}" />
        </a>
      </div>
    </li>
    <li ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('comune')!==-1 || user.roles.indexOf('casette')!==-1 || user.roles.indexOf('casette_lettura')!==-1 || user.roles.indexOf('casette_report')!==-1"
        ng-class="{active: ('casette' | includedByState) ||
                           ('casetta' | includedByState) ||
                           ('casette-report' | includedByState)}">
      <a href="">
        <i class="fa fa-fw fa-home"></i>
        <span class="nav-label">Casette&nbsp;</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="nav nav-second-level"
          ng-class="{in: ('casette' | includedByState) ||
                         ('casetta' | includedByState) ||
                         ('casette-report' | includedByState)}">
        <li
          ui-sref-active="active"
          ng-class="{'active': ('casetta.*' | includedByState)}"
          ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('comune')!==-1 || user.roles.indexOf('casette')!==-1 || user.roles.indexOf('casette_lettura')!==-1 || user.roles.indexOf('casette_report')!==-1">
          <a ui-sref="casette">Elenco</a>
        </li>
        <li
          ui-sref-active="active"
          ng-class="{'active': state.includes('casette_report')}"
          ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1 ||  user.roles.indexOf('casette_lettura')!==-1 ||  user.roles.indexOf('casette_report')!==-1">
          <a ui-sref="casette-report">Report</a>
        </li>
      </ul>
    </li>
    <li ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('erogatori')!==-1 ||  user.roles.indexOf('erogatori_lettura')!==-1 ||  user.roles.indexOf('erogatori_report')!==-1"
        ng-class="{active: ('erogatori' | includedByState) ||
                           ('erogatore' | includedByState) ||
                           ('erogatori-report' | includedByState)}">
      <a href="">
        <i class="fa fa-fw fa-tint"></i>
        <span class="nav-label">Erogatori&nbsp;</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="nav nav-second-level"
          ng-class="{in: ('erogatori' | includedByState) ||
                         ('erogatore' | includedByState) ||
                         ('erogatori-report' | includedByState)}">
        <li ui-sref-active="active"
            ng-class="{ 'active': ('erogatori.*' | includedByState) }"
            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('erogatori')!==-1 ||  user.roles.indexOf('erogatori_lettura')!==-1 ||  user.roles.indexOf('erogatori_report')!==-1">
          <a ui-sref="erogatori">Elenco</a>
        </li>
        <li ui-sref-active="active"
            ng-class="{'active': state.includes('erogatori_report')}"
            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('erogatori')!==-1 ||  user.roles.indexOf('erogatori_lettura')!==-1 ||  user.roles.indexOf('erogatori_report')!==-1">
          <a ui-sref="erogatori-report">Report</a>
        </li>
      </ul>
    </li>
    <li ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('distributori')!==-1"
        ng-class="{active: ('distributori' | includedByState) || ('distributore' | includedByState)}">
      <a href="">
        <i class="fa fa-fw fa-credit-card"></i>
        <span class="nav-label">Distributori&nbsp;</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="nav nav-second-level" ng-class="{in: ('distributori' | includedByState) || ('distributore' | includedByState)}">
        <li ui-sref-active="active"
            ng-class="{ 'active': ('distributori.*' | includedByState) }"
            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('distributori')!==-1">
          <a ui-sref="distributori">Elenco</a>
        </li>
      </ul>
    </li>
    <li ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('laboratorio')!==-1"
        ng-class="{active: ('laboratorio' | includedByState)}">
      <a href="">
        <i class="fa fa-fw fa-flask"></i>
        <span class="nav-label">Laboratorio&nbsp;</span>
        <span class="fa arrow"></span>
      </a>
      <ul class="nav nav-second-level" ng-class="{in: ('laboratorio' | includedByState)}">
        <li ui-sref-active-eq="active"
            ng-class="{'active': ('laboratorio-regole' | includedByState)}"
            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('laboratorio')!==-1">
          <a ui-sref="laboratorio-regole">Elenco regole</a>
        </li>
        <li ui-sref-active-eq="active"
            ng-class="{'active': ('laboratorio-analisi' | includedByState)}"
            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('laboratorio')!==-1">
          <a ui-sref="laboratorio-analisi">Qualità dell'acqua</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
