<div class="m-t" ng-if="articoli.$resolved">
    <div class="alert alert-info" ng-show="!articoli.length">Non ho trovato articoli</div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover"
            role="grid"
            ng-if="articoli.length">
            <thead>
                <tr>
                    <th class="col-sm-1">Data</th>
                    <th class="col-4">Titolo</th>
                    <th class="col-sm-1">Tag</th>
                    <th class="col-sm-2">Autore</th> 
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="articolo in articoli | itemsPerPage: 5  track by articolo._id" pagination-id="articoli">
                    <td>{{articolo.mdate | date:'dd/MM/yy'}}</td>
                    <td>{{articolo.titolo}}</td>
                    <td>{{articolo.tag}}</td>
                    <td >{{articolo.autore.user_metadata.name}}</td>
                    <td><a href="" class="btn btn-primary btn-xs btc-clickLink" 
                    ng-click="addNotizia(articolo, 'articolo')">aggiungi</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<dir-pagination-controls pagination-id="articoli"></dir-pagination-controls>
<div ng-if="!articoli.$resolved" class="m-t-xl text-center">
    <i class="fa fa-cog fa-spin"></i> Carico gli articoli...
</div>