<div class="m-t" ng-if="comunicati.$resolved">
    <div class="alert alert-info" ng-show="!comunicati.length">Non ho trovato comunicati</div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover"
            role="grid"
            ng-if="comunicati.length">
            <thead>
                <tr>
                    <th class="col-sm-1">Data</th>
                    <th class="col-4">Titolo</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="comunicato in comunicati | itemsPerPage: 5 track by comunicato._id"  pagination-id="comunicati">
                    <td>{{comunicato.mdate | date:'dd/MM/yy'}}</td>
                    <td>{{comunicato.titolo}}</td>
                    <td><a href="" class="btn btn-primary btn-xs btc-clickLink" 
                    ng-click="addNotizia(comunicato,'comunicato')">aggiungi</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<dir-pagination-controls pagination-id="comunicati"></dir-pagination-controls>
<div ng-if="!comunicati.$resolved" class="m-t-xl text-center">
    <i class="fa fa-cog fa-spin"></i> Carico i comunicati...
</div>