<div class="m-t" ng-if="eventi.$resolved">
    <div class="alert alert-info" ng-if="!eventi.length">Non ho trovato eventi</div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover"
            role="grid"
            ng-if="eventi.length">
            <thead>
                <tr>
                    <th class="col-sm-1">Data</th>
                    <th class="col-4">Titolo</th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="evento in eventi | itemsPerPage: 5 track by evento._id" pagination-id="eventi">
                    <td>{{evento.da | date:'dd/MM/yy'}}</td>
                    <td>{{evento.titolo}}</td>
                    <td><a href="" class="btn btn-primary btn-xs btc-clickLink" 
                    ng-click="addNotizia(evento,'evento')">aggiungi</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<dir-pagination-controls pagination-id="eventi"></dir-pagination-controls>
<div ng-if="!eventi.$resolved" class="m-t-xl text-center">
    <i class="fa fa-cog fa-spin"></i> Carico gli eventi...
</div>