<nav class="navbar navbar-static-top "
    role="navigation"
    style="margin-bottom: 0">
    <div class="navbar-header" ng-show="user.roles.indexOf('operatore_casette')===-1">
        <span minimaliza-sidebar></span>
    </div>
    <ul class="nav navbar-top-links navbar-right animated fadeInRight">
        <li> <span class="text-muted"><img src="{{user.picture}}" alt="" class="img-circle" style="width: 30px;"> {{user.user_metadata.name}}</span> </li>
        <li> <a href=""
                ng-click="logout()"><i class="fa fa-sign-out"></i>Esci</a> </li>
    </ul>
</nav>
