<!DOCTYPE html>
<html class="no-js" id="top" lang="it">
    <head>
	    <meta charset="utf-8" />
	    <title>Brianzacque | {{descrizione}}</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />
	    <meta http-equiv="cleartype" content="on" />
	    <link rel="stylesheet" href="./lib/cssCasette.css" />
	    <script src="./lib/jquery.js"></script>

	    <script>
	    	var refresh = {{intervalloRefresh}}, // ogni due ore richiedila
	    		duratapagina = {{durataPagina}}, // la pagina dura 10 minuti
	    		durataSottopagina = {{durataPagina}} / 3, // quando dura una parte della pagina (consumi, analisi, totem)
	    		mostravideo = {{mostravideo}},
	    		mostrapagina = {{mostrapagina}},
	    		entrambi = {{entrambi}},
	    		i = 0,
	    		interval,
	    		durataVideo = 0,
	    		video,
			    showPagepart = function (i) {
			    	console.log('mostro la pagina', i)
		    		$('.p').hide()
			    	$('#p'+i).show()
			    	if(i === 2) {
			    		document.body.classList.add('c-totem')
			    	} else {
			    		document.body.classList.remove('c-totem')
			    	}
			    },
			    startPages = function (i) {
			    	showPagepart(i)
			    	interval = setInterval(function(){
						i++
						if(i === 3)
							i = 0

						showPagepart(i)			    
			    	},durataSottopagina)
			    },
			    msTos = function (ms) {
			    	return (ms/1000)/60 + ' minuti'
			    };


	    		console.log('durata pagina', msTos(duratapagina))
	    		console.log('durata sottopagina', msTos(durataSottopagina))
	    		console.log('intervallo refresh',msTos(refresh))
	    		console.log('mostra video', mostravideo )
	    		console.log('mostra pagina', mostrapagina )
	    		console.log('entrambi', entrambi )

	    </script>

	    {{#mostravideo}}
	    <script>
	    $(document).ready(function() {
			video = document.getElementById("play"); 
		})
	    </script>
	    	
	    {{/mostravideo}}
	 

	    {{#mostrapagina}}
	    <script>
	    // la pagina ha tre parti, ognuna dura un terzo della durata complessiva della pagina
	    
		$(document).ready(function() {

			if(!entrambi) {	
				startPages(i)
			}
		   
		})

	    </script>
	    {{/mostrapagina}}

	    {{#entrambi}}
	    	<script>


	    	$(document).ready(function() {
		

				$('#pagina').hide();

				video.play();

				video.addEventListener("ended", function(){

					console.log('finito il video')
					$('#pagina').show();
					$('#video').hide();

					startPages(i)

			    	setTimeout(function(){
			    		clearInterval(interval)
						$('#pagina').hide();
						$('#video').show();
						video.play();		    
			    	},duratapagina)

				})


				video.addEventListener("error", function(){
					console.log('errore durante il caricamento del video')
				})
	    	})
	    	</script>
	    {{/entrambi}}

	    <script>
	    
	    	// refresha la pagina ogni ora
	   
	    	setTimeout(function(){
	    		console.log('richiedo di nuovo la pagina')
	    		location.reload();
	    	},refresh)	    		
	    	

	    </script>
    </head>
    <body>


		{{#mostravideo}}
		<div id="video">
			<script src="./lib/jquery.fitvids.min.js"></script> 
			<script>
			  $(document).ready(function(){

			  	{{^entrambi}}
			  	var video = document.getElementById("play"); 
			  	video.play();
				video.addEventListener("ended", function(){
					video.play();			    
				})
				{{/entrambi}}

			    $("#video").fitVids();
			  });				
			</script>

			<video width="100%" height="100%" id="play" preload="auto">
			  <source src="{{video}}" type="video/mp4">
			</video>		
		</div>
		{{/mostravideo}}
		{{#mostrapagina}}
		<!-- nuova -->
		<div class="container-fluid" id="pagina" style="margin-top: 20px;">

			<div class="p" id="p0" style="max-width: 1440px; margin: 0 auto;">
				<div class="row">
					<div class="col-md-4">
						<div class="c-logo-casetta">
							<img src="/img/casette/logo.svg" alt="Logo BrianzAcque">
						</div>
					</div>
					<div class="col-md-8">
						<div class="c-consumi-boxOne c-half-top-spacer">
							<h2 class="h3 no-margin">Dal {{ data_avviamento_pretty }} le famiglie hanno risparmiato:</h2>
							<h1>{{#formatPrice}}{{ rilevamento.risparmio_famiglie }}{{/formatPrice}}</h1>
						</div>
					</div>
				</div>
				<div class="row c-top-spacer">
					<div class="col-md-4">
						{{#alert}}
						<div class="c-consumi-avviso">
							<h1 class="h2">Avviso</h1>
							<p class="lead">{{ alert }}</p>
						</div>
						{{/alert}}
						{{^alert}}
						<p class="c-claim" style="line-height: 1.2;">
							La <strong>Brianza</strong> che <strong>scorre</strong> <br>
							<strong>Pulita, dinamica, ambiziosa</strong>. <br>
							Un’azienda <strong>pubblica al 100%</strong>, <br>
							al <strong>servizio dei cittadini al 1000‰</strong>. 
						 </p>
						{{/alert}}
					</div>
					<div class="col-md-8">
						<div class="c-half-top-spacer">
							<h2 class="h3 no-margin">La casa dell'acqua ha risparmiato per l'ambiente</h2>
							<hr class="color-hr">
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="c-consumi-boxTwo text-center">
									<img src="/img/casette/acqua.svg">
									<h2>{{#formatNumber}}{{ rilevamento.risparmio_acqua }}{{/formatNumber}} litri</h2>
									<p class="lead">di Acqua</p>
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="c-consumi-boxTwo text-center">
									<img src="/img/casette/greggio.svg">
									<h2>{{#formatNumber}}{{ rilevamento.risparmio_greggio }}{{/formatNumber}} kg</h2>
									<p class="lead">di Greggio</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="c-consumi-boxTwo text-center">
									<img src="/img/casette/co2.svg">
									<h2>{{#formatNumber}}{{ rilevamento.risparmio_co }}{{/formatNumber}} kg</h2>
									<p class="lead">di CO<sub>2</sub> (gas serra)</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="c-consumi-boxTwo text-center">
									<img src="/img/casette/smaltimento.svg">
									<h2>{{#formatPrice}}{{ rilevamento.risparmio_smaltimento }}{{/formatPrice}}</h2>
									<p class="lead">di Smaltimento bottiglie</p>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			<!-- /consumi -->
			<div class="p" id="p1" style="max-width: 1440px; margin: 0 auto;">

				{{#analisi}}
				<div class="col-md-12 c-margin-top-2">

					<h3 class="c-margin-top-4 c-margin-bottom-2">Analisi chimica e chimico-fisica</h3>
			
					<div class="c-box-analisi-container">
						{{#valori}}
						<div class="c-box-analisi">
							<div class="text-center"><strong>{{ nome }}</strong></div>
							<p class="text-center c-margin-reset c-box-analisi-unita">({{ regola.unita_misura }})</p>
							
							<p class="text-center c-text-big c-margin-top c-margin-bottom-2 {{ #aNorma }}text-success{{ /aNorma }}{{ ^aNorma }}text-warning{{ /aNorma }}">{{ valore }}</p>
							
							{{ #regola.note}}
							<div class="clearfix c-box-analisi-footer">
								<small>{{ regola.note }} *</small>
							</div>
							{{ /regola.note }}
						</div>
						{{/valori}}
					</div>
					<p><br />* Valore DM Salute del 14 giugno 2017</p>
					<p>Acqua microbiologicamente conforme</p>

				</div>
				{{/analisi}}
				{{^analisi}}
				<div id="nightpage" style="width: 100vw; height: 100vh; background:#156aab; display: flex; flex-direction: columns; justify-content: center;">
					<img src="/css/logo_bianco.svg" alt="">	
				</div>				
				{{/analisi}}
			</div>
			<!-- /analisi -->
			<div class="p container-fluid" id="p2" style="max-width: 1440px; margin: 0 auto;">
				<div class="c-logo-casetta">
					<img src="/img/casette/logo.svg" alt="Logo BrianzAcque">
				</div>
				<div class="c-totem-title">
					<h1 class="c-half-top-spacer">Distributore tessere</h1>
					<h2 class="h4 c-half-top-spacer">Il totem più vicino per ricaricare le tessere si trova in:</h2>
				</div>
				<div class="c-totem-address">
					{{{ totem }}}
				</div>
			</div>
			<!-- /totem -->


		</div>
		<!-- / nuova -->
		{{/mostrapagina}}
		{{#nightpage}}
		<div id="nightpage" style="width: 100vw; height: 100vh; background:#156aab; display: flex; flex-direction: columns; justify-content: center;">
			<img src="/css/logo_bianco.svg" alt="">	
		</div>
		{{/nightpage}}			
	

    </body>
</html>