<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            {{{css}}}
        </style>
    </head>
    <body>
        <div id="pageHeader" style="height:110px">
            {{{header}}}
        </div>
	    <div id="pageContent">
            <div id="pagetitle">
                <h3>Analisi chimica e chimico-fisica</h3>  
                <span>Punto prelievo di {{ analisi.Comune }}, {{ analisi.via }}</span>
            </div>
            <div class="c-box-analisi-container">
                {{#analisi.valori}}
                    <div class="c-box-analisi"> 
                        <div class="c-box-analisi-nome"><strong>{{ nome }}</strong></div>
                        <div>
                            <p class="c-box-analisi-unita">({{ regola.unita_misura}})</p>
                        </div>
                        <div>
                            <p class="c-box-analisi-valore"><strong>{{ valore }}</strong></p>
                        </div>
                        <div class="c-box-analisi-footer">
                            <small>Valore DM Salute del 14/06/2017: <br><strong>{{regola.note }}</strong></small>
                        </div>
                    </div>
                {{/analisi.valori}}
            </div>
         
            <div class="c-analisi-footer">
                <p><em>Acqua microbiologicamente conforme.</em></p>
                <p><em>Questa stampa ha solo scopo informativo: non può essere considerata “certificato analitico”</em></p>
            </div>
	    </div> 
    </body>
</html>
