

body {
    font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", FreeSans, Sans-serif;
    font-size: 10px;
    line-height: 1.5;
    color: #4a4a4a;
    padding: 0.25cm;
    padding-top: 0.5cm;
}

h1,h2,h3 {
    font-weight: bold;
    color: #4a4a4a;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
 
li {
    padding: 0;
}

#logo {
    width: 100px;
    float: left;
    margin-top: -0.5cm;
    margin-left: -15px;
    padding: 20px;
}

#recapiti {
    float: right;
}

#recapiti img  { /* icone */
    position: absolute;
    top:0;
    left:0;
    height: 14px;
    width: 15px; 
}

#indirizzo,
#telefoni,
#sito {
    display: inline-block;
    width: 110px;
    margin-right: 10px;
    position: relative;
    height: 87px;
    font-size: 8px; 
}

#sito {
    margin-right: 0;
}

.recapiti-list {
    position: absolute;
    top: 25px;
    left: 0;
    height: 60px;
}

#pageFooter {
    text-align: center;
    font-size: 8px;
}

#pagetitle {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.25cm;
    margin-top: 1cm;
    margin-bottom: 0.5cm;
}

#pagetitle h3 {
	font-size: 16px;
	line-height: 16px;
    font-weight: bold;
    padding-bottom: 0cm;
    margin-bottom: 0cm;
}

#pagetitle span {
	font-size: 10px;
    font-weight: normal;
    color: #666;
    margin-top: 0cm;
}

#left {
   width: 90%; 
   float: left; 
   display: 
   inline-block;
} 

.c-box-analisi-container {
	width: 100%;
}

.c-box-analisi {
	float: left;  
	padding: 0.10cm;
	border: 1px solid #d9d9d9;
	margin-bottom: 0.25cm;
	margin-right: 0.25cm;
	width: 16.9%;
	height: 2.2cm;
	background: #f6f6f6;
	position: relative;
}

.c-box-analisi:nth-child(5n) {
	margin-right: 0cm;
}

.c-box-analisi-nome, 
.c-box-analisi-unita,
.c-box-analisi-valore {
	text-align: center
}

.c-box-analisi-nome {
	margin-top: 0.15cm;
	margin-bottom: 0;
}

.c-box-analisi-unita {
	font-size: 7px;
	font-style: italic;
	margin-top: 0;
}

.c-box-analisi-valore{
	font-size: 11px;
}

.c-box-analisi-footer {
	font-size: 7px;
	line-height: 8px;
	margin-bottom: 0.20cm;
    text-align: center;
}

.c-analisi-footer {
	display: block;
	clear: both;
	margin-top: 1cm;
	font-size: 9px;
}

/* PDF Risparmio Energetico */

.c-consumi-intro {
    text-align: center;
    margin-top: 20px;
}

.c-consumi-intro h2,
.c-consumi-intro h3 {
    font-weight: normal;
    margin: 0;
}

.c-consumi-intro h3 {
    font-size: 11px;
}

.c-consumi-boxOne {
    margin-top: 0.5cm;
    background: #156aab;
    text-align: center;
    padding: 20px;
    margin-bottom: 0.5cm;
}

.c-consumi-boxOne h2,
.c-consumi-boxOne h1 {
    color: #fff;
    margin: 0;
}

.c-consumi-boxTwo-wrapper {
    margin-top: 0.3cm;
}

.c-consumi-boxTwo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 11px;
    text-align: center;
    width: 45%;
    float: left;
}

.c-consumi-boxTwo h2 {
    margin-bottom: 0;
}

.c-consumi-boxTwo:nth-child(1),
.c-consumi-boxTwo:nth-child(3) {
    margin-right: 11px;
}

.c-consumi-boxTwo:nth-child(3),
.c-consumi-boxTwo:nth-child(4) {
    margin-bottom: 20px;
}

.c-consumi-boxTwo img {
    float: left;
    height: 2cm;
}

.c-consumi-note {
    font-size: 8px;
}

.lead {
    font-size: 110%;
}
