<!--
	mail verso i revisori degli articoli.... inviata quando viene creato un articolo in stato in revisione
-->
{{{header}}}
<tr>
    <td class="column content" width="600" align="left" valign="top" border="0">
    	 <div>
    	 	Buongiorno,<br><br>
			un nuovo articolo dal titolo <i>"{{content.titolo}}"</i> è stato publicato con stato {{content.stato}}; <br><br>
			per visualizzarne il contenuto collegarsi al back_end ed acedere alla sezione articoli.
		</div>
		
    </td>
</tr>
{{{footer}}}

