<!--
	mail verso i responsabili della casette inviata quando si superano valori critici di un rilevamento
	tutti i dati sono nell'oggetto content
-->
{{{header}}}
<tr>
    <td class="column content" width="600" align="left" valign="top" border="0">
    	<h1 class="title">Rilevamento del {{content.data_rilevamento}}</h1>
    	<p class="center">Di seguito i valori critici rilevati</p>
		<table class="nicetable" cellpadding="10" width="100%">
			<thead>
				<tr>
					<th>Dato critico</th>
					<th>Valore</th>
				</tr>
			</thead>
			<tbody>
				{{#content.valori_critici}} 
				<tr>
					<td>{{etichetta}}</td>
					<td>{{valore}}</td>
				</tr>
				{{/content.valori_critici}} 
			</tbody>
		</table>
		<div class="action">
			<a href="{{content.app_data.app_url}}#/casetta/{{content.idcasetta}}/interventi" class="button">Visualizza tutti i rilevamenti della casetta</a>
		</div>
    </td>
</tr>
{{{footer}}}

