<!--
	mail verso i responsabili della casette inviata quando viene riscontarta una mancata chiamata del video dalla casetta
-->
{{{header}}}

{{#content.casetteNonAggiornateExist}} 
<tr>
    <td class="column content" width="600" align="left" border="0">
    	<h1 class="title">Mancata risposta da queste casette</h1>
		<table class="nicetable" cellpadding="10" width="100%">
			<thead>
				<tr>
					<th>Casetta</th>
					<th>Ultima chiamata</th>
				</tr>
			</thead>
			<tbody>
				{{#content.casetteNonAggiornate}} 
				<tr>
					<td>{{descrizione}}</td>
					<td>{{ultima_chiamata_video}}</td>
				</tr>
				{{/content.casetteNonAggiornate}} 
			</tbody>
		</table>
		
	</td>
</tr>
{{/content.casetteNonAggiornateExist}} 

{{#content.casetteAggiornateExist}} 
<tr>
	<td class="column content" width="600" align="left" border="0">
	<h1 class="title">Risposta positiva da queste casette</h1>
		<table class="nicetable" cellpadding="10" width="100%">
			<thead>
				<tr>
					<th>Casetta</th>
					<th>Ultima chiamata</th>
				</tr>
			</thead>
			<tbody>
				{{#content.casetteAggiornate}} 
				<tr>
					<td>{{descrizione}}</td>
					<td>{{ultima_chiamata_video}}</td>
				</tr>
				{{/content.casetteAggiornate}} 
			</tbody>
		</table>
	</td>
</tr>
{{/content.casetteAggiornateExist}}
<tr>
	<td class="column content" width="600" align="left" valign="top" border="0">
		<div class="action">
			<small><strong>Data del controllo:</strong> {{content.data_controllo}}</small>
		</div>
	</td>
</tr>
{{{footer}}}

