<!--
	mail che apre ticket malfunzionamento casetta
-->
{{{header}}}


<tr>
    <td class="column content" width="600" align="left" border="0">
    	<h1 class="title">{{ content.descrizione }}</h1>
		<table class="nicetable" cellpadding="10" width="100%">
			<thead>
				<tr>
					<th>Ultima chiamata</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{content.ultima_chiamata_video}}</td>
				</tr>
			</tbody>
		</table>
		
	</td>
</tr>
<tr>
	<td class="column content" width="600" align="left" valign="top" border="0">
		<div class="action">
			<small><strong>Data del controllo:</strong> {{content.data_controllo}}</small>
		</div>
	</td>
</tr>


{{{footer}}}

