<!--
	footer comune a tutte le mail
	http://responsiveemailpatterns.com/patterns/layout/column-drop.html
-->
    <tr>
        <td class="column footer" width="600" align="center" valign="top" border="0">
        	Mail inviata da <a href="https://brianzacque-backend.herokuapp.com" taregt="_blank">Brianzacque Backend</a> 
        </td>
    </tr>
</table>
