<!--
	intestazione comune a tutte le mail
	http://responsiveemailpatterns.com/patterns/layout/column-drop.html
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- dopo che è stato compilato da mustache il css viene messo inline da juice -->
    <style type="text/css">
      {{{css}}}
    </style>
  </head>
  <body>
	<table cellpadding="0" cellspacing="0" align="center" border="0">
	    <tr>
	        <td class="header" align="center" valign="center" border="0" >
	        	<img src="http://res.cloudinary.com/plurimedia/image/upload/brianzacque_prod/logo_ba.png" alt=""/>
	        </td>
	    </tr>