/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

/* nav pills operatore che sembrano bottoni */

.operatore-nav-pills > li  {
    margin-right: 5px;
}

.operatore-nav-pills > li > a {
    border:1px solid $navy;
    background:none;
    color: $navy;
    border-radius: 0px!important;
}

.operatore-nav-pills > li > a:hover {
    background: $navy;
    color: white;
}

/* preview di un field, che matcha l'allineamento con la control label */

.operatore-field-preview {
    padding-top: ($padding-base-vertical + 1)
}

/* editable widget pagine*/

.editableWidget {
    position: relative;
    //padding-bottom: 1em;
    &:hover {
        [contenteditable] {
            background: #fbf8c8;
        }        
    }
}

.editableWidget-actions {
    position: absolute;
    right: 0;
    top:0;
    background: black;
    color: white;
    padding: .25em .5em;
    ul,li {
        margin: 0;
        padding: 0;
        li {
            margin-right: .2em;
        }
    }
    a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.editableWidget-content {
    h2,h3,h4,h5 {
        margin: 0;
    }
}



/**
 * ng-inline-edit v0.7.0 (http://tamerayd.in/ng-inline-edit)
 * Copyright 2015 Tamer Aydin (http://tamerayd.in)
 * Licensed under MIT
 */
.ng-inline-edit__input {
  border: 0;
  outline: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none; 
   background: #fbf8c8;
   margin: 0;
   padding: 0; width: 100%;}
.ng-inline-edit__inner-container {
  display: inline-block; }
.ng-inline-edit__button {
  cursor: pointer; }

.ng-inline-edit__text {
    outline: none;
    &:hover,&:focus {
        background: #fbf8c8;
    }
}

table .ng-inline-edit {
    display: inline;
}

table .ng-inline-edit__input {
width: auto;}

/* --- Tree --- */
.tree-node {
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
    padding: .25em;
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: .5em;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 1px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em;
}

.angular-ui-tree {
}

.angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    pointer-events: none;
}

.angular-ui-tree-nodes {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: 20px;
}

.angular-ui-tree-node, .angular-ui-tree-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-hidden {
    display: none;
}

.angular-ui-tree-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 20px;
    line-height: 20px;
}

.angular-ui-tree-drag {
    position: absolute;
    pointer-events: none;
    z-index: 999;
    opacity: .8;
}



// drop zone

.drop {
    text-align:center;
    height: 80px;
    line-height: 80px;
    border: 1px dashed #333;
    background: white;
    padding: 20px 20px;
    &.drop-accept {
        border: 2px dashed $blue;
    }
    &.drop-error {
        border: 2px dashed $red;
    }
    h3 {
        margin: 0;
        font-size: 20px;
        line-height: 2;
    }
}

// tabella suggerimento link interni

table.table-linksuggestioninternal {
    background: $light-blue!important;
    td {
        border: 1px solid darken($light-blue,8%)!important;
    }
}

// tabella suggerimento link interni

table.table-linksuggestionexternal {
    background: #eee!important;
    td {
        border: 1px solid #ccc!important;
    }
}

// tabella editable ui.grid

.grid {
    width: 100%;
    height: 90px;
}

