/*
 * Datepicker element
 */

input[bs-datepicker] {
    background: white!important; // fix per ipad
}

input[bs-datepicker]:disabled {
    background: $input-bg-disabled!important; // sovrascrivo
}

.datepicker.dropdown-menu {
  font-size: 11px!important;
  border: 1px solid $light-gray;
  button {
    outline: none;
    border: 0px;
      &.btn-today{
          background: $yellow;
          color: white;
      }
      &.btn-primary {
          background: $lazur;
          color: white;
      }
  }
  tbody {
    height: 180px;
  }
  tbody button {
    padding: 6px;
    font-size: 11px!important;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}