// stili per il plugin https://github.com/marceljuenemann/angular-drag-and-drop-lists

.handle:hover {
    cursor: move;
}

li.dndPlaceholder {
    width:100%;
    height: 60px;
    background: #eee;
    margin: 10px 0;
    border: 2px dashed #ccc;
    list-style: none;
    list-style-type: none;
}

li.dndPlaceholder.pagine {
    width:100%;
    height: 20px;
    background: #fbf8c8;
    margin: 5px 0;
    border: none;
    list-style: none;
    list-style-type: none;
}

 [dnd-list],
 [dnd-list] > li {
	position: relative;
}

tr.dndPlaceholder {
    background: $yellow;
    height: 60px;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
} 