// Basic Colors
$navy: #156aab;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #3ca204;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
$ba: #156aab; // colore brianzacque

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badget
$label-badget-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spiner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;


// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: none;

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2F4050;
$nav-profil-pattern: none;
$nav-text-color: #a7b1c2;

$alert-border-radius: 0px;

// variabili boostrap standard e altro

$icon-font-path: "../lib/bootstrap-sass/assets/fonts/bootstrap/"; // glyphicons (calendario)
$fa-font-path:        "../lib/font-awesome/fonts"; // font awesome
$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      0.4;