/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.4
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
// Variables, Mixins
@import "variables";
@import "mixins";
// bootstrap sui cui si basa il tema
@import "bootstrap-sass/assets/stylesheets/bootstrap";
// icone
@import "font-awesome/scss/font-awesome";
// checkbox fighi
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
// librerie animazioni su cui si basa il tema (semplice css)
@import url("/lib/animate.css/animate.css");
// INSPINIA Theme Elements
@import "typography";
@import "navigation";
@import "top_navigation";
@import "buttons";
@import "badgets_labels";
@import "elements";
@import "sidebar";
@import "base";
@import "pages";
@import "chat";
@import "metismenu";
@import "spinners";
@import "alerts";
// Landing page styles
@import "landing";
// RTL Support
@import "rtl";
// For demo only - config box style
@import "theme-config";
// INSPINIA Skins
@import "skins";
@import "md-skin";
// Media query style
@import "media";
// Custom style
// Your custom style to override base style
@import "custom";
// plugins
@import "datepicker"; // angular strap datepicker
@import "notify"; // notify
@import "draggable"; // drag and drop
@import "login"; // login di auth0
@import "loadingbar"; // loading bar automatica
@import "chrome_alert"; // avviso chrome
// Clear layout on print mod
@media print {
    nav.navbar-static-side {
        display: none;
    }
    #page-wrapper {
        margin: 0;
    }
}


/*
    cose brutte da sistemare
*/

.modal-backdrop {
    // https://github.com/mgcrea/angular-strap/issues/1323
    @include opacity($modal-backdrop-opacity);
}
