 <div class="panel panel-default animated bounceIn">
     <div class="panel-heading handle" dnd-handle><i class="fa fa-arrows"></i> {{categoria.nome}}</div>
     <div class="panel-body">
         <p class="p-xs bg-warning m-b-none">Trascina qui i files</p>
         <!--form>
             <ul class="list-unstyled m-t-md" ng-show="categoria.files.length" dnd-list="categoria.files">
                 <li ng-repeat="file in categoria.files" class="row m-b-sm" dnd-draggable="file" dnd-moved="categoria.files.splice($index, 1)"  dnd-effect-allowed="move" dnd-selected="models.selected = file" dnd-allowed-types="categoria.files">
                    <div class="col-sm-12">
                        <i class="fa fa-arrows pull-left p-xxs" dnd-handle></i>
                        <input type="text" ng-model="file.name" class="form-control input-sm pull-left" style="max-width: 80%;">
                        <a href="{{file.url}}" target="_blank"><i class="fa fa-download text-primary p-xxs"></i></a>
                        <a href=""><i class="fa fa-trash-o text-danger p-xxs"></i></a>     
                    </div>
                 </li>
             </ul>
         </form-->
     </div>
     <div class="panel-footer" ng-hide="categoria.sistema" dnd-nodrag>
         <a href="" ng-click="edit(categoria)"><i class="fa fa-edit text-primary"></i></a>
         <a href="" ng-click="delete(categoria)"><i class="fa fa-trash-o text-danger"></i></a>
     </div>
 </div>
 



