<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <div class="pull-right m-t-xs animated fadeIn">
            <cloudinary  ng-if="articolo.copertina" id="{{articolo.copertina.id}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
            <cloudinary  ng-if="!articolo.copertina" id="{{CONFIG.copertina_default}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
        </div>
        <h2>{{articolo.titolo || 'Nuovo articolo'}}</h2> <a ui-sref="articoli">&laquo; Torna all'elenco degli articoli</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('articolo')}"><a ui-sref="articolo">Informazioni</a></li>
                        <li ng-class="{'active':state.is('articolo.immagini')}"> <a ui-sref="articolo.immagini"
                                ng-show="articolo._id"><i class="fa fa-image"></i> Immagini</a> <a ng-hide="articolo._id"><i class="fa fa-image"></i> Immagini</a> </li>
                        <!--li ng-class="{'active':state.is('articolo.allegati')}"> <a ui-sref="articolo.allegati"
                                ng-show="articolo._id"><i class="fa fa-download"></i> Allegati</a> <a ng-hide="articolo._id"><i class="fa fa-download"></i> Allegati</a> </li-->
                        <li class="pull-right" ng-if="articolo._id">
                            <statoarticolo stato="{{articolo.stato}}"></statoarticolo>
                        </li>
                    </ul>
                    <div class="hr-line-transparent"></div>
                    <div ng-show="state.is('articolo')" >
                        <form name="form.articolo.informazioni"
                            class="form-horizontal"
                            novalidate> 
                            <!--fieldset ng-disabled="fieldDisabled"--> <!-- graficamente non mi piace -->
                            <div class="form-group">
                                <label for="form.articolo.informazioni.data"
                                    class="col-sm-2 control-label">Data&nbsp;</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> 
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="articolo.data"
                                            id="form.articolo.informazioni.data"
                                            bs-datepicker
                                            > 
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.articolo.informazioni.stato"
                                    class="col-sm-2 control-label">Stato *</label>
                                <div class="col-sm-2">
                                    <select class="form-control"
                                        ng-model="articolo.stato"
                                        id="form.articolo.informazioni.stato"  
                                        required
                                        > 
                                        <!--option value="">- scegli -</option-->
                                        <option value="Bozza" 
                                            ng-show="user.roles.indexOf('admin')>=0 ||
                                            user.roles.indexOf('autore')>=0 || 
                                            user.roles.indexOf('revisore')>=0">Bozza</option>
                                        <option value="In revisione" 
                                            ng-show="user.roles.indexOf('admin')>=0 ||
                                            user.roles.indexOf('autore')>=0 || 
                                            user.roles.indexOf('revisore')>=0">In revisione</option>
                                        <option value="Revisionato" 
                                            ng-show="user.roles.indexOf('admin')>=0 ||
                                            user.roles.indexOf('revisore')>=0">Revisionato</option>
                                        <option value="Pubblicato" 
                                            ng-show="user.roles.indexOf('admin')>=0 ||
                                            user.roles.indexOf('revisore')>=0">Pubblicato</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.articolo.informazioni.titolo"
                                    class="col-sm-2 control-label">Titolo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="articolo.titolo"
                                        id="form.articolo.informazioni.titolo" 
                                        autocomplete="off" 
                                        required 
                                        > 
                                </div> 
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.articolo.informazioni.tag"
                                    class="col-sm-2 control-label">Tag 
                                        <font ng-show="user.roles.indexOf('admin')>=0 ||
                                         user.roles.indexOf('revisore')>=0">*</font></label>
                                <div class="col-sm-2">
                                    <select class="form-control"
                                        ng-model="articolo.tag"
                                        id="form.articolo.informazioni.tag"
                                        ng-required="user.roles.indexOf('admin')>=0 ||
                                         user.roles.indexOf('revisore')>=0"
                                        > 
                                        <option value="">- scegli -</option>
                                        <option value="{{tag}}"
                                        ng-repeat="tag in elencoTag">{{tag}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.articolo.informazioni.sezione"
                                    class="col-sm-2 control-label">Sezione <font ng-show="user.roles.indexOf('admin')>=0 ||
                                         user.roles.indexOf('revisore')>=0">*</font></label>
                                <div class="col-sm-2">
                                    <select class="form-control"
                                        ng-model="articolo.sezione"
                                        id="form.articolo.informazioni.sezione"
                                        ng-required="user.roles.indexOf('admin')>=0 ||
                                        user.roles.indexOf('revisore')>=0"
                                        > 
                                        <option value="">- scegli -</option>
                                        <option value="{{sezione}}"
                                        ng-repeat="sezione in elencoSezioni">{{sezione}}</option>
                                    </select>
                                </div> 
                            </div>
                             <div class="hr-line-dashed" 
                                ng-show="user.roles.indexOf('admin')>=0 ||
                                user.roles.indexOf('revisore')>=0"></div>
                             <div class="form-group" 
                                ng-show="user.roles.indexOf('admin')>=0 ||
                                user.roles.indexOf('revisore')>=0">
                                <label for="form.articolo.informazioni.estratto"
                                    class="col-sm-2 control-label">Estratto *</label>
                                <div class="col-sm-8">
                                    <textarea 
                                        ckeditor="editorOptionsRidotto"
                                        ng-model="articolo.estratto" 
                                        ng-required="user.roles.indexOf('admin')>=0 ||
                                user.roles.indexOf('revisore')>=0"
                                        ng-disabled="fieldDisabled"
                                       ></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.articolo.informazioni.testo"
                                    class="col-sm-2 control-label">Testo *</label>
                                <div class="col-sm-8">
                                    <textarea 
                                        ckeditor="editorOptions"
                                        ng-model="articolo.testo" 
                                        required
                                        ng-disabled="fieldDisabled"
                                       ></textarea> 
                                </div>
                            </div>
                            <div class="hr-line-dashed" ng-show="user.roles.indexOf('admin')>=0 || user.roles.indexOf('revisore')>=0"></div>
                            <div class="form-group" 
                            ng-show="(user.roles.indexOf('admin')>=0 || user.roles.indexOf('revisore')>=0) && articolo._id">
                                <label  class="col-sm-2 control-label">Autore</label> 
                                <label for="form.autore.informazioni.mostra_autore"
                                        class="p-w-xs m-t-xsm font-noraml m-r">{{articolo.autore.user_metadata.name}}&nbsp;&nbsp;   
                                        <input type="checkbox" class="m-l"
                                            ng-model="articolo.mostra_autore"
                                            id="form.autore.informazioni.mostra_autore"><font class="font-bold">&nbsp;mostra</font></label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> 
                                    <button ng-click="eliminaArticolo()"
                                        class="btn btn-danger"
                                        ng-disabled="!articolo._id || 
                                        (articolo.stato!='Bozza' && user.roles.indexOf('autore')>=0) || 
                                        fieldDisabled"
                                        >Elimina</button> </div>
                                <div class="col-sm-6 text-right"> 
                                       <button ng-click="salvaArticolo()"
                                        class="btn btn-primary"
                                        ng-disabled="form.articolo.informazioni.$invalid || fieldDisabled"
                                        >Salva</button>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" 
                                        ng-disabled="form.articolo.informazioni.$invalid ||  fieldDisabled"
                                       >
                                        Salva e aggiungi... <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                             <a ng-click="salvaArticolo(1,0)">Immagini</a>
                                        </li>
                                        <!--li>
                                            <a ng-click="salvaArticolo(0,1)">Allegati</a>                                          
                                        </li-->
                                      </ul>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="articolo._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{articolo.revisore.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{articolo.revisore.user_metadata.name}}</strong> il <em>{{articolo.mdate | date: 'dd/MM/yy' }} alle {{articolo.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                            <!--/fieldset-->
                        </form>
                    </div> 
                    <div ui-view></div>
                </div> 
            </div>
        </div>
    </div>
</div>