<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Articoli</h2> 
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Elenco articoli</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    <div class="ibox-tools" 
                    ng-hide="user.roles.indexOf('admin')==-1 && user.roles.indexOf('autore')==-1 && user.roles.indexOf('revisore')==-1">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="articolo"> <i class="fa fa-plus"></i> Nuovo articolo</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form name="form.ricerca.articoli"
                        novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per parola chiave nel titolo ..."
                                        ng-model="cerca.titolo"
                                        class="form-control"> 
                                </div>
                            </div> 
                            <div class="col-md-2">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.anno">
                                    <option value="">- anno -</option>
                                    <option value="{{anno}}"
                                        ng-repeat="anno in anni">{{anno}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.tag">
                                    <option value="">- tag -</option>
                                    <option value="{{tag}}"
                                        ng-repeat="tag in elencoTag">{{tag}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.sezione">
                                    <option value="">- sezione -</option>
                                    <option value="{{sezione}}"
                                        ng-repeat="sezione in elencoSezioni">{{sezione}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="cercaArticolo()"
                                    ng-disabled="!cerca.titolo && !cerca.anno && !cerca.tag && !cerca.sezione"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> 
                                    <a ng-show="searchresults" ng-click="state.reload()" class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
                            </div>
                        </div>
                    </form>
                    <div ng-if="articoli.$resolved">
                        <div class="alert alert-info" ng-if="!articoli.length">Non ho trovato articoli</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="articoli.length">
                                <thead>
                                    <tr>
                                        <th class="col-4">Titolo</th>
                                        <th class="col-sm-1">Data</th>
                                        <th class="col-sm-1">Tag</th>
                                        <th class="col-sm-1">Sezione</th>
                                        <th class="col-sm-2" 
                                        ng-show="user.roles.indexOf('admin')>=0 || user.roles.indexOf('revisore')>=0">Autore</th> 
                                        <th class="col-sm-1">Stato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="articolo in articoli track by articolo._id">
                                        <td><a ui-sref="articolo({id:articolo._id})">{{articolo.titolo}}</a></td>
                                        <td>{{articolo.data | date:'dd/MM/yy'}}</td>
                                        <td>{{articolo.tag}}</td>
                                        <td>{{articolo.sezione}}</td>
                                        <td 
                                        ng-show="user.roles.indexOf('admin')>=0 || user.roles.indexOf('revisore')>=0">{{articolo.autore.user_metadata.name}}</td>
                                        <td>{{articolo.stato}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="!articoli.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico gli articoli...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 