<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12"> 
        <h2>Avviso</h2> <a ui-sref="sportelli">&laquo; Torna all'elenco degli sportelli</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    <div class="hr-line-transparent"></div> 
                    <div ng-show="state.is('avviso')">
                        <form name="form.avviso.informazioni"
                            class="form-horizontal"
                            novalidate>
                            <div class="hr-line-dashed"></div>   
                            <div class="form-group">
                                <label for="form.avviso.informazioni.descrizione"
                                    class="col-sm-2 control-label">Descrizione</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptionsAvviso"
                                        ng-model="avviso.descrizione"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div> 
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> 
                                 </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.avviso.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="avviso.visibile"
                                            id="form.avviso.informazioni.visibile"> Visibile sul sito? </label>
                                       <button ng-click="salvaAvviso()"
                                        class="btn btn-primary"
                                        >Salva</button>
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="avviso._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{avviso.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{avviso.user.user_metadata.name}}</strong> il <em>{{avviso.mdate | date: 'dd/MM/yy' }} alle {{avviso.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </form>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
