<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>{{bando.titolo || 'Nuovo bando'}}</h2> <a ui-sref="bandi">&laquo; Torna all'elenco dei bandi</a> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <!-- tabs -->
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('bando')}"><a ui-sref="bando">Informazioni</a></li>
                        <li ng-class="{'active':state.is('bando.allegati')}"> <a ui-sref="bando.allegati"
                                ng-show="bando._id"><i class="fa fa-download"></i> Allegati</a> <a ng-if="!bando._id"><i class="fa fa-download"></i> Allegati</a> </li>
                        <li class="pull-right" ng-if="bando._id">
                            <statobando scadenza="{{bando.data_scadenza}}"></statobando>
                        </li>
                    </ul>
                    <!-- /tabs -->
                    <div class="hr-line-transparent"></div>
                    <div ng-show="state.is('bando')">
                        <form name="form.bando.informazioni"
                            class="form-horizontal"
                            novalidate>
                            <fieldset ng-disabled="user.roles.indexOf('appalti_lettura')!==-1">
                            <div class="form-group">
                                <label for="form.bando.informazioni.titolo"
                                    class="col-sm-2 control-label">Titolo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="bando.titolo"
                                        id="form.bando.informazioni.titolo"
                                        required
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.codice"
                                    class="col-sm-2 control-label">Codice</label>
                                <div class="col-sm-3">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="bando.codice"
                                        id="form.bando.informazioni.codice"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.data_guce"
                                    class="col-sm-2 control-label">Data trasmissione GUCE</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="bando.data_guce"
                                            id="form.bando.informazioni.data_guce"
                                            bs-datepicker> </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.data_pubblicazione"
                                    class="col-sm-2 control-label">Data di pubblicazione sul sito *</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="bando.data_pubblicazione"
                                            id="form.bando.informazioni.data_pubblicazione"
                                            bs-datepicker
                                            required> </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.data_scadenza"
                                    class="col-sm-2 control-label">Data di scadenza</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="bando.data_scadenza"
                                            id="form.bando.informazioni.data_scadenza"
                                            bs-datepicker> </div>
                                </div>
                                <div class="col-sm-2"
                                    ng-show="bando.data_scadenza">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            data-time-format="H:mm"
                                            ng-model="bando.data_scadenza"
                                            bs-timepicker> </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.tipologia"
                                    class="col-sm-2 control-label">Tipologia *</label>
                                <div class="col-sm-3">
                                    <select ng-model="bando.tipologia"
                                        class="form-control"
                                        ng-options="tipo for tipo in tipibando"
                                        required>
                                        <option value="">- scegli -</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.referente"
                                    class="col-sm-2 control-label">RUP</label>
                                <div class="col-sm-3">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="bando.referente"
                                        id="form.bando.informazioni.referente"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.bando.informazioni.testo"
                                    class="col-sm-2 control-label">Testo</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptions"
                                        ng-model="bando.testo" ng-disabled="user.roles.indexOf('appalti_lettura')!==-1"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="row" ng-hide="user.roles.indexOf('appalti_lettura')!==-1">
                                <div class="col-md-2 col-md-offset-2"> <a ng-click="eliminaBando()"
                                        class="btn btn-danger"
                                        ng-show="bando._id">Elimina</a> </div>
                                <div class="col-md-6 text-right">
                                    <label for="form.bando.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="bando.visibile"
                                            id="form.bando.informazioni.visibile"> Visibile sul sito? </label> <button ng-click="salvaBando()"
                                        class="btn btn-primary"
                                        ng-disabled="form.bando.informazioni.$invalid">Salva</button> <button ng-click="salvaBando(1)"
                                        class="btn btn-primary"
                                        ng-disabled="form.bando.informazioni.$invalid">Salva e aggiungi allegati</button> </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="bando._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{bando.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{bando.user.user_metadata.name}}</strong> il <em>{{bando.mdate | date: 'dd/MM/yy' }} alle {{bando.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                            </fieldset>
                        </form>
                    </div>
                    <!--/informazioni-->
                    <div ui-view></div>
                    <!--/allegati-->
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
