<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Bandi di gara</h2> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Bandi del {{anni[0]}}</span>
                       <span ng-if="searchresults">Risultati della ricerca </span>
                    </h5>
                    <div class="ibox-tools" ng-hide="user.roles.indexOf('appalti_lettura')!==-1">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="bando"> <i class="fa fa-plus"></i> Nuovo bando </a>
                    </div>
                </div>
                <!--/ibox title-->
                <div class="ibox-content">
                    <form name="form.ricerca.bandi"
                        novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per parola chiave nel titolo o per codice..."
                                        ng-model="cerca.testo"
                                        class="form-control"> </div>
                            </div>
                            <div class="col-md-3">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.anno">
                                    <option value="">- Filtra per anno -</option>
                                    <option value="{{anno}}"
                                        ng-repeat="anno in anni">{{anno}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button ng-click="cercaBandi()"
                                    ng-disabled="!cerca.anno && !cerca.testo"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> <a ng-show="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> </div>
                        </div>
                    </form>
                    
                    <div ng-if="bandi.$resolved">
                        <div class="alert alert-info" ng-if="!bandi.length">Non ho trovato bandi</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="bandi.length">
                                <thead>
                                    <tr>
                                        <th>Codice</th>
                                        <th>Stato</th>
                                        <th>Data pubblicazione sul sito</th>
                                        <th>Data scadenza</th>
                                        <th>Tipologia</th>
                                        <th>Titolo</th>
                                        <th class="text-center">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="bando in bandi track by bando._id">
                                        <td>{{bando.codice}}</td>
                                        <td>
                                            <statobando scadenza="{{bando.data_scadenza}}"></statobando>
                                        </td>
                                        <td>{{bando.data_pubblicazione | date:'dd/MM/yy'}}</td>
                                        <td>{{bando.data_scadenza | date:'dd/MM/yy - H:mm'}}</td>
                                        <td>{{bando.tipologia}}</td>
                                        <td><a ui-sref="bando({id:bando._id})">{{bando.titolo}}</a></td>
                                        <td class="text-center"> <i class="fa fa-check text-success"
                                                ng-show="bando.visibile"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div ng-if="!bandi.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico i bandi...
                    </div>
                    
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
<!-- / elenco bandi -->
