<div class="row" ng-show="state.is('casette-report.consumi')"  >
    <div class="col-md-12">
        <p class="m-t-md m-b-md">Scarica, in base all’anno selezionato, il report in formato excel dei consumi delle casette.<br>Nel dettaglio il report permetterà all’utente di visualizzare il comune e l’indirizzo della casetta desiderata, il numero di rilevamenti effettuati, suddivisi per mese e con relativa data d’intervento, e il totale d’acqua erogata, in litri o metri cubi.</p>
    </div>
</div>
<div class="row" ng-show="state.is('casette-report.consumi')" > 
    <div class="col-md-2"> 
        <select class="form-control"  
            ng-model="annoReport"
            required
            > 
            <option value="">- Seleziona anno -</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
        </select>
    </div>
    <div class="col-md-10">
        <button type="button" class="btn btn-sm btn-success btn-outline dropdown-toggle" data-toggle="dropdown"  
            ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1 ||  user.roles.indexOf('casette-report')!==-1"
            ng-click="esportaConsumiXls(annoReport)"
            ng-show="!(annoReport=='' || annoReport==null)">
            <i class="fa fa-file-excel-o"></i> Scarica l'Excel
        </button>
    </div>
</div>


