<div class="row m-t-md" ng-show="operatori.$resolved">
    <div class="col-sm-12">
        <form name="form.ricercaInterventi"
            class="form-inline"
            novalidate>
                    <div class="form-group" style="margin-right: 10px;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                             <input type="text"
                                class="form-control" 
                                data-autoclose="1" 
                                ng-model="cerca.dal"
                                placeholder="Dal"
                                bs-datepicker
                                id="dal">
                        </div>                           
                    </div>
                    <div class="form-group" style="margin-right: 10px;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                             <input type="text"
                                class="form-control" 
                                data-autoclose="1" 
                                ng-model="cerca.al"
                                data-date-format="dd/MM/yy" 
                                placeholder="Al.."
                                bs-datepicker
                                id="al">
                        </div>                           
                    </div>          
                    <div class="form-group" style="margin-right: 10px;">
                        <select id="tipo" ng-model="cerca.tipo"
                            class="form-control">
                            <option value="">- Filtra per tipo -</option>
                            <option value="rilevamento">Rilevamento</option>
                            <option value="manutenzione">Manutenzione</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-right: 20px;">
                        <select id="operatore" ng-model="cerca.operatore" ng-options="operatore.user_id as operatore.user_metadata.name for operatore in operatori"
                            class="form-control">
                            <option value="">- Filtra per operatore -</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-top:3px;">
                        <a href="" 
                            class="btn btn-info" 
                            ng-disabled="!cerca.dal && !cerca.al && !cerca.tipo && !cerca.operatore"
                            ng-click="cercaInterventi()">
                                <i class="fa fa-search"></i> Cerca        
                        </a>
                        <a ng-if="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a>
                    </div>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="hr-line-dashed"></div>
    </div>
</div>
<!--/filtri-->
<div class="row">
    <div class="col-sm-12" ng-if="interventi.$resolved && interventi.length > 0 && !searchresults"><h5>Ultimi 10 interventi</h5></div>
    <div class="col-sm-12" ng-if="searchresults"><h5>Risultati della ricerca</h5></div>
    <div class="col-sm-12">
        <div ng-if="!interventi.$resolved" class="m-t-xl text-center"><i class="fa fa-cog fa-spin"></i> Carico gli interventi...</div>
        <div class="alert alert-info" ng-if="interventi.$resolved && interventi.length === 0">Non ho trovato interventi</div>
        <div class="table-responsive" ng-if="interventi.$resolved && interventi.length > 0">
            <table class="table table-striped table-bordered table-hover" role="grid">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Operatore</th>
                        <th class="text-center">Dettagli</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="intervento in interventi track by intervento._id">
                        <td>{{intervento.data | date:'dd/MM/yy'}}</td>
                        <td style="text-transform:capitalize;">{{intervento.tipo}}</td>
                        <td>{{intervento.user.user_metadata.name}}</td>
                        <td class="text-center"><a href="" class="btn btn-xs btn-default" ng-click="dettaglioIntervento(intervento)"><i class="fa fa-eye"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>