<div class="row m-t-md" ng-show="consumi.$resolved">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <select 
                    class="form-control"
                    ng-model="annoConsumo"
                    >
                    <option value="">- anno -</option>
                    <option value="{{anno}}"
                        ng-repeat="anno in anni">{{anno}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" ng-click="calcolaConsumi()"
                    ng-disabled="!annoConsumo"
                    class="btn btn-info"><i class="fa fa-search"></i> esegui statistica
                </button> 
                <a ng-show="searchresults" ng-click="state.reload()" class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
            </div>
        </div> 
        <div class="row">
            <div class="alert alert-warning m-t" >
                <h3>
                <span>Numero totale di rilevamenti per l'anno {{annoConsumo}}: </span>
                <span><strong>{{consumi.length}}</strong></span>
                </h3>
            </div>
        </div>
        <div class="hr-line-dashed"></div> 
    </div>
</div>
<div ng-if="!consumi.$resolved" class="m-t-xl text-center"><i class="fa fa-cog fa-spin"></i> Carico i consumi ...</div>
<div class="alert alert-info" ng-if="consumi.$resolved && consumi.length === 0">Non ho consumi</div>
<div class="row" ng-if="consumi.$resolved && consumi.length">
    <div class="col-sm-12">
        <div ng-if="consumi.$resolved && consumi.length"> 
            <h3 class="text-center">Consumo annuo progressivo</h3>
        </div>
        <div>
            <canvas id="consumo_progressivo"/> 
        </div> 
    </div>
</div>
<div class="row" ng-if="consumi.$resolved && consumi.length">
    <div class="hr-line-dashed"></div>
    <div class="col-sm-12">
         <div> 
            <h3 class="text-center">Delta consumi</h3>
        </div> 
        <div>
            <canvas id="consumo_delta" />
        </div> 
    </div>
</div>
 