
<form name="form.casetta.video"
    novalidate>
    <span class="text-muted pull-right p-b">ultima richiesta {{casetta.ultima_chiamata_video | date: 'dd/MM/yy' }} alle {{casetta.ultima_chiamata_video | date: 'HH:mm'}}</span>
    <div class="form-group">
        <label for="form.casetta.video.cosa"
            class="control-label">Cosa vuoi mostrare sullo schermo?</label>
        <select class="form-control"
            style="max-width: 300px;"
            ng-model="casetta.tipovideo"
            id="form.casetta.video.cosa"
            ng-options="tipovideo.codice as tipovideo.nome for tipovideo in tipiVideo" 
            required
            > <option value="">- scegli -</option></select>
    </div>
    <div class="hr-line-dashed"></div> 

        <div class="form-group">
            <label for="form.casetta.video.alert">Avviso</label>
            <input type="text" class="form-control" id="form.casetta.video.alert" ng-model="casetta.alert" placeholder="Es: In manutenzione fino al...">
            <small class="help-block">Se compilato verrà mostrato in cima alla pagina delle analisi</small>
        </div>
    <div class="hr-line-dashed"></div>                            

    <div class="row" ng-if="video.$resolved">
        <div class="col-md-12" ng-if="video.length">
            <label class="control-label">Quale tra questi video vuoi mostare?</label><br />
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-2">Video</th>
                        <th class="col-sm-4">Nome</th>
                        <td style="width:40px;"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="v in video" ng-style="v.comune && {'background-color':'LightYellow'}">
                        <td style="vertical-align:middle;">
                            <a href="" ng-click="playVideo(v)">
                                <img class="img-responsive img-thumbnail" style="max-width: 150px;" ng-src="{{v.picture}}">
                            </a>
                        </td>
                        <td style="vertical-align:middle;"><a href="" ng-click="playVideo(v)">{{v.name}}</a></td>
                        <td style="vertical-align:middle;text-align:center;">
                            <input type="radio" name="svideo" value="{{v.s3_url}}" ng-model="casetta.video">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" ng-if="!video.length">
            <div class="alert alert-info">Video non ancora disponibili</div>
        </div>
    </div>
    <div class="hr-line-dashed"></div> 
    <div class="row">
        <div class="col-sm-6">
            <a href="/casette/{{casetta._id}}/video?anteprima=true" class="btn btn-default" target="_blank"><i class="fa fa-eye"></i> Guarda la pagina in anteprima</a>
            
        </div>
        <div class="col-sm-6 text-right">
            <a ng-click="salvaCasetta(false,false,true)"
                class="btn btn-primary"
                ng-disabled="form.casetta.video.$invalid || !casetta.video && casetta.tipovideo === 10 || !casetta.video && casetta.tipovideo === 30">Salva</a>                                       
        </div>
    </div>
    <div class="row m-t-xl"
        ng-show="casetta._id">
        <div class="col-sm-12"> <small class="text-muted"><img src="{{casetta.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{casetta.user.user_metadata.name}}</strong> il <em>{{casetta.mdate | date: 'dd/MM/yy' }} alle {{casetta.mdate | date: 'HH:mm'}}</em></small> </div>
    </div>
</form>
