<div class="row border-bottom white-bg page-heading">
        <div class="col-md-12">
            <h2>Report - Casette dell'acqua</h2>
        </div>
    </div>
    <div class="wrapper wrapper-content animated bounceOut fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox margins">
                    <div class="ibox-content"> 
                        <ul class="nav nav-pills">
                            <li ng-class="{'active':state.is('casette-report')}">
                                <a ui-sref="casette-report">Interventi</a></li>
                            <li ng-class="{'active':state.is('casette-report.consumi')}">
                                <a ui-sref="casette-report.consumi">Consumi</a></li>
                            <li ng-class="{'active':state.is('casette-report.risparmio')}">
                                <a ui-sref="casette-report.risparmio">Risparmio energetico</a></li>
                        </ul>
                        <div class="hr-line-transparent"></div>
                        <div ng-show="state.is('casette-report')"> 
                        </div>
                        <!--/interventi-->
                      
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-show="state.is('casette-report')">
                                   <p class="m-t-md m-b-md">Scarica il report in formato excel degli ultimi interventi effettuati su tutte le casette.<br>Nel dettaglio il report permetterà all’utente di visualizzare il comune e l’indirizzo della casetta desiderata, la data dell’ultimo rilevamento e i relativi consumi (acqua ambiente, fredda, gasata e totale dei litri erogati), la data dell’ultima manutenzione effettuata, la data di sostituzione del filtro con i relativi litri erogati dalla casetta al momento della sostituzione, data di sostituzione delle lampade UV con i relativi giorni rimanenti al momento della sostituzione ed infine la data dell’ultima pulizia effettuata presso la casetta.</p>
                                   <a href="" 
                                    ng-click="esportaXls()" 
                                    ng-disabled="exporting"
                                    ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1" 
                                    class="btn btn-sm btn-success btn-outline"
                                        > <i class="fa fa-file-excel-o"></i>
                                        <span ng-if="!exporting">Scarica l'Excel</span>
                                        <span ng-if="exporting">Genero l'Excel...</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div ui-view></div>
                    </div>
                    <!--/ibox content-->
                </div>
            </div>
        </div>
    </div>