 <style>
.ibox-button {
    background-color: #ffffff;
    color: inherit;
    padding-left: 15px;
    
    border-image: none;
    border-style: solid solid none;
    border-width: 0px 0;
}
</style>
 
 
<div class="row" ng-show="state.is('casette-report.risparmio')"  >
    <div class="col-md-12 m-t-md">
        <p> Scarica, in base all’anno e alla casetta selezionati, il report del risparmio energetico delle casette.<br>Nel dettaglio il report permetterà all’utente di visualizzare il risparmio di acqua, greggio, gas serra, smaltimento bottiglie e il risparmio economico delle famiglie. Il report potrà essere esportato in formato PDF o in formato excel. 
            Gli algoritmi utilizzati per il calcolo dei risparmi si basano sulle ricerche “Un paese in bottiglia” - Legambiente e “Londra contro le bottiglie” - Il Corriere della Sera.
            Il periodo di tempo effettivo che definisce il calcolo dei consumi e dei conseguenti risparmi si basa sulle date dei rilevamenti effettuati.</p>
    </div>
</div>

<div class="row" ng-show="state.is('casette-report.risparmio')">
    <form name="form.report.risparmio"
    class="form-horizontal"
    novalidate> 
    <!--
        <div class="col-sm-3">
            <label for="form.report.risparmio.dal" class="control-label">Dal</label>
            <div class="input-group date m-t-xsm"> 
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text"
                    class="form-control"
                    data-autoclose="1"
                    ng-model="report.risparmio.dal"
                    id="form.report.risparmio.dal"
                    bs-datepicker
                    placeholder="Seleziona data"
                    > 
            </div>
        </div>

        <div class="col-sm-3">
            <label for="form.report.risparmio.al" class="control-label">Al</label>
            <div class="input-group date m-t-xsm"> 
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text"
                    class="form-control"
                    data-autoclose="1"
                    ng-model="report.risparmio.al"
                    id="form.report.risparmio.al"
                    bs-datepicker
                    placeholder="Seleziona data"
                    > 
            </div>
        </div>
            -->
            <div class="col-sm-3">
                <label for="form.report.risparmio.al" class="control-label">Anno</label>
                <div class="input-group date m-t-xsm"> 
                <select class="form-control"
                    ng-model="report.risparmio.anno"  
                    required
                    > 
                    <option value="">- Seleziona anno -</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <label for="form.report.risparmio.casettaId" class="control-label">Casetta</label>
            <div class="input-group date m-t-xsm"> 
                <select class="form-control"
                    ng-model="report.risparmio.casettaId" 
                    ng-options="casetta._id as casetta.descrizione for casetta in casette" 
                    required
                    > 
                    <option value="">- Tutte le casette -</option>
                </select>
            </div>
        </div>

        <div class="col-md-2 m-t-lg">
            <button ng-click="visualizzaRisparmio()"
                ng-disabled="!report.risparmio.anno"
                class="btn btn-info"><i class="fa fa-search"></i> Visualizza
            </button> 
        </div>
    </form> 

    <div class="col-sm-12">
        <div class="hr-line-dashed"></div>
    </div>
</div>
<div class="row text-center" ng-if="calcoloRisparmio">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>
    <div class="row" ng-if="!calcoloRisparmio && datiRisparmio.$resolved">
        <div class="ibox-button">
            <button 
               ng-click="esportaRisparmioXls()" 
               ng-disabled="exportingXls || !report.risparmio.anno"
               ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1" 
               class="btn btn-sm btn-success btn-outline"> 
                    <i class="fa fa-file-excel-o"></i>
                    <span ng-if="!exportingXls">Scarica l'Excel</span>
                    <span ng-if="exportingXls">Genero l'Excel...</span>
            </button>
            <button
               ng-click="esportaPdf()" 
               ng-disabled="exportingPdf || !report.risparmio.anno"
               ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1" 
               class="btn btn-sm btn-danger btn-outline"> 
                   <i class="fa fa-file-pdf-o"></i>
                   <span ng-if="!exportingPdf">Scarica il pdf</span>
                   <span ng-if="exportingPdf">Genero il pdf...</span>
            </button>
        </div>
        <div class="col-md-12 col-lg-10 m-t-lg">
            <div class="row">
                <div class="col-md-12 text-center">  
                    <h2>Anno {{ report.risparmio.anno }}</h2>
                    <h3 class="h3-normal" ng-if="datiRisparmio.idCasetta=='tutte'">Le case dell'acqua hanno erogato, nell'anno {{report.risparmio.anno}},  <strong>{{ datiRisparmio.rilevamento.totale | number}}</strong> litri di acqua</h3> 
                    <h3 class="h3-normal" ng-if="datiRisparmio.idCasetta!='tutte'">La casa dell'acqua di {{datiRisparmio.descrizione}} ha erogato, nell'anno {{report.risparmio.anno}},  <strong>{{datiRisparmio.rilevamento.totale | number}}</strong> litri di acqua</h3> 
                </div>
                <div class="col-md-12 text-center m-t-lg">
                    <div class="c-consumi-boxOne">
                        <h2>Le famiglie hanno risparmiato <sup>(1)</sup></h2>
                        <h1>{{ datiRisparmio.rilevamento.risparmio_famiglie | prezzo}} </h1>
                    </div>
                </div>
                <div class="col-md-12 text-left m-t-lg">
                    <h3 ng-if="datiRisparmio.idCasetta=='tutte'">Le case dell'acqua hanno risparmiato per l'ambiente <sup>(2)</sup>:</h3>
                    <h3 ng-if="datiRisparmio.idCasetta!='tutte'">La casa dell'acqua ha risparmiato per l'ambiente <sup>(2)</sup>:</h3>
                </div> 
                <div class="col-md-6">
                    <div class="c-consumi-boxTwo text-center">
                        <img src="/img/casette/acqua.svg">
                        <div class="m-t-lg">
                            <h2> <strong>{{ datiRisparmio.rilevamento.risparmio_acqua | number}}</strong>  litri </h2>
                            <p class="lead">di Acqua</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-consumi-boxTwo text-center">
                        <img src="/img/casette/greggio.svg">
                        <div class="m-t-lg">
                            <h2> <strong>{{ datiRisparmio.rilevamento.risparmio_greggio | number}}</strong> kg </h2>
                            <p class="lead">di Greggio</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-consumi-boxTwo text-center">
                        <img src="/img/casette/co2.svg">
                        <div class="m-t-lg">
                            <h2> <strong>{{ datiRisparmio.rilevamento.risparmio_co | number}}</strong> kg</h2>
                            <p class="lead">di CO<sub>2</sub> (gas serra)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="c-consumi-boxTwo text-center">
                        <img src="/img/casette/smaltimento.svg">
                        <div class="m-t-lg">
                            <h2> <strong>{{ datiRisparmio.rilevamento.risparmio_smaltimento | prezzo }}</strong></h2>
                            <p class="lead">in Smaltimento bottiglie</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 m-t-md">
                    <p>1) Differenza tra € 0,22, costo di un litro di acqua in bottiglia (fonte Legambiente - "un paese in bottiglia "20-03-2008") ed il costo dell'acqua distribuita della casetta, ovvero € 0,05.</p>
                    <p>2) Il calcolo riportato indica il risparmio per la mancata produzione di bottiglie di plastica (fonte Corriere della Sera - "Londra contro le bottiglie" Feb. 08), tenuto conto che per produrre 1 bottiglia di plastica da 1 litro si impegnano: 7 litri d'acqua (totale corretto sottraendo il consumo dell'acqua prodotta), si consumano 162 grammi di greggio, si sviluppano 100 grammi di CO2 (totale corretto sottraendo la stima del CO2 impegato per l'acqua gasata), per lo smaltimento delle bottiglie si spendono 0.08 € (costo stimato nazionale Fonte Eco-progetti - Perché no all'acqua in bottiglia").</p>
                    <p>NOTA: I calcoli sono stimati in modo approssimativo e l'elaborazione avviene non considerando i volumi fisiologici di risciacqui necessari a garantire la migliore qualità dell'acqua prodotta, ed i costi della Casa dell'Acqua e della relativa manutenzione ordinaria e straordinaria.</p>
                    <p>NOTA 2: Il periodo di tempo è indicativo, il sistema seleziona le date dei rilevamenti nell’anno selezionato.</p>
                </div>
            </div>
        </div>
    </div> 