<div class="row">
    <div class="col-sm-12">
        <form name="form.files">
            <ul dnd-list="categorieUploadCasette"
                dnd-allowed-types="['categoria']"
                class="list-unstyled">
                <li dnd-draggable="categoria"
                    dnd-moved="categorieUploadCasette.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = categoria"
                    dnd-type="categoria.type"
                    ng-repeat="categoria in categorieUploadCasette">
                    <div class="panel panel-default"
                        ng-model="files"
                        ngf-drop="uploadFiles($files,categoria)"
                        ngf-drag-over-class="{accept:'panel-warning', reject:''}"
                        ngf-multiple="true"
                        ngf-allow-dir="false"
                        ngf-pattern="image/*,application/pdf,application/msword,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                        <div class="panel-heading handle">
                            <h3 class="panel-title"><i class="fa fa-arrows"></i> {{categoria.nome}}</h3></div>
                        <div class="panel-body"
                            dnd-nodrag>
                            <p class="p-xs bg-warning m-b-none"
                                ng-hide="categoria.files.length">Trascina qui i files (solo immagini,documenti word, excel e pdf)</p>
                            <ul class="list-unstyled m-t-md"
                                dnd-list="categoria.files"
                                dnd-allowed-types="['file']"
                                ng-show="categoria.files.length">
                                <li ng-repeat="file in categoria.files"
                                    class="row m-b-sm"
                                    dnd-draggable="file"
                                    dnd-moved="categoria.files.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="models.selected = file"
                                    dnd-type="file.type">
                                    <div class="col-sm-12"> 
                                        <i class="fa fa-arrows pull-left p-xxs handle"></i>
                                        <input type="text"
                                            ng-model="file.name"
                                            class="form-control input-sm pull-left"
                                            style="max-width: 80%;"
                                            dnd-nodrag>
                                        <select class="input-sm"
                                            ng-model="file.uso.id"
                                            ng-options="uso.id as uso.name for uso in elencoUsoFile" >
                                        </select>
                                        <a href="{{file.url}}"
                                            target="_blank"
                                            class="m-l-sm"><i class="fa fa-download text-primary"></i></a> 
                                            <a href=""
                                            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==- 1 || user.roles.indexOf('erogatori')!==-1"
                                            ng-click="cancellaFile(categoria._id,$index)"><i class="fa fa-trash-o text-danger p-xxs"></i></a> </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer"
                            ng-hide="categoria.sistema"
                            dnd-nodrag> <a href=""
                            ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==- 1 || user.roles.indexOf('erogatori')!==-1"
                                ng-click="modificaCategoria(categoria)"><i class="fa fa-edit text-primary"></i></a> <a href=""
                                ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==- 1 || user.roles.indexOf('erogatori')!==-1"
                                ng-click="cancellaCategoria(categoria)"><i class="fa fa-trash-o text-danger"></i></a> </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="row" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1 || user.roles.indexOf('erogatori')!==-1">
    <div class="col-sm-6"> <a href=""
            class="btn btn-default"
            ng-click="apriModaleCategoriaUpload()"><i class="fa fa-plus"></i> Aggiungi categoria</a> </div>
    <div class="col-sm-6 text-right">
        <label for="form.casetta.documenti.visibile"
            class="p-w-xs">
            <!--
            <input type="checkbox"
                ng-model="casetta.visibile"
                id="form.casetta.documenti.visibile"> Visibile sul sito? </label>
            -->
             <a href=""
            class="btn btn-primary"
            ng-click="salvaAllegati()">Salva</a> </div>
</div>
