<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <div class="pull-right m-t-xs animated fadeIn">
            <cloudinary  ng-if="casetta.copertina" id="{{casetta.copertina.id}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
            <cloudinary  ng-if="!casetta.copertina" id="{{CONFIG.copertina_default}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
        </div>
        <h2>{{descrizioneCasetta(casetta) || 'Nuova casetta'}}</h2> <a ui-sref="casette">&laquo; Torna all'elenco delle casette</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox margins">
                <div class="ibox-content">
                    <!-- tabs -->
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('casetta')}" ng-show="user.roles.indexOf('comune') ===-1" ><a ui-sref="casetta">Informazioni</a></li>
                        <li ng-class="{'active':state.is('casetta.interventi')}" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1"> <a ui-sref="casetta.interventi"
                                ng-show="casetta._id"><i class="fa fa-list" aria-hidden="true"></i> Interventi</a> <a ng-hide="casetta._id"><i class="fa fa-list" aria-hidden="true"></i> Interventi</a> </li>

                        <li ng-class="{'active':state.is('casetta.video')}" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('videocasette')!==-1 || user.roles.indexOf('comune') !==-1"> <a ui-sref="casetta.video"
                                ng-show="casetta._id"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a> <a ng-hide="casetta._id"><i class="fa fa-video-camera" aria-hidden="true"></i> Video</a> </li>

                        <li ng-class="{'active':state.is('casetta.immagini')}" ng-show="user.roles.indexOf('comune') ===-1"> <a ui-sref="casetta.immagini"
                                ng-show="casetta._id"><i class="fa fa-image"></i> Immagini</a> <a ng-hide="casetta._id"><i class="fa fa-image"></i> Immagini</a> </li>
                        <li ng-class="{'active':state.is('casetta.allegati')}" ng-show="user.roles.indexOf('comune') ===-1"> <a ui-sref="casetta.allegati"
                                ng-show="casetta._id"><i class="fa fa-download"></i> Allegati</a> <a ng-hide="casetta._id"><i class="fa fa-download"></i> Allegati</a> </li>
                        <li ng-class="{'active':state.is('casetta.multimedia')}" ng-show="user.roles.indexOf('admin')!==-1"> <a ui-sref="casetta.multimedia"
                                ng-show="casetta._id"><i class="fa fa-hdd-o"></i> Multimedia</a> <a ng-hide="casetta._id"><i class="fa fa-hdd-o"></i> Multimedia</a> </li>
                        <li ng-class="{'active':state.is('casetta.consumi')}" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1 || user.roles.indexOf('casette_lettura')!==-1"> <a ui-sref="casetta.consumi"
                                    ng-show="casetta._id"><i class="fa fa-bar-chart"></i> Consumi</a> <a ng-hide="casetta._id"><i class="fa fa-bar-chart"></i> Consumi</a> </li>
                        <li class="pull-right" ng-if="casetta._id">
                            <statocasetta stato="{{casetta.stato}}"></statocasetta>
                        </li>
                        <li ng-class="{'active':state.is('casetta.letture')}">
                            <a ui-sref="casetta.letture" ng-show="casetta._id"><i class="fa fa-list"
                                    aria-hidden="true"></i> Letture</a> <a ng-hide="casetta._id"><i
                                    class="fa fa-list" aria-hidden="true"></i>
                                Letture</a> 
                        </li>
                    </ul>
                    <!-- /tabs -->
                    <div class="hr-line-transparent"></div>
                    
                    <div ng-if="user.roles.indexOf('comune') !==-1" ng-class="state.go('casetta.video')"> </div>

                    <div ng-if="user.roles.indexOf('comune') ===-1" ng-show="state.is('casetta')" >
                        <form name="form.casetta.informazioni"
                            class="form-horizontal"
                            novalidate>
                             <fieldset ng-disabled="user.roles.indexOf('casette_lettura')!==-1">
                            <div class="form-group" ng-repeat="row in casetteExtraColumn">
                                
                                <label for="{{row.modelFieldName}}"
                                    class="col-sm-2 control-label">{{row.label}}</label>
                                <div class="col-sm-3">
                                    <div class="input-group date">
                                        <select class="form-control" ng-if="row.typeField=='select'"
                                            ng-model="casetta[row['modelFieldName']]"
                                            id="{{row.modelFieldName}}"
                                            ng-options="ten for ten in CONFIG.listTenant" 
                                            required
                                            > <option value="">- scegli -</option></select>

                                    </div>
                                </div>
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.casetta.informazioni.avviamento"
                                    class="col-sm-2 control-label">Data di avviamento</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="casetta.data_avviamento"
                                            id="form.casetta.informazioni.avviamento"
                                            bs-datepicker
                                            > </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.casetta.informazioni.avanzamento"
                                    class="col-sm-2 control-label">Comune *</label>
                                <div class="col-sm-3">
                                    <select class="form-control"
                                        ng-model="casetta.comune"
                                        id="form.casetta.informazioni.comune"
                                        ng-options="comune.codice as comune.nome for comune in comuni" 
                                        required
                                        > <option value="">- scegli -</option></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/field-->
                            <div class="form-group">
                                <label for="form.casetta.informazioni.indirizzo"
                                    class="col-sm-2 control-label">Indirizzo</label>
                                <div class="col-sm-3">
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="casetta.indirizzo"
                                            id="form.casetta.informazioni.indirizzo"
                                            > 
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>  
                            <div class="form-group">
                                <label for="form.casetta.informazioni.data_inaugurazione"
                                    class="col-sm-2 control-label">Data inaugurazione</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="casetta.data_inaugurazione"
                                            id="form.casetta.informazioni.data_inaugurazione"
                                            bs-datepicker
                                            > </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>  
                            <div class="form-group">
                                <label for="form.casetta.informazioni.data_scadenza_contr"
                                    class="col-sm-2 control-label">Data scadenza contrattuale</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="casetta.data_scadenza_contr"
                                            id="form.casetta.informazioni.data_scadenza_contr"
                                            bs-datepicker
                                            > </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                             <div class="form-group">
                                <label for="form.casetta.informazioni.coordinate"
                                    class="col-sm-2 control-label">Coordinate</label>
                                <div class="col-sm-4">
                                    <input type="number"
                                        min="0"
                                        max="90"
                                        ng-pattern="/^\d+\.\d{5,6}$/" 
                                        ng-required="casetta.coordinate.long"
                                        class="form-control"
                                        ng-model="casetta.coordinate.lat"
                                        id="form.casetta.informazioni.coordinate" 
                                        autocomplete="off"
                                        placeholder="Latitudine">
                                        <small class="help-block"><strong>Latitudine</strong> es: 46,278527 (decimale minimo 5 cifre, massimo 6)</small>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number"
                                        min="0"
                                        max="90"
                                        ng-pattern="/^\d+\.\d{5,6}$/"  
                                        ng-required="casetta.coordinate.lat"                                    
                                        class="form-control"
                                        ng-model="casetta.coordinate.long"
                                        autocomplete="off"
                                        placeholder="Longitudine">
                                        <small class="help-block"><strong>Longitudine</strong> es: 9,97354 (decimale minimo 5 cifre, massimo 6)</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/field-->                           
                            <div class="form-group">
                               <label for="form.casetta.informazioni.testo"
                                   class="col-sm-2 control-label">Codice SIF</label>
                                   <div class="col-sm-3">
                                       <input type="text"
                                           class="form-control"
                                           data-autoclose="1"
                                           ng-model="casetta.codiceSif"
                                           id="form.casetta.informazioni.codiceSif"
                                           > 
                               </div>
                           </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->                          
                            <div class="form-group">
                                <label for="form.casetta.informazioni.stato"
                                    class="col-sm-2 control-label">Stato *</label>
                                <div class="col-sm-3">
                                    <select class="form-control"
                                        ng-model="casetta.stato"
                                        id="form.casetta.informazioni.stato"
                                        ng-options="stato for stato in stati" 
                                        required
                                        > <option value="">- scegli -</option></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>  
                            <!--/field-->                           
                             <div class="form-group">
                                <label for="form.casetta.informazioni.testo"
                                    class="col-sm-2 control-label">Descrizione</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptions"
                                        ng-model="casetta.testo" ng-disabled="user.roles.indexOf('casette_lettura')!==-1"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>       

                            <!--/field-->                           
                             <div class="form-group">
                                <label for="form.casetta.informazioni.testo"
                                    class="col-sm-2 control-label">Totem</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptionsRidotto"
                                        ng-model="casetta.totem" ng-disabled="user.roles.indexOf('casette_lettura')!==-1"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>                         
                           
                            <div class="row" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1" >
                                <div class="col-sm-2 col-sm-offset-2"> <a ng-click="eliminaCasetta()"
                                        class="btn btn-danger"
                                        ng-show="casetta._id">Elimina</a> </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.casetta.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="casetta.visibile"
                                            id="form.casetta.informazioni.visibile"> Visibile sul sito? </label>
                                       <button ng-click="salvaCasetta()"
                                        class="btn btn-primary"
                                        ng-disabled="form.casetta.informazioni.$invalid">Salva</button>
                                        
                                    <!-- Single button -->
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="form.casetta.informazioni.$invalid">
                                        Salva e aggiungi... <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                             <a ng-click="salvaCasetta(1,0)">Immagini</a>                                           
                                        </li>
                                        <li>
                                            <a ng-click="salvaCasetta(0,1)">Allegati</a>                                          
                                        </li>
                                      </ul>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="casetta._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{casetta.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{casetta.user.user_metadata.name}}</strong> il <em>{{casetta.mdate | date: 'dd/MM/yy' }} alle {{casetta.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </fieldset>
                        </form>
                    </div>
                    <!--/informazioni-->
                    <div ui-view></div>
                    <!--/documenti-->
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>