<div class="row m-t-md">
    <div class="col-sm-12">
    	<form name="form.casetta.multimedia" novalidate>

            	<div class="form-group">
                    <label for="form.casetta.informazioni.monitor"
                    class="p-w-xs m-t-xsm">Stato video</label>
                    <statovideocasetta casetta="casetta" ultima-chiamata="{{casetta.ultima_chiamata_video}}" intervallo="{{casetta.intervallo_pagina}}"></statovideocasetta>
                </div>

                <div class="hr-line-dashed"></div>

            	<div class="form-group">
                    <label for="form.casetta.multimedia.monitor"
                    class="m-t-xsm">
                    <input type="checkbox"
                        ng-model="casetta.monitor"
                        id="form.casetta.multimedia.monitor"> Monitor installato</label>
                </div>


                <div class="form-group row">
                    <label for="form.casetta.multimedia.monitor_desc"
                        class="col-sm-2 control-label">Descrizione monitor</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.monitor_desc"
                                id="form.casetta.multimedia.monitor_desc"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label for="form.casetta.multimedia.videocamera"
                    class="m-t-xsm">
                    <input type="checkbox"
                        ng-model="casetta.videocamera"
                        id="form.casetta.multimedia.videocamera"> Videocamera </label>
                </div>


                <div class="form-group row">
                    <label for="form.casetta.multimedia.videocamera_desc"
                        class="col-sm-2 control-label">Descrizione videocamera</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.videocamera_desc"
                                id="form.casetta.multimedia.videocamera_desc"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group">
                    <label for="form.casetta.multimedia.iot"
                    class="m-t-xsm">
                    <input type="checkbox"
                        ng-model="casetta.iot"
                        id="form.casetta.multimedia.iot"> IOT installata e funzionante? </label>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.mac_address"
                        class="col-sm-2 control-label">MAC Address</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.mac_address"
                                id="form.casetta.multimedia.mac_address"
                                > 
                    </div>
                </div> 

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.ip"
                        class="col-sm-2 control-label">Ip</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.ip"
                                disabled="" 
                                id="form.casetta.multimedia.ip"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.sim"
                        class="col-sm-2 control-label">Codice SIM</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.sim_codice"
                                id="form.casetta.multimedia.sim"
                                > 
                    </div>
                </div> 

                <div class="form-group row">
                    <label for="form.casetta.multimedia.simpin"
                        class="col-sm-2 control-label">Pin SIM</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.sim_pin"
                                id="form.casetta.multimedia.simpin"
                                > 
                    </div>
                </div> 

                <div class="form-group row">
                    <label for="form.casetta.multimedia.simnumero"
                        class="col-sm-2 control-label">Numero SIM</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.sim_numero"
                                id="form.casetta.multimedia.simnumero"
                                > 
                    </div>
                </div> 

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.chiavetta"
                        class="col-sm-2 control-label">Chiavetta</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.chiavetta"
                                id="form.casetta.multimedia.chiavetta"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div> 

                <div class="form-group row">
                    <label for="form.casetta.multimedia.hdmi"
                        class="col-sm-2 control-label">Cavo HDMI</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.hdmi"
                                id="form.casetta.multimedia.hdmi"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.ciabatta"
                        class="col-sm-2 control-label">Ciabatta</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.ciabatta"
                                id="form.casetta.multimedia.ciabatta"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.trasformatore"
                        class="col-sm-2 control-label">Trasformatore</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.trasformatore"
                                id="form.casetta.multimedia.trasformatore"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>


                <div class="form-group row">
                    <label for="form.casetta.multimedia.tw_id"
                        class="col-sm-2 control-label">Teamviewer Id</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.tw_id"
                                id="form.casetta.multimedia.tw_id"
                                > 
                    </div>
                </div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.tw_pwd"
                        class="col-sm-2 control-label">Teamviewer pass</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.tw_pwd"
                                id="form.casetta.multimedia.tw_pwd"
                                > 
                    </div>
                </div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.tw_version"
                        class="col-sm-2 control-label">Teamviewer version</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.tw_version"
                                id="form.casetta.multimedia.tw_version"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.note"
                        class="col-sm-2 control-label">Note</label>
                    <div class="col-sm-3">
                            <textarea 
                            	rows="5"
                                class="form-control"
                                ng-model="casetta.multimedia_note"
                                id="form.casetta.multimedia.note"
                                > </textarea>
                    </div>
                </div>


            </div>
    	</form>
    </div>
</div>
<div class="row m-t-md">
    <div class="col-sm-12 text-right">
    <a ng-click="salvaCasetta(false, false, false, true)"
            class="btn btn-primary">Salva</a> </div>
</div>

