<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <div class="pull-right m-t-xs animated fadeInRight">
            <cloudinary  ng-if="comunicato.copertina" id="{{comunicato.copertina.id}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
            <cloudinary  ng-if="!comunicato.copertina" id="{{CONFIG.copertina_default}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
        </div>
        <h2>{{comunicato.titolo || 'Nuovo comunicato'}}</h2> <a ui-sref="comunicati">&laquo; Torna all'elenco dei comunicati</a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <!-- tabs -->
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('comunicato')}"><a ui-sref="comunicato">Informazioni</a></li>
                        <li ng-class="{'active':state.is('comunicato.immagini')}"> <a ui-sref="comunicato.immagini"
                                ng-show="comunicato._id"><i class="fa fa-image"></i> Immagini</a> <a ng-hide="comunicato._id"><i class="fa fa-image"></i> Immagini</a> </li>
                        <li ng-class="{'active':state.is('comunicato.allegati')}"> <a ui-sref="comunicato.allegati"
                                ng-show="comunicato._id"> <i class="fa fa-download"></i> Allegati</a> <a ng-hide="comunicato._id"><i class="fa fa-download"></i> Allegati</a> </li>
                    </ul>
                    <!-- /tabs -->
                    <div class="hr-line-transparent"></div>
                    
                    <div ng-show="state.is('comunicato')">
                        <form name="form.comunicato.informazioni"
                            class="form-horizontal"
                            novalidate>
                            <div class="form-group">
                                <label for="form.comunicato.informazioni.data"
                                    class="col-sm-2 control-label">Data *</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="comunicato.data"
                                            id="form.comunicato.informazioni.data"
                                            bs-datepicker
                                            required> </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.comunicato.informazioni.luogo"
                                    class="col-sm-2 control-label">Luogo</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="comunicato.luogo"
                                        id="form.comunicato.informazioni.luogo"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.comunicato.informazioni.titolo"
                                    class="col-sm-2 control-label">Titolo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="comunicato.titolo"
                                        id="form.comunicato.informazioni.titolo"
                                        required
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.comunicato.informazioni.sottotitolo"
                                    class="col-sm-2 control-label">Sottotitolo</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="comunicato.sottotitolo"
                                        id="form.comunicato.informazioni.sottotitolo"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.comunicato.informazioni.tag"
                                    class="col-sm-2 control-label">Tag</label>
                                <div class="col-sm-2">
                                    <select class="form-control"
                                        ng-model="comunicato.tag"
                                        id="form.comunicato.informazioni.tag"
                                        > 
                                        <option value="">- scegli -</option>
                                        <option value="{{tag}}"
                                        ng-repeat="tag in elencoTag">{{tag}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                             <div class="form-group">
                                <label for="form.comunicato.informazioni.estratto"
                                    class="col-sm-2 control-label">Estratto *</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorEestrattoOptions"
                                        ng-model="comunicato.estratto" required></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                             <div class="form-group">
                                <label for="form.comunicato.informazioni.testo"
                                    class="col-sm-2 control-label">Testo *</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptions"
                                        ng-model="comunicato.testo" required></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->   
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> <a ng-click="eliminaComunicato()"
                                        class="btn btn-danger"
                                        ng-show="comunicato._id">Elimina</a> </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.comunicato.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="comunicato.visibile"
                                            id="form.comunicato.informazioni.visibile"> Visibile sul sito </label>
                                       <a ng-click="salvaComunicato()"
                                        class="btn btn-primary"
                                        ng-disabled="form.comunicato.informazioni.$invalid">Salva</a>
                                        
                                    <!-- Single button -->
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="form.comunicato.informazioni.$invalid">
                                        Salva e aggiungi... <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                             <a ng-click="salvaComunicato(1,0)">Immagini</a>                                           
                                        </li>
                                        <li>
                                            <a ng-click="salvaComunicato(0,1)">Allegati</a>                                          
                                        </li>
                                      </ul>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="comunicato._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{comunicato.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{comunicato.user.user_metadata.name}}</strong> il <em>{{comunicato.mdate | date: 'dd/MM/yy' }} alle {{comunicato.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </form>
                    </div>
      
                    <!--/informazioni-->
                    <div ui-view></div>
                    <!--/documenti-->
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>