
<div class="row">
    <!--  modulo Bandi di Gara
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('appalti')!==-1 || user.roles.indexOf('appalti_lettura')!==-1">
        <div class="widget-head-color-box appalti-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Bandi di gara
                </h2><i class="fa fa-legal fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="bandi.$resolved">{{bandi.total}}</span>
                    <span ng-if="!bandi.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="bandi"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="bando"
                class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> </div>
    </div> -->

    <!-- modulo Esiti di gara
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('appalti')!==-1 || user.roles.indexOf('appalti_lettura')!==-1">
        <div class="widget-head-color-box appalti-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Esiti di gara
                </h2> <i class="fa fa-flag-checkered fa-3x"></i></div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="esiti.$resolved">{{esiti.total}}</span>
                    <span ng-if="!esiti.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="esiti"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="esito"
                class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> </div>
    </div> -->


    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('comune')!==-1 || user.roles.indexOf('casette')!==-1 || user.roles.indexOf('casette_lettura')!==-1">
        <div class="widget-head-color-box casette-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Casette
                </h2> <i class="fa fa-home fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="casette.$resolved">{{casette.totalCasette}}</span>
                    <span ng-if="!casette.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="casette"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="casetta"
                class="btn btn-sm btn-default" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1"><i class="fa fa-plus"></i> Nuova</a> </div>
    </div>

    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('erogatori')!==-1 || user.roles.indexOf('casette_lettura')!==-1">
        <div class="widget-head-color-box casette-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Erogatori
                </h2> <i class="fa fa-tint fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="erogatori.$resolved">{{erogatori.totalErogatori}}</span>
                    <span ng-if="!erogatori.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="erogatori"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="erogatore"
                class="btn btn-sm btn-default" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('erogatori')!==-1"><i class="fa fa-plus"></i> Nuovo</a> </div>
    </div>

    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('distributori')!==-1">
        <div class="widget-head-color-box casette-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Distributori
                </h2> <i class="fa fa-credit-card fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="distributori.$resolved">{{distributori.totalDistributori}}</span>
                    <span ng-if="!distributori.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="distributori"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="distributore"
                class="btn btn-sm btn-default" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('distributori')!==-1"><i class="fa fa-plus"></i> Nuovo</a> </div>
    </div>

    <!-- modulo Comunicati
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('comunicati')!==-1">
        <div class="widget-head-color-box comunicati-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Comunicati
                </h2> <i class="fa fa-bullhorn fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="comunicati.$resolved">{{comunicati.total}}</span>
                    <span ng-if="!comunicati.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="comunicati"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="comunicato"
                class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> </div>
    </div>
    -->


    <!-- modulo Eventi
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('eventi')!==-1">
        <div class="widget-head-color-box eventi-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Eventi
                </h2> <i class="fa fa-calendar fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="eventi.$resolved">{{eventi.total}}</span>
                    <span ng-if="!eventi.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> <a ui-sref="eventi"
                class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> <a ui-sref="evento"
                class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> </div>
    </div> -->


    <!--  modulo Contenuti
        <div class="col-sm-6 col-lg-3 animated fadeInDown" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('pagine')!==-1" >
        <div class="widget-head-color-box pagine-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                    Contenuti
                </h2> <i class="fa fa-files-o fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="pagine.$resolved">{{pagine.total}}</span>
                    <span ng-if="!pagine.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
    -->
        <!-- lo vedono gli admin -->
    <!--    <div class="widget-text-box text-center"> 
            <a ui-sref="pagine" class="btn btn-sm btn-default"><i class="fa fa-file"></i> Pagine</a>
            <a ui-sref="menues" class="btn btn-sm btn-default"><i class="fa fa-bars"></i> Menu</a>
        </div>
    </div>  -->
    
    <!-- modulo Menu
    <div class="col-sm-6 col-lg-3 animated fadeInDown" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('pagine')!==-1" >
        <div class="widget-head-color-box pagine-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Menu
                </h2> <i class="fa fa-bars fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="menues.$resolved">{{menues.total}}</span>
                    <span ng-if="!menues.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="menues" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a>
            <a ui-sref="menu" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a>
        </div>
    </div>
    -->

    <!-- Modulo Logs
    <div class="col-sm-6 col-lg-3 animated fadeInDown" ng-show="user.roles.indexOf('admin')!==-1" >
        <div class="widget-head-color-box black-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Logs 
                </h2> <i class="fa fa-code fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span style="visibility: hidden">archivio</span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="logs" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a>

        </div>
    </div> 
    -->

   <!--  modulo FAQ 
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('faq')!==-1">
        <div class="widget-head-color-box faq-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                FAQ
                </h2> <i class="fa fa-question-circle fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="faqs.$resolved">{{faqs.total}}</span>
                    <span ng-if="!faqs.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="faqs" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> 
            <a ui-sref="faq" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> 
        </div>
    </div>
    -->

    <!-- modulo Glossario
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('glossario')!==-1">
        <div class="widget-head-color-box glossario-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Glossario
                </h2> <i class="fa fa-file-word-o fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="glossari.$resolved">{{glossari.total}}</span>
                    <span ng-if="!glossari.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="glossari" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> 
            <a ui-sref="glossario" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> 
        </div>
    </div> -->

     <!-- modulo Sportelli
     <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('sportelli')!==-1">
        <div class="widget-head-color-box sportelli-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Sportelli
                </h2> <i class="fa fa-map-marker fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="sportelli.$resolved">{{sportelli.total}}</span>
                    <span ng-if="!sportelli.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="sportelli" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> 
            <a ui-sref="sportello" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> 
        </div>
    </div> -->


    <!-- modulo Articoli
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('autore')!==-1 || user.roles.indexOf('revisore')!==-1">
        <div class="widget-head-color-box articoli-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Articoli
                </h2> <i class="fa fa-newspaper-o fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="articoli.$resolved">{{articoli.total}}</span>
                    <span ng-if="!articoli.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="articoli" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> 
            <a ui-sref="articolo" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> 
        </div>
    </div> -->

   <!--  modulo Newsletter
    <div class="col-sm-6 col-lg-3 animated fadeInDown"
        ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('revisore')!==-1">
        <div class="widget-head-color-box newsletters-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Newsletter
                </h2> <i class="fa fa-envelope-o fa-3x"></i> </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span ng-if="newsletters.$resolved">{{newsletters.total}}</span>
                    <span ng-if="!newsletters.$resolved"><i class="fa fa-cog fa-spin"></i></span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="newsletters" class="btn btn-sm btn-default"><i class="fa fa-list"></i> Archivio</a> 
            <a ui-sref="newsletter" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Nuovo</a> 
        </div>
    </div> -->

    <!-- modulo Laboratorio
    <div class="col-sm-6 col-lg-3 animated fadeInDown" ng-show="user.roles.indexOf('admin')!==-1 || 
    user.roles.indexOf('laboratorio')!==-1 ">
        <div class="widget-head-color-box laboratorio-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold">
                Laboratorio 
                </h2> <i class="fa fa-3x fa-flask"></i>  </div>
            <div>
                <h2 class="font-bold no-margins">
                    <span style="visibility: hidden">archivio</span>
                </h2>
            </div>
        </div>
        <div class="widget-text-box text-center"> 
            <a ui-sref="laboratorio-regole" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('laboratorio')!==-1" class="btn btn-sm btn-default"><i class="fa fa-list-ol"></i> Regole</a>
            <a ui-sref="laboratorio-analisi" ng-show="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('laboratorio')!==-1" class="btn btn-sm btn-default"><i class="fa fa-flask"></i> Analisi</a>
        </div>
    </div>  -->

</div>
