<div class="row m-t-md">
    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-content">
                <!--div class="alert alert-warning hidden-portrait">Per un utilizzo ottimale dell'app ruota il tuo dispositivo <span class="pull-right"><i class="fa fa-2x fa-tablet"></i></span> </div-->
                <div data-nav-class="nav-pills operatore-nav-pills" bs-active-pane="tabs.activeTab" bs-tabs>
                  <div class="m-t-xl" ng-repeat="tab in tabs" data-title="{{tab.description}}" name="{{ tab.title }}" bs-pane>
                      <div ng-include="tab.template" class="animated fadeIn"></div>
                  </div>
                </div>
                <!--/tabs-->
                <div ng-hide="tabs.activeTab">
                    <hr />
                    <h2>{{user.user_metadata.name}}</h2>
                    <p>Da questa applicazione puoi inserire un nuovo rilevamento oppure una nuova manutenzione di una casa dell'acqua</p>

                    <div class="row">
                        <div class="col-sm-12">
                            <p>Se hai inserito un rilevamento errato, o per qualsiasi altra problema legato all'utilizzo dell'app <strong>scrivi a:</strong></p> 
                            <p>
                                <a href="mailto:{{mailAssistenza}}" class="btn btn-default"><i class="fa fa-envelope"></i> {{mailAssistenza}}</a>
                            </p>                               
                        </div>                            
                    </div>
                </div>
                <!-- /intro -->      
            </div>
            <!-- /ibox content -->
        </div>        
    </div>
</div>

