<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Distributori</h2> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                      Distributori per comune 

                    </h5>
                    <div class="ibox-tools">
                       <!--<a href="" 
                           ng-click="esportaXls()" 
                           ng-disabled="exporting"
                           ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1" 
                           class="btn btn-sm btn-success btn-outline"
                            > <i class="fa fa-file-excel-o"></i>
                            <span ng-if="!exporting">Excel ultimi interventi</span>
                            <span ng-if="exporting">Genero l'excel...</span>
                        </a>-->
                        <!-- 
                        <a href="" 
                           ng-click="esportaConsumiXls()" 
                           ng-disabled="exportingConsumi"
                           ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1" 
                           class="btn btn-sm btn-success btn-outline"
                            > <i class="fa fa-file-excel-o"></i>
                            <span ng-if="!exportingConsumi">Excel Consumi</span>
                            <span ng-if="exportingConsumi">Genero l'excel...</span>
                        </a>
                    -->
                    <!--<button type="button" class="btn btn-sm btn-success btn-outline dropdown-toggle" data-toggle="dropdown"  
                    ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('casette')!==-1">
                        Excel consumi
                        </button> 
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="esportaConsumiXls('2018')" class="">  2018</a></li>
                            <li><a href="" ng-click="esportaConsumiXls('2017')" class=""> 2017</a></li>
                        </ul>-->

                        <a class="btn btn-sm btn-primary"
                            ui-sref="distributore" ng-if="user.roles.indexOf('admin')!==-1 || user.roles.indexOf('distributori')!==-1"> <i class="fa fa-plus"></i> Nuovo Distributore </a>
                    </div>
                </div>
                <!--/ibox title-->
                <div class="ibox-content">
          
                    <div ng-if="casette.$resolved">
                        <div class="alert alert-info" ng-if="!casette.length">Non ho trovato distributori</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="casette.length">
                                <thead>
                                    <tr>
                                        <th>Distributore</th>
                                        <th>Stato</th>
                                        <th class="text-center col-sm-2">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="distributore in casette track by distributore._id">
                                        <td><a ui-sref="distributore({id:distributore._id})">{{distributore.descrizione}}</a></td>
                                        <td>{{distributore.stato}}</td>
                                        <td class="text-center"> <i class="fa fa-check text-success" ng-show="distributore.visibile"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       <!--  <small class="text-muted">La pagina video viene richiesta ogni {{casette[0].intervallo_pagina / 1000 / 60 }} minuti</small> -->
                    </div>
                    
                    <div ng-if="!casette.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico i distributori...
                    </div>
                    
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
<!-- / elenco distributori -->

