<div class="row m-t-md" 
>
    <div class="col-sm-12">
        <form name="form.ricercaLetture"
            class="form-inline"
            novalidate>
                    <div class="form-group" style="margin-right: 10px;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                             <input type="text"
                                class="form-control" 
                                data-autoclose="1" 
                                ng-model="cerca.dal"
                                placeholder="Dal"
                                bs-datepicker
                                id="dal">
                        </div>                           
                    </div>
                    <div class="form-group" style="margin-right: 10px;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                             <input type="text"
                                class="form-control" 
                                data-autoclose="1" 
                                ng-model="cerca.al"
                                data-date-format="dd/MM/yy" 
                                placeholder="Al.."
                                bs-datepicker
                                id="al">
                        </div>                           
                    </div>          
                    <div class="form-group" style="margin-right: 10px;">
                        <select id="fonte" ng-model="cerca.fonte"
                            class="form-control">
                            <option value="">- Filtra per fonte -</option>
                            <option value="1">Pluri Iot mini</option>
                            <option value="2">Pluri Iot</option>
                        </select>
                    </div>
                    <!--div class="form-group" style="margin-right: 20px;">
                        <select id="operatore" ng-model="cerca.operatore" ng-options="operatore.user_id as operatore.user_metadata.name for operatore in operatori"
                            class="form-control">
                            <option value="">- Filtra per operatore -</option>
                        </select>
                    </div-->
                    <div class="form-group" style="margin-top:3px;">
                        <a href="" 
                            class="btn btn-info" 
                            ng-disabled="!cerca.dal && !cerca.al && !cerca.fonte"
                            ng-click="ricercaLetture()">
                                <i class="fa fa-search"></i> Cerca        
                        </a>
                        <a ng-if="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a>
                    </div>
        </form>
    </div>
    <div class="col-sm-12">
        <div class="hr-line-dashed"></div>
    </div>
</div>
<!--/filtri-->
<div class="row">
    <div class="col-sm-12" ng-if="letture.$resolved && letture.length > 0 && !searchresults"><h5>Ultimi 10 letture</h5></div>
    <div class="col-sm-12" ng-if="searchresults"><h5>Risultati della ricerca</h5></div>
  <!--   <div class="col-sm-12" ng-if="contatore.tipo === 'Contatore condominiale'">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" role="grid">
                <thead>
                    <tr>
                        <th class="col-sm-2">Data</th>
                        <th class="col-sm-2">Fonte</th> 
                        <th>Totale</th>
                        <th>Operatore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lettura in letture track by lettura._id">
                        <td>{{lettura.mdata | date:'dd/MM/yy'}} alle {{lettura.mdata | date:'HH:mm'}}</td>
                        <td style="text-transform:capitalize;">PluriIot</td>
                        <td>{{lettura.pins[0].value }}</td>                                                                                     
                        <td>{{lettura.mac_address}}</td>
                    </tr>
                </tbody>
            </table>
          </div>     
    </div> -->

  <!--   <div class="col-sm-12" ng-if="contatore.tipo === 'Pluri-Iot Mini'">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" role="grid">
                <thead>
                    <tr>
                        <th class="col-sm-2">Data</th>
                        <th class="col-sm-2">Fonte</th> 
                        <th>Totale</th>
                        <th>Operatore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lettura in letture track by lettura._id">
                        <td>{{lettura.mdata | date:'dd/MM/yy'}} alle {{lettura.mdata | date:'HH:mm'}}</td>
                        <td style="text-transform:capitalize;">Pluri-Iot Mini</td>
                        <td>{{lettura.pins[0].value }}</td>                                                                                     
                        <td>{{lettura.mac_address}}</td>
                    </tr>
                </tbody>
            </table>
          </div>     
    </div> -->


    <div class="col-sm-12">
        <div ng-if="!letture.$resolved" class="m-t-xl text-center"><i class="fa fa-cog fa-spin"></i> Carico le letture...</div>
        <div class="alert alert-info" ng-if="letture.$resolved && letture.length === 0">Non ho trovato letture</div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive" ng-if="letture.$resolved && letture.length > 0">
                    <table class="table table-striped table-bordered table-hover" role="grid">
                        <thead>
                            <tr>
                                <th class="col-sm-2">Data</th>
                                <th class="col-sm-2">Fonte</th> 
                                <th>Totale</th>
                                <th>Operatore</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lettura in letture track by lettura._id">
                                <td>{{lettura.mdata | date:'dd/MM/yy'}} alle {{lettura.mdata | date:'HH:mm'}}</td>
                                <td style="text-transform:capitalize;" ng-if="lettura.fonte==1">Pluri Iot mini</td>
                                <td style="text-transform:capitalize;" ng-if="lettura.fonte==2">PluriIot+</td>
                                <td>{{lettura.pins['1'].value }}</td>
                                <td>
                                  <span ng-if="lettura.fonte==1">{{lettura.user.user_metadata.name }}</span>
                                  <span ng-if="lettura.fonte==2">{{lettura.mac_address }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>