<div class="row m-t-md">
    <div class="col-sm-12">
    	<form name="form.casetta.multimedia" novalidate>

                          
                <div class="form-group">
                    <label for="form.casetta.multimedia.iot"
                    class="m-t-xsm">
                    <input type="checkbox"
                        ng-model="casetta.iot"
                        id="form.casetta.multimedia.iot"> IOT installata e funzionante? </label>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.mac_address"
                        class="col-sm-2 control-label">MAC Address</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.mac_address"
                                id="form.casetta.multimedia.mac_address"
                                > 
                    </div>
                </div> 

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.ip"
                        class="col-sm-2 control-label">Ip</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.ip"
                                disabled="" 
                                id="form.casetta.multimedia.ip"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.sim"
                        class="col-sm-2 control-label">Codice SIM</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.sim_codice"
                                id="form.casetta.multimedia.sim"
                                > 
                    </div>
                </div> 

                <div class="form-group row">
                    <label for="form.casetta.multimedia.simpin"
                        class="col-sm-2 control-label">Pin SIM</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.sim_pin"
                                id="form.casetta.multimedia.simpin"
                                > 
                    </div>
                </div> 

                <div class="form-group row">
                    <label for="form.casetta.multimedia.simnumero"
                        class="col-sm-2 control-label">Numero SIM</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.sim_numero"
                                id="form.casetta.multimedia.simnumero"
                                > 
                    </div>
                </div> 



                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.ciabatta"
                        class="col-sm-2 control-label">Antenna</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.ciabatta"
                                id="form.casetta.multimedia.ciabatta"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.trasformatore"
                        class="col-sm-2 control-label">Trasformatore</label>
                    <div class="col-sm-3">
                            <input type="text"
                                class="form-control"
                                data-autoclose="1"
                                ng-model="casetta.trasformatore"
                                id="form.casetta.multimedia.trasformatore"
                                > 
                    </div>
                </div>

                <div class="hr-line-dashed"></div>

                <div class="form-group row">
                    <label for="form.casetta.multimedia.note"
                        class="col-sm-2 control-label">Note</label>
                    <div class="col-sm-3">
                            <textarea 
                            	rows="5"
                                class="form-control"
                                ng-model="casetta.multimedia_note"
                                id="form.casetta.multimedia.note"
                                > </textarea>
                    </div>
                </div>


            </div>
    	</form>
    </div>
</div>
<div class="row m-t-md">
    <div class="col-sm-12 text-right">
    <a ng-click="salvaCasetta(false, false, false, true)"
            class="btn btn-primary">Salva</a> </div>
</div>

