<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>{{esito.titolo || 'Nuovo esito'}}</h2> <a ui-sref="esiti">&laquo; Torna all'elenco degli esiti</a> </div>
</div>


<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <!-- tabs -->
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('esito')}"><a ui-sref="esito">Informazioni</a></li>
                        <li ng-class="{'active':state.is('esito.allegati')}"> <a ui-sref="esito.allegati"
                                ng-show="esito._id"><i class="fa fa-download"></i> Allegati</a> <a ng-if="!esito._id"><i class="fa fa-download"></i> Allegati</a> </li>
                        <li class="pull-right" ng-if="esito._id">
                            <statoesito stato="{{esito.stato}}"></statoesito>
                        </li>
                    </ul>
                    <!-- /tabs -->
                    <div class="hr-line-transparent"></div>
                    <div ng-show="state.is('esito')">
                        <form name="form.esito.informazioni"
                            class="form-horizontal"
                            novalidate>
                            <fieldset ng-disabled="user.roles.indexOf('appalti_lettura')!==-1">
                                <div class="form-group">
                                    <label for="form.esito.informazioni.titolo"
                                        class="col-sm-2 control-label"> Bando di riferimento</label>
                                    <div class="col-sm-8">
                                        <bootcomplete    
                                            btc-minlength="1"
                                            btc-maxresults="5"
                                            btc-size="md"
                                            btc-label="titolo"                 
                                            btc-query="cercaBandi" 
                                            btc-noresults="Nessun risultato, inserisci almeno una parola"
                                            btc-callback="selezionaBando"
                                            ng-model="autocomplete"></bootcomplete>                                           
                                               <small ng-if="esito.bando"><i class="fa fa-legal"></i> <a ui-sref="bando({id:bando._id})"
                                                target="_blank">{{bando.titolo}}</a></small> </div>
                                </div>
                                <!--/form-group-->
                                <div class="hr-line-dashed"></div>
                                <!--/form-group-->
                                <div class="form-group">
                                    <label for="form.esito.informazioni.titolo"
                                        class="col-sm-2 control-label">Titolo *</label>
                                    <div class="col-sm-8">
                                        <input type="text"
                                            class="form-control titoloesito"
                                            ng-model="esito.titolo"
                                            id="form.esito.informazioni.titolo"
                                            required
                                            autocomplete="off"> </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label for="form.esito.informazioni.data_aggiudicazione"
                                        class="col-sm-2 control-label">Data di aggiudicazione *</label>
                                    <div class="col-sm-3">
                                        <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text"
                                                class="form-control"
                                                data-autoclose="1"
                                                ng-model="esito.data_aggiudicazione"
                                                bs-datepicker
                                                id="form.esito.informazioni.data_aggiudicazione"
                                                required> </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!--/form-group-->
                                <div class="form-group">
                                    <label for="form.esito.informazioni.stato"
                                        class="col-sm-2 control-label">Stato *</label>
                                    <div class="col-sm-3">
                                        <select ng-model="esito.stato"
                                            class="form-control"
                                            ng-options="stato for stato in statiesito"
                                            required>
                                            <option value="">- scegli -</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!--/form-group-->
                                <div class="form-group">
                                    <label for="form.esito.informazioni.testo"
                                        class="col-sm-2 control-label">Testo</label>
                                    <div class="col-sm-8">
                                        <textarea ckeditor="editorOptions"
                                            ng-model="esito.testo"></textarea>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <!--/form-group-->
                                <div class="row" ng-hide="user.roles.indexOf('appalti_lettura')!==-1">
                                    <div class="col-sm-2 col-sm-offset-2"> <a ng-click="eliminaEsito()"
                                            class="btn btn-danger"
                                            ng-show="esito._id">Elimina</a> </div>
                                    <div class="col-sm-6 text-right">
                                        <label for="form.esito.informazioni.visibile"
                                            class="p-w-xs">
                                            <input type="checkbox"
                                                ng-model="esito.visibile"
                                                id="form.esito.informazioni.visibile"> Visibile sul sito? </label> <button ng-click="salvaEsito()"
                                            class="btn btn-primary"
                                            ng-disabled="form.esito.informazioni.$invalid">Salva</button> <button ng-click="salvaEsito(1)"
                                            class="btn btn-primary"
                                            ng-disabled="form.esito.informazioni.$invalid">Salva e aggiungi allegati</button> </div>
                                </div>
                                <div class="row m-t-xl"
                                    ng-show="esito._id">
                                    <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{esito.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{esito.user.user_metadata.name}}</strong> il <em>{{esito.mdate | date: 'dd/MM/yy' }} alle {{esito.mdate | date: 'HH:mm'}}</em></small> </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!--/informazioni-->
                    <div ui-view></div>
                    <!--/allegati-->
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
