<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Eventi</h2> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Eventi del {{anni[0]}}</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    <div class="ibox-tools">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="evento"> <i class="fa fa-plus"></i> Nuovo evento </a>
                    </div>
                </div>
                <!--/ibox title-->
                <div class="ibox-content">
                    <form name="form.ricerca.eventi"
                        novalidate>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per parola chiave nel titolo..."
                                        ng-model="cerca.testo"
                                        class="form-control"> </div>
                            </div>
                            <div class="col-md-3">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.anno">
                                    <option value="">- Filtra per anno -</option>
                                    <option value="{{anno}}"
                                        ng-repeat="anno in anni">{{anno}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="cercaEventi()"
                                    ng-disabled="!cerca.anno && !cerca.testo"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> <a ng-show="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> </div>
                        </div>
                    </form>
                    
                    <div ng-if="eventi.$resolved">
                        <div class="alert alert-info" ng-if="!eventi.length">Non ho trovato eventi</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="eventi.length">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Da</th>
                                        <th class="col-sm-2">A</th>
                                        <th>Titolo</th>
                                        <th class="text-center col-sm-2">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="evento in eventi track by evento._id">
                                        <td>{{evento.da | date:'dd/MM/yy'}}</td>
                                        <td>{{evento.a | date:'dd/MM/yy'}}</td>
                                        <td><a ui-sref="evento({id:evento._id})">{{evento.titolo}}</a></td>
                                        <td class="text-center"> <i class="fa fa-check text-success"
                                                ng-show="evento.visibile"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="!eventi.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico gli eventi...
                    </div>                    
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
<!-- / elenco eventi -->
