<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <div class="pull-right m-t-xs animated fadeIn">
            <cloudinary  ng-if="evento.copertina" id="{{evento.copertina.id}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
            <cloudinary  ng-if="!evento.copertina" id="{{CONFIG.copertina_default}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
        </div>
        <h2>{{evento.titolo || 'Nuovo evento'}}</h2> <a ui-sref="eventi">&laquo; Torna all'elenco degli eventi</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <!-- tabs -->
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('evento')}"><a ui-sref="evento">Informazioni</a></li>
                        <li ng-class="{'active':state.is('evento.immagini')}"> <a ui-sref="evento.immagini"
                                ng-show="evento._id"><i class="fa fa-image"></i> Immagini</a> <a ng-hide="evento._id"><i class="fa fa-image"></i> Immagini</a> </li>
                        <li ng-class="{'active':state.is('evento.allegati')}"> <a ui-sref="evento.allegati"
                                ng-show="evento._id"> <i class="fa fa-download"></i> Allegati</a> <a ng-hide="evento._id"><i class="fa fa-download"></i> Allegati</a> </li>
                    </ul>
                    <!-- /tabs -->
                    <div class="hr-line-transparent"></div>
                    
                    <div ng-show="state.is('evento')">
                        <form name="form.evento.informazioni"
                            class="form-horizontal"
                            novalidate>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.evento.informazioni.titolo"
                                    class="col-sm-2 control-label">Titolo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.titolo"
                                        id="form.evento.informazioni.titolo"
                                        required
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.evento.informazioni.sottotitolo"
                                    class="col-sm-2 control-label">Sottotitolo</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.sottotitolo"
                                        id="form.evento.informazioni.sottotitolo"
                                        autocomplete="off"> </div>
                            </div>
                             <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.evento.informazioni.tag"
                                    class="col-sm-2 control-label">Tag</label>
                                <div class="col-sm-2">
                                    <select class="form-control"
                                        ng-model="evento.tag"
                                        id="form.evento.informazioni.tag"
                                        > 
                                        <option value="">- scegli -</option>
                                        <option value="{{tag}}"
                                        ng-repeat="tag in elencoTag">{{tag}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->                            
                            <div class="form-group">
                                <label for="form.evento.informazioni.da"
                                    class="col-sm-2 control-label">Da *</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="evento.da"
                                            id="form.evento.informazioni.da"
                                            bs-datepicker
                                            required> </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.evento.informazioni.a"
                                    class="col-sm-2 control-label">A</label>
                                <div class="col-sm-3">
                                    <div class="input-group date"> <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text"
                                            class="form-control"
                                            data-autoclose="1"
                                            ng-model="evento.a"
                                            id="form.evento.informazioni.a"
                                            bs-datepicker
                                            >

                                    </div>
                                     <small class="help-block m-n">Lasciare vuoto nel caso di evento di un giorno</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                            <div class="form-group">
                                <label for="form.evento.informazioni.dove"
                                    class="col-sm-2 control-label">Dove</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.dove"
                                        id="form.evento.informazioni.dove"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.categoria"
                                    class="col-sm-2 control-label">Categoria</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.categoria"
                                        id="form.evento.informazioni.categoria"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.prezzi"
                                    class="col-sm-2 control-label">Prezzi</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.prezzi"
                                        id="form.evento.informazioni.prezzi"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.orari"
                                    class="col-sm-2 control-label">Orari</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.orari"
                                        id="form.evento.informazioni.orari"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.organizzatore"
                                    class="col-sm-2 control-label">Organizzatore</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.organizzatore"
                                        id="form.evento.informazioni.organizzatore"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.destinatari"
                                    class="col-sm-2 control-label">Destinatari</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.destinatari"
                                        id="form.evento.informazioni.destinatari"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.riconoscimenti"
                                    class="col-sm-2 control-label">Riconoscimenti</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.riconoscimenti"
                                        id="form.evento.informazioni.riconoscimenti"
                                        autocomplete="off"> </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->  
                            <div class="form-group">
                                <label for="form.evento.informazioni.informazioni"
                                    class="col-sm-2 control-label">Informazioni</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="evento.informazioni"
                                        id="form.evento.informazioni.informazioni"
                                        autocomplete="off"> </div>
                            </div>
                            <!--/form-group-->  

                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->
                             <div class="form-group">
                                <label for="form.evento.informazioni.testo"
                                    class="col-sm-2 control-label">Testo *</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptions"
                                        ng-model="evento.testo" required></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <!--/form-group-->   
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> <a ng-click="eliminaEvento()"
                                        class="btn btn-danger"
                                        ng-show="evento._id">Elimina</a> </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.evento.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="evento.visibile"
                                            id="form.evento.informazioni.visibile"> Visibile sul sito? </label>
                                       <a ng-click="salvaEvento()"
                                        class="btn btn-primary"
                                        ng-disabled="form.evento.informazioni.$invalid">Salva</a>
                                        
                                    <!-- Single button -->
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="form.evento.informazioni.$invalid">
                                        Salva e aggiungi... <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                             <a ng-click="salvaEvento(1,0)">Immagini</a>                                           
                                        </li>
                                        <li>
                                            <a ng-click="salvaEvento(0,1)">Allegati</a>                                          
                                        </li>
                                      </ul>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="evento._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{evento.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{evento.user.user_metadata.name}}</strong> il <em>{{evento.mdate | date: 'dd/MM/yy' }} alle {{evento.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </form>
                    </div>
                    <!--/informazioni-->
                    <div ui-view></div>
                    <!--/documenti-->
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
