<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12"> 
        <h2>{{faq.domanda || 'Nuova faq'}}</h2> <a ui-sref="faqs">&laquo; Torna all'elenco delle faq</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    
                    <div class="hr-line-transparent"></div> 
                    <div ng-show="state.is('faq')">
                        <form name="form.faq.informazioni"
                            class="form-horizontal"
                            novalidate>  
                             
                              <div class="form-group">
                                <label for="form.faq.informazioni.domanda"
                                    class="col-sm-2 control-label">Domanda *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="faq.domanda"
                                        id="form.faq.informazioni.domanda" 
                                        required
                                        autocomplete="off"> 
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>   
                            <div class="form-group">
                                <label for="form.faq.informazioni.testo"
                                    class="col-sm-2 control-label">Risposta *</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptions"
                                        ng-model="faq.risposta" required></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div> 
                            <div class="form-group">
                                <label for="form.faq.informazioni.settore"
                                    class="col-sm-2 control-label">Settore *</label>
                                <div class="col-sm-3">
                                    <select class="form-control"
                                        ng-model="faq.settore"
                                        id="form.faq.informazioni.settore"
                                        required
                                        > 
                                        <option value="">- scegli -</option>
                                        <option value="Fatturazione">Fatturazione</option>
                                        <option value="Recupero crediti">Recupero crediti</option>
                                        <option value="Servizi clienti">Servizi clienti</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div> 
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> 
                                <a ng-click="eliminaFaq()"
                                        class="btn btn-danger"
                                        ng-show="faq._id">Elimina</a> </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.faq.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="faq.visibile"
                                            id="form.faq.informazioni.visibile"> Visibile sul sito? </label>
                                       <button ng-click="salvaFaq()"
                                        class="btn btn-primary"
                                        ng-disabled="form.faq.informazioni.$invalid">Salva</button>
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="faq._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{faq.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{faq.user.user_metadata.name}}</strong> il <em>{{faq.mdate | date: 'dd/MM/yy' }} alle {{faq.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </form>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>
