<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>FAQ - Domane frequenti</h2> 
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Elenco Faq</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    <div class="ibox-tools" ng-hide="user.roles.indexOf('admin')==-1 && user.roles.indexOf('faq')==-1">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="faq"> <i class="fa fa-plus"></i> Nuova faq </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form name="form.ricerca.faqs"
                        novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per domanda ..."
                                        ng-model="cerca.domanda"
                                        class="form-control"> 
                                </div>
                            </div>
                            <div class="col-md-4">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.settore">
                                    <option value="">- Filtra per settore -</option>
                                    <option value="Fatturazione">Fatturazione</option>
                                    <option value="Recupero crediti">Recupero crediti</option>
                                    <option value="Servizi clienti">Servizi clienti</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button ng-click="cercaFaq()"
                                    ng-disabled="!cerca.settore && !cerca.domanda"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> <a ng-show="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
                            </div>
                        </div>
                    </form>
                    <div ng-if="faqs.$resolved">
                        <div class="alert alert-info" ng-if="!faqs.length">Non ho trovato faq</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="faqs.length">
                                <thead>
                                    <tr>
                                        <th class="col-6">Domanda</th>
                                        <th class="col-5">Settore</th>
                                        <th class="col-1 text-center">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="faq in faqs track by faq._id"> 
                                        <td><a ui-sref="faq({id:faq._id})">{{faq.domanda}}</a></td>
                                        <td>{{faq.settore}}</td>
                                        <td class="text-center"> 
                                            <i class="fa fa-check text-success" ng-show="faq.visibile"></i> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="!faqs.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico le faq...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 