<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Glossario </h2> 
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Elenco</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    <div class="ibox-tools" ng-hide="user.roles.indexOf('admin')==-1 && user.roles.indexOf('glossario')==-1">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="glossario"> <i class="fa fa-plus"></i> Nuovo termine </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form name="form.ricerca.glossari"
                        novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per termine ..."
                                        ng-model="cerca.termine"
                                        class="form-control"> 
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button ng-click="cercaGlossario()"
                                    ng-disabled="!cerca.termine"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> <a ng-show="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
                            </div>
                             <div class="col-md-4">
                             </div>
                        </div>
                    </form>
                    <div ng-if="glossari.$resolved">
                        <div class="alert alert-info" ng-if="!glossari.length">Non ho trovato termini</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="glossari.length">
                                <thead>
                                    <tr>
                                        <th class="col-6">Termine</th>
                                        <th class="col-5">Descrizione</th>
                                        <th class="col-1 text-center">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="glossario in glossari track by glossario._id"> 
                                        <td><a ui-sref="glossario({id:glossario._id})">{{glossario.termine}}</a></td>
                                        <td ng-bind-html="glossario.descrizione"></td>
                                        <td class="text-center"> 
                                            <i class="fa fa-check text-success" ng-show="glossario.visibile"></i> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="!glossari.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 