<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12"> 
        <h2>{{glossario.termine || 'Nuovo termine'}}</h2> <a ui-sref="glossari">&laquo; Torna all'elenco</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    
                    <div class="hr-line-transparent"></div> 
                    <div ng-show="state.is('glossario')">
                        <form name="form.glossario.informazioni"
                            class="form-horizontal"
                            novalidate>  
                             
                              <div class="form-group">
                                <label for="form.glossario.informazioni.domanda"
                                    class="col-sm-2 control-label">Termine *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="glossario.termine"
                                        id="form.glossario.informazioni.termine" 
                                        required
                                        autocomplete="off"> 
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>   
                            <div class="form-group">
                                <label for="form.glossario.informazioni.descrizione"
                                    class="col-sm-2 control-label">Descrizione *</label>
                                <div class="col-sm-8">
                                    <textarea 
                                        ckeditor="editorOptions"
                                        ng-model="glossario.descrizione" 
                                        required></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div> 
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> 
                                <a ng-click="eliminaGlossario()"
                                        class="btn btn-danger"
                                        ng-show="glossario._id">Elimina</a> </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.glossario.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="glossario.visibile"
                                            id="form.glossario.informazioni.visibile"> Visibile sul sito? </label>
                                       <button ng-click="salvaGlossario()"
                                        class="btn btn-primary"
                                        ng-disabled="form.glossario.informazioni.$invalid">Salva</button>
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="glossario._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{glossario.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{glossario.user.user_metadata.name}}</strong> il <em>{{glossario.mdate | date: 'dd/MM/yy' }} alle {{glossario.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </form>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>