<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Laboratorio - regole</h2> 
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Elenco regole</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    
                </div>
                <div class="ibox-content">
                <form name="form.dati.regole"
                            class="form-horizontal"
                            novalidate>
                    <div ng-if="datiRegole.$resolved"> 
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Parametro</th>
                                        <th class="col-sm-2">Unita di misura</th>
                                        <th class="col-sm-1">min</th>
                                        <th class="col-sm-1">max</th>
                                        <th class="col-sm-1">Decimali</th>
                                        <th class="col-sm-4">Note</th>
                                        <th class="col-sm-1">Ordinamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr> 
                                        <td>pH</td>
                                        <td><input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.pH.unita_misura" 
                                            ng-init="datiRegole.regole.pH.unita_misura = 'Unità pH'" disabled>
                                            </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.pH.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.pH.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.pH.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.pH.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.pH.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Conduttività</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole['Conduttività'].unita_misura" 
                                            ng-init="datiRegole.regole['Conduttività'].unita_misura = 'µS.cm-1a 20°C'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Conduttività'].min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Conduttività'].max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Conduttività'].decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Conduttività'].note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Conduttività'].ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Cloruro</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Cloruro.unita_misura" 
                                            ng-init="datiRegole.regole.Cloruro.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cloruro.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cloruro.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cloruro.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cloruro.note"
                                               >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cloruro.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Durezza</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Durezza.unita_misura" 
                                            ng-init="datiRegole.regole.Durezza.unita_misura = '°F'" disabled>                                        
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Durezza.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Durezza.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Durezza.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Durezza.note"
                                               >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Durezza.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Magnesio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Magnesio.unita_misura" 
                                            ng-init="datiRegole.regole.Magnesio.unita_misura = 'mg/l'" disabled>     

                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Magnesio.min"
                                                id="form.dati.regole.Magnesio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Magnesio.max"
                                                id="form.dati.regole.Magnesio.max" 
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Magnesio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Magnesio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Magnesio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                     <tr> 
                                        <td>Nitrato</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Nitrato.unita_misura" 
                                            ng-init="datiRegole.regole.Nitrato.unita_misura = 'mg/l'" disabled>    
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrato.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrato.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrato.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrato.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrato.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                     <tr> 
                                        <td>Potassio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Potassio.unita_misura" 
                                            ng-init="datiRegole.regole.Potassio.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Potassio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Potassio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Potassio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Potassio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Potassio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Sodio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Sodio.unita_misura" 
                                            ng-init="datiRegole.regole.Sodio.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Sodio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Sodio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Sodio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Sodio.note"
                                               >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Sodio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Residuo Secco</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole['Residuo Secco'].unita_misura" 
                                            ng-init="datiRegole.regole['Residuo Secco'].unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Residuo Secco'].min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Residuo Secco'].max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Residuo Secco'].decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Residuo Secco'].note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole['Residuo Secco'].ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Solfato</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Solfato.unita_misura" 
                                            ng-init="datiRegole.regole.Solfato.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Solfato.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Solfato.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Solfato.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Solfato.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Solfato.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                     <tr> 
                                        <td>Calcio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Calcio.unita_misura" 
                                            ng-init="datiRegole.regole.Calcio.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Calcio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Calcio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Calcio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Calcio.note"
                                               >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Calcio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                     <tr> 
                                        <td>Manganese</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Manganese.unita_misura" 
                                            ng-init="datiRegole.regole.Manganese.unita_misura = 'µg/l'" disabled>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Manganese.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Manganese.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Manganese.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Manganese.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Manganese.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Ferro</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Ferro.unita_misura" 
                                            ng-init="datiRegole.regole.Ferro.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ferro.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ferro.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ferro.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ferro.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ferro.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Ammonio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Ammonio.unita_misura" 
                                            ng-init="datiRegole.regole.Ammonio.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ammonio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ammonio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ammonio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ammonio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Ammonio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Nitrito</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Nitrito.unita_misura" 
                                            ng-init="datiRegole.regole.Nitrito.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrito.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrito.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrito.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrito.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nitrito.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Fluoruro</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Fluoruro.unita_misura" 
                                            ng-init="datiRegole.regole.Fluoruro.unita_misura = 'mg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Fluoruro.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Fluoruro.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Fluoruro.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Fluoruro.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Fluoruro.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                     <tr> 
                                        <td>Cadmio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Cadmio.unita_misura" 
                                            ng-init="datiRegole.regole.Cadmio.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cadmio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cadmio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cadmio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cadmio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cadmio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Cromo</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Cromo.unita_misura" 
                                            ng-init="datiRegole.regole.Cromo.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cromo.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cromo.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cromo.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cromo.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Cromo.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Piombo</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Piombo.unita_misura" 
                                            ng-init="datiRegole.regole.Piombo.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Piombo.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Piombo.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Piombo.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Piombo.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Piombo.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Alluminio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Alluminio.unita_misura" 
                                            ng-init="datiRegole.regole.Alluminio.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Alluminio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Alluminio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Alluminio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Alluminio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Alluminio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Nichel</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Nichel.unita_misura" 
                                            ng-init="datiRegole.regole.Nichel.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nichel.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nichel.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nichel.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nichel.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Nichel.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Arsenico</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Arsenico.unita_misura" 
                                            ng-init="datiRegole.regole.Arsenico.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Arsenico.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Arsenico.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Arsenico.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Arsenico.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Arsenico.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Antimonio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Antimonio.unita_misura" 
                                            ng-init="datiRegole.regole.Antimonio.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Antimonio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Antimonio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Antimonio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Antimonio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Antimonio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Mercurio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Mercurio.unita_misura" 
                                            ng-init="datiRegole.regole.Mercurio.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Mercurio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Mercurio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Mercurio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Mercurio.note"
                                                >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Mercurio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td>Selenio</td>
                                        <td>
                                            <input class="form-control" type="text" 
                                            ng-model="datiRegole.regole.Selenio.unita_misura" 
                                            ng-init="datiRegole.regole.Selenio.unita_misura = 'µg/l'" disabled>
                                        </td>
                                         <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Selenio.min"
                                                required>
                                        </td>
                                        <td><input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Selenio.max"
                                                required>
                                        </td>
                                        <td>
                                            <input type="number"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Selenio.decimali"
                                                required>
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Selenio.note"
                                             >
                                        </td>
                                        <td>
                                            <input type="text"
                                                class="form-control"
                                                ng-model="datiRegole.regole.Selenio.ordinamento"
                                                >
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-sm-6 text-left">
                         <small class="text-muted" ng-if="datiRegole._id"><img src="{{datiRegole.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{datiRegole.user.user_metadata.name}}</strong> il <em>{{datiRegole.mdate | date: 'dd/MM/yy' }} alle {{datiRegole.mdate | date: 'HH:mm'}}</em></small> 
                        </div>
                        <div class="col-sm-6 text-right"> 
                           <button ng-click="salvaRegole()"
                            class="btn btn-primary"
                            ng-disabled="form.dati.regole.$invalid"
                            >Salva</button>                   
                        </div>
                    </div>
                     
                        
                    </div>
                    <div ng-if="!datiRegole.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico le regole...
                    </div>
                </div> 
                </form>
            </div>

        </div>
    </div>
</div> 