<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Laboratorio - Qualità dell'acqua</h2> 
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" ng-if="datiAnalisi.$resolved">
                    <h5>
                       <span ng-if="!searchresults">Analisi del {{ anno }}</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    <div class="ibox-tools" 
                    ng-hide="user.roles.indexOf('admin')==-1 && user.roles.indexOf('laboratorio')==-1">
                    <label for="upload" class="btn btn-primary inline-block"
                    ng-disabled="uploadInCorso"><i class="fa fa-upload"></i> 
                        <span ng-if="!uploadInCorso">Importa .xls</span>
                        <span ng-if="uploadInCorso">Carico il file...</span>
                    </label>
                    
                    <input type="file" class="sr-only" ngf-select="uploadAnalisi($file)" ngf-pattern="'.xls,.xlsx'" ngf-accept="'.xls,.xlsx'" id="upload"> 

                    <a class="btn btn-sm btn-danger" style="color: white" ng-click="sospendi()" ng-disabled="sospendo" ng-show="!sospese && datiAnalisi.length"> 
                       <span ng-if="!sospendo">Sospendi pubblicazione sul sito</span> 
                       <span ng-if="sospendo">Sospendo...</span> 
                    </a>
                    <a class="btn btn-sm btn-success" style="color: white" ng-click="ripristina()" ng-disabled="ripristino || sospendo" ng-show="sospese"> 
                       <span ng-if="!ripristino">Ripristina la visibilità</span> 
                       <span ng-if="ripristino">Ripristino...</span> 
                    </a>

                    </div>
                </div>
                <div class="ibox-content">
                    <form name="form.ricerca.analisi"
                        novalidate>
                        <div class="row m-b">
                            <div class="col-md-2">
                                <select name=""
                                    id=""
                                    class="form-control" 
                                    ng-model="anno">
                                    <option value="">- anno -</option>
                                    <option value="{{anno}}"
                                        ng-repeat="anno in anni">{{anno}}</option>
                                </select>
                            </div>
                            
                        </div>
                    </form>
                    <div ng-if="datiAnalisi.$resolved">
                        {{checkSospensione()}}
                        
                        <div class="alert alert-warning m-t" ng-if="sospese">Analisi sospese</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="datiAnalisi.length && (datiAnalisi | filter:cercaAnno).length">
                                <thead>
                                    <tr> 
                                        <th class="col-sm-2">Data</th>
                                        <th class="col-sm-4">Caricato da</th>
                                        <th class="col-sm-1 text-center">A norma</th>
                                        <th class="col-sm-1 text-center">Pubblicato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="an in datiAnalisi | filter:cercaAnno track by an._id">
                                        <td>
                                            <a href="" ng-click="scarica(an)">{{an.cdate | date:'dd/MM/yy HH:mm'}}</a>

                                        </td>
                                        <td>{{an.user.user_metadata.name}}</td>
                                        <td class="text-center" >
                                            <i class="fa fa-check text-success" ng-show="an.aNorma"></i>
                                            <i class="fa fa-times text-danger" ng-show="!an.aNorma"></i>
                                        </td> 
                                        <td class="text-center">
                                            
                                            <input ng-show="aggiornoVisibilita !== an._id" type="radio" name="pubblicato" ng-value="true" ng-model="an.visibile" ng-checked="an.visibile" ng-change="aggiornaPubblicato(an._id)">
                                            <i class="fa fa-cog fa-spin" ng-show="aggiornoVisibilita == an._id"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            

                        </div>

                        <div class="alert alert-info" ng-if="!(datiAnalisi | filter:cercaAnno).length">
                            Nessun risultato
                        </div>


                    </div>
                    <div ng-if="!datiAnalisi.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico le analisi...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 