<div class="pg-login">
    <div class="login-container">
        <div class="login-wrapper">
            <div class="login-custom text-center">
            <!-- logo cliente -->
                <img class="login-custom-logo q-mb-lg" src="{{logo}}" />
                <h2 class="m-t-xxl font-weight-400">Gestisci le tue case dell'acqua</h2>
                <button class="btn btn-lg btn-primary m-t-xl" type="submit" ng-click="login()">Accedi</button>
                <div class="m-t-xl text-center">
                    Non hai un account? <br>
                    Richiedi l’accesso scrivendo a<br>
                    <a href="mailto:{{mailAssistenza}}">{{mailAssistenza}}</a><br>
                </div>
            </div>
        </div>
        <div class="login-image relative-position">
            <div class="login-image-logo">
                <img class="logo-plurimedia" src="../img/plurih2o/plurih2o-logo-negativo.svg" />
            </div>
        </div>
    </div>
</div> 
   