<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Log di sistema</h2> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
						Elenco degli ultimi 30 log di sistema
                    </h5>
 
                </div>
                <!--/ibox title-->
                <div class="ibox-content">
                    <form name="form.ricerca.logs"
                        novalidate>
                        <div class="row m-b">
                            <div class="col-md-3">
                                <select name=""
                                    id=""
                                    class="form-control"
                                     ng-options="option.code as option.description group by option.group for option in logcodes" 
                                    ng-model="cerca.tipo">
                                    <option value="">- Filtra per tipo -</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name=""
                                    id=""
                                    class="form-control"
                                    ng-model="cerca.stato">
                                    <option value="">- Filtra per stato -</option>
                                    <option value="10">Info</option>
                                    <option value="20">Successo</option>
                                    <option value="30">Avviso</option>
                                    <option value="40">Errore</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="cercaLogs()"
                                    ng-disabled="!cerca.tipo && !cerca.stato"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> <a ng-show="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> </div>
                        </div>
                    </form>

                    <div ng-if="logs.$resolved">
                        <div class="alert alert-info" ng-if="!logs.length">Non ho trovato logs</div>
                        <div ng-if="logs.length">
	                        <div class="table-responsive">
	                            <table class="table table-bordered table-hover table-condensed"
	                                role="grid">
	                                <thead>
	                                    <tr>
	                                    	<th class="text-center" style="width: 20px;"></th>
	                                    	<th class="col-sm-2">Data</th>
	                                        <th>Titolo</th>                                  
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr ng-repeat="log in logs track by log._id">
	                                        <td class="text-center">
	                                        	<i class="fa fa-circle" ng-class="{'text-info':log.status===10,'text-success':log.status===20,'text-warning':log.status===30,'text-danger':log.status===40}"></i>
	                                        </td>
	                                        <td>
	                                        	{{log.mdate | date: 'dd/MM/yy' }} {{log.mdate | date: 'HH:mm'}}
	                                        </td>
	                                        <td><a href="" ng-click="apriLog(log)">{{log.title }}</a></td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
                        </div>
                    </div>
                    
                    <div ng-if="!logs.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico i logs...
                    </div>
                    
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
<!-- / elenco logs -->
