<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Menu</h2> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                    	Menu
                    </h5>
                    <div class="ibox-tools">
                        <a class="btn btn-sm btn-primary"
                            ng-click="nuovoMenu()"> <i class="fa fa-plus"></i> Nuovo menu</a>
                    </div>
                </div>
                <!--/ibox title-->
                <div class="ibox-content">
                    
                    <div ng-if="menues.$resolved">
                        <div class="alert alert-info" ng-if="!menues.length">Non ho trovato menu</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="menues.length">
                                <thead>
                                    <tr>
                                        <th>Titolo menu</th>
                                        <th>Ultima modifica</th>
                                        <th>Voci</th>
                                        <th class="text-center">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="menu in menues track by menu._id">
                                        <td><a ui-sref="menu({id:menu._id})">{{menu.titolo}}</a></td>
                                        <td>{{menu.mdate | date:'dd/MM/yy'}}</td>
                                        <td>{{menu.voci.length}}</td>
                                        <td class="text-center"> <i class="fa fa-check text-success"
                                                ng-show="menu.visibile"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div ng-if="!menues.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico i menu...
                    </div>
                    
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
<!-- / elenco menu -->

