<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">

    <a class="" ng-if="voce.voci && voce.voci.length > 0" data-nodrag ng-click="toggle(this)" style="margin:0;line-height:1;padding: 1px;"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>

    {{voce.titolo}}

    <a href="" ng-click="modificaVoce(this)" data-nodrag title="Mofica la voce di menu"><i class="fa fa-edit"></i></a>
	
	<div class="pull-right">
		<span data-nodrag style="font-style: italic; font-weight: normal;" class="m-r-sm"><input  type="checkbox" ng-model="voce.visibile" ng-change="cambiaVisibilita()"> visibile</span>	
	    <a href="" title="Anteprima della pagina" target="_blank" class="m-r-xs m-t-xxs" data-nodrag ng-click="anteprimaVoce(this)"><i class="fa fa-eye"></i></a>
	    <a class="m-r-xs m-t-xxs" data-nodrag ng-click="eliminaVoce(this)" data-nodrag><i class="fa fa-trash-o text-danger"></i></a>
	</div>

  </div>
  <ol ui-tree-nodes="" ng-model="voce.voci" ng-class="{hidden: collapsed}">
    <li ng-repeat="voce in voce.voci" ui-tree-node ng-include="'nodes_renderer.html'" >
    </li>
  </ol>
</script>


<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>{{menu.titolo}}</h2> <a ui-sref="menues">&laquo; Torna all'elenco dei menu</a> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
					<div class="row">
						<div class="col-md-8">
							<div class="form-group">
								<label for="">Nome del menu *</label>
								<input type="text" class="form-control" ng-model="menu.titolo">
							</div>
							<hr >
							<div ng-if="!menu.voci.length">
								Il menu non ha ancora voci
							</div>
							<div ng-if="menu.voci.length">

							    <div ui-tree="treeOptions" id="tree-root" data-max-depth="4">
							      <ol ui-tree-nodes ng-model="menu.voci" >
							        <li ng-repeat="voce in menu.voci" ui-tree-node ng-include="'nodes_renderer.html'"></li>
							      </ol>
							    </div>

							    <div class="alert alert-warning m-t-md" ng-if="bozza">
							    	Hai apportato delle modifiche al menu, ricordati di salvare
							    </div>

							</div>
						</div>
						<!--sinistra-->
						<div class="col-md-4">
							<form name="form.menu" novalidate class="bg-info p-sm">
								<div class="form-group">
									<label for=""><i class="fa fa-plus"></i> Aggiungi pagina</label>
									<bootcomplete    
									    btc-minlength="1"
									    btc-maxresults="5"
									    btc-size="md"
									    btc-placeholder="Cerca una pagina esistente"
									    btc-label="titolo"           
									    btc-query="cercaPagine" 
									    btc-noresults="Nessun risultato, inserisci almeno una parola"
									    btc-callback="selezionaPagina" 
									    ng-model="l">
									</bootcomplete>
									<small class="help-block">Puoi aggiungere solo pagine con il flag <em>"Visibile sul sito"</em></small>
								</div>
								
								<div ng-if="paginaSelezionata" class="bg-info p-sm">
									<small class="pull-right"><a href="" ui-sref="pagina({id: paginaSelezionata.id})" target="_blank">Pagina di destinazione</a></small><br />
									<form class="form-inline" name="form.link" novalidate>
										<div class="form-group">
											<label for="ps1">Titolo del link sul menu *</label>
											<input id="ps1" type="text" class="form-control" ng-model="paginaSelezionata.titolo" required>
										</div>
										<div class="form-group">
											<label for="ps2">Descrizione *</label>
											<input id="ps2" type="text" class="form-control" ng-model="paginaSelezionata.descrizione" required>
											<small class="help-block">È il testo che compare quando l'utente passa sopra col mouse</small>
										</div>
										<div class="form-group m-t-md clearfix">
											<a ng-disabled="form.link.$invalid" href="" class="btn btn-primary btn-sm" ng-click="aggiungiVoce()" ng-if="!paginaSelezionata.edit">Aggiungi</a>
											<a ng-disabled="form.link.$invalid" href="" class="btn btn-primary btn-sm" ng-click="aggiornaVoce()" ng-if="paginaSelezionata.edit">Salva</a>
											<a href="" class="pull-right" ng-click="annullaAggiungi()">Annulla</a>
										</div>
									</form>
								</div>

							</form>
						</div>
						<!--destra-->
					</div>
                    <div class="hr-line-dashed"></div> 
                    <!--/form-group-->
                    <div class="row m-t-xl">
                        <div class="col-md-4"> <a ng-click="eliminaMenu()"
                                class="btn btn-danger"
                                ng-show="menu._id && !menu.voci.length">Elimina</a> </div>
                        <div class="col-md-8 text-right">
                            <button ng-click="aggiornaMenu()"
                                class="btn btn-primary">Salva</button>
                        </div>
                    </div>
                    <div class="row m-t-xl"
                        ng-show="menu._id">
                        <div class="col-md-12"> <small class="text-muted"><img src="{{menu.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{menu.user.user_metadata.name}}</strong> il <em>{{menu.mdate | date: 'dd/MM/yy' }} alle {{menu.mdate | date: 'HH:mm'}}</em></small> </div>
                    </div>

                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>

