<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Newsletter</h2> 
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn" ng-show="newsletters.$resolved">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Newsletter del {{anni[0]}}</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5> 
                    <div class="ibox-tools">
                      <button type="button" class="btn btn-sm btn-primary" dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" 
                       >
                        Nuova newsletter... <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li ng-repeat=" target in elencoTarget" >
                            <a ng-click="setTargetId(target)" >{{target.name}}</a>
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text"
                                    placeholder="Cerca per parola chiave nel titolo ..."
                                    ng-model="cercaNews.titolo"
                                    class="form-control"> 
                            </div>
                        </div> 
                        <div class="col-md-2">
                            <select name=""
                                id=""
                                class="form-control"
                                ng-model="cercaNews.anno">
                                <option value="">- anno -</option>
                                <option value="{{anno}}"
                                    ng-repeat="anno in anni">{{anno}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" 
                                   ng-model="cercaNews.target.id" 
                                   ng-options="target.id as target.name for target in elencoTarget track by target.id"  
                                   >
                                    <option value="">- target -</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" ng-click="cercaNewsletter()"
                                ng-disabled="!cercaNews.titolo && !cercaNews.anno && !cercaNews.target && !cercaNews.sezione"
                                class="btn btn-info"><i class="fa fa-search"></i> cerca
                            </button> 
                            <a ng-show="searchresults" ng-click="state.reload()" class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
                        </div>
                    </div> 
                    <div ng-if="newsletters.$resolved">
                        <div class="alert alert-info" ng-if="!newsletters.length">Non ho trovato newsletter</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="newsletters.length">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Data invio</th>
                                        <th class="col-4">Titolo</th>
                                        <th class="col-sm-2">Target</th>
                                        <th class="col-sm-2">Stato</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="newsletter in newsletters track by newsletter._id">
                                        <td>{{newsletter.dataInvio | date:'dd/MM/yy'}}</td>
                                        <td><a ui-sref="newsletter({id:newsletter._id})">{{newsletter.titolo}}</a></td>
                                        <td>{{newsletter.target.name}}</td>  
                                        <td>{{newsletter.stato}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> 
<div ng-if="(!newsletters.$resolved  || sendMail==true)" class="m-t-xl text-center">
    <i class="fa fa-cog fa-spin"></i> Carico le newsletter...
</div>