<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>{{newsletter.titolo|| 'Nuova newsletter'}}</h2> <a ui-sref="newsletters">&laquo; Torna all'elenco delle newsletter</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn" ng-show="!sendMail==true">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">  
                    <div class="hr-line-transparent"></div>
                    <div ng-show="state.is('newsletter')" >
                        <h3><p class="p-xl bg-success m-b-none text-center"
                            ng-show="newsletter.stato=='Inviata'"
                             >Newsletter inviata in data {{newsletter.dataInvio | date: 'dd/MM/yy' }} alle {{newsletter.mdate | date: 'HH:mm'}}</p></h3>
                        <form name="form.newsletter.informazioni"
                            class="form-horizontal"
                            novalidate> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.articolo.informazioni.stato"
                                    class="col-sm-2 control-label">Target</label>
                                <div class="col-sm-8 m-t-xsm">
                                   {{newsletter.target.name}}
                                </div> 
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.newsletter.informazioni.titolo"
                                    class="col-sm-2 control-label">Titolo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="newsletter.titolo"
                                        id="form.newsletter.informazioni.titolo" 
                                        autocomplete="off" 
                                        required 
                                        > 
                                </div> 
                            </div> 
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.newsletter.informazioni.periodo"
                                    class="col-sm-2 control-label">Periodo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="newsletter.periodo"
                                        id="form.newsletter.informazioni.periodo" 
                                        autocomplete="off" 
                                        placeholder="Es: {{meseAttuale}} {{anni[0]}}"
                                        required 
                                        > 
                                </div> 
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.newsletter.informazioni.articoli"
                                    class="col-sm-2 control-label">News *</label>
                                <div class="col-sm-8">
                                     <a href=""
                                        class="btn btn-default"
                                        ng-click="apriModaleNews()"><i class="fa fa-plus"></i> Aggiungi</a>
                               </div>
                            </div>
                            <div class="hr-line-dashed" ng-show="newsletter.notizie.length>0"></div>


                            <div class="form-group" ng-show="newsletter.notizie.length>0">
                                <label for="form.newsletter.informazioni.notizie"
                                class="col-sm-2 control-label"></label>
                                <div class="col-sm-8" class="row animated fadeInRight"> 
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th style="width:50px;"></th>
                                                <th class="col-sm">Immagine</th>
                                                <th class="col-sm">Titolo</th>
                                                <th class="col-sm">Tag</th>
                                                <th class="col-sm"></th>
                                            </tr>
                                        </thead>
                                        <tbody dnd-list="newsletter.notizie">
                                            <tr  ng-repeat='notizia in newsletter.notizie' 
                                          
                                                ng-class="{'info': notizia.copertina && notizia.copertina.id === notizia.id}"
                                                dnd-draggable="notizia"
                                                dnd-moved="newsletter.notizie.splice($index, 1)"
                                                dnd-effect-allowed="move"
                                                dnd-selected="models.selected = notizia">

                                                <td class="text-center"
                                                    style="vertical-align:middle;"><i class="fa fa-arrows handle"></i></td>
                                                <td dnd-nodrag>
                                                    <cloudinary  ng-show="notizia.copertina" id="{{notizia.copertina.id}}" transformation="h_100" bootstrapclass="img-thumbnail"></cloudinary>
                                                    <cloudinary  ng-show="!notizia.copertina" id="{{CONFIG.copertina_default}}" transformation="h_100" bootstrapclass="img-thumbnail"></cloudinary>
                                                </td>
                                                <td style="vertical-align:middle;"
                                                    dnd-nodrag>
                                                    <div><strong>{{notizia.titolo}}</strong></div>
                                                    <div ng-bind-html="notizia.estratto"></div>
                                                </td>
                                                <td style="vertical-align:middle;"
                                                    dnd-nodrag> {{notizia.tag}} 
                                                </td>
                                                <td style="vertical-align:middle;"
                                                    class="text-right"
                                                    dnd-nodrag ng-show="newsletter.stato!='Inviata'""> 
                                                    <a href="" class="btn btn-danger" ng-click="eliminaNotizia($index)"><i class="fa fa-remove"></i></a> 
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> 
                                    <button ng-click="eliminaNewsletter()"
                                        class="btn btn-danger"
                                        ng-disabled="!newsletter._id || newsletter.stato!='Bozza'"
                                        >Elimina</button> </div>
                                <div class="col-sm-6 text-right"> 
                                       <button ng-click="inviaNewsletter()"
                                        class="btn btn-primary"
                                        ng-disabled="form.newsletter.informazioni.$invalid || newsletter.stato!='Bozza' || !newsletter.notizie.length"
                                        >Invia Newsletter</button>  
                                        <button ng-click="testNewsletter()"
                                        class="btn btn-primary"
                                        ng-disabled="form.newsletter.informazioni.$invalid || newsletter.stato!='Bozza' || !newsletter.notizie.length"
                                        >Invia test</button> 
                                        <button ng-click="salvaNewsletter()"
                                        class="btn btn-primary"
                                        ng-disabled="form.newsletter.informazioni.$invalid || newsletter.stato=='Inviata' || !newsletter.notizie.length"
                                        >Salva</button>                
                                </div>
                            </div>
                            <div class="row m-t-xl">
                                <div class="col-sm-8 col-sm-offset-2"> 
                                <small class="text-muted"  ng-show="newsletter._id">
                                <img src="{{newsletter.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{newsletter.user.user_metadata.name}}</strong> il <em>{{newsletter.mdate | date: 'dd/MM/yy' }} alle {{newsletter.mdate | date: 'HH:mm'}}</em></small> 

                                <small class="text-muted pull-right"  ng-show="newsletter.dataTest">
                                Ultimo test inviato a <strong>{{newsletter.mailTest}}</strong> in data <em>{{newsletter.dataTest | date: 'dd/MM/yy' }} </em></small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<div ng-if="sendMail==true" class="m-t-xl text-center">
    <i class="fa fa-cog fa-spin"></i> Invio newsletter...
</div>