<div class="row m-t-md" 
>
    <div class="col-sm-12">
        <form name="form.ricercaInterventi"
            class="form-inline"
            novalidate>
                    <div class="form-group" style="margin-right: 10px;">
                        <div class="input-group"> 
                             <input type="text"
                                class="form-control" 
                                ng-model="cerca.dal"
                                placeholder="Nome" 
                                id="nome">
                        </div>                           
                    </div>
                    <div class="form-group" style="margin-right: 10px;">
                        <div class="input-group">
                                <input type="text"
                                class="form-control" 
                                ng-model="cerca.dal"
                                placeholder="Cognome" 
                                id="nome">
                        </div>                           
                    </div>   
                    <div class="form-group" style="margin-top:3px;">
                        <a href="" 
                            class="btn btn-info" 
                            ng-disabled="!cerca.dal && !cerca.al && !cerca.tipo && !cerca.operatore"
                            ng-click="cercaInterventi()">
                                <i class="fa fa-search"></i> Cerca        
                        </a>
                        <a ng-if="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a>
                    </div> 
                    <div class="ibox-tools"> 
                        <a class="btn btn-sm btn-primary"
                            ng-click="nuovoOperatore()"> <i class="fa fa-plus"></i> Nuovo operatore </a>
                    </div> 
        </form>
    </div>
    <div class="col-sm-12">
        <div class="hr-line-dashed"></div>
    </div>
</div>
<!--/filtri-->
<div class="row">
      <div class="col-sm-12">
         <div class="table-responsive"  >
            <table class="table table-striped table-bordered table-hover" role="grid">
                <thead>
                    <tr>
                        <th>Cognome</th>
                        <th>Nome</th>
                        <th>Tel</th>
                        <th class="text-center">Dettagli</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="operatore in operatori track by operatore._id"> 
                            <td>{{operatore.cognome}}</td>
                            <td>{{operatore.nome}}</td>
                            <td>{{operatore.tel}}</td> 
                            <td class="text-center">
                                <a href="" class="btn btn-xs btn-default" ng-click="dettaglioOperatore(operatore)"><i class="fa fa-eye"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>