<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Pagine</h2> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Pagine</span>
                       <span ng-if="searchresults">Risultati della ricerca </span>
                    </h5>
                    <div class="ibox-tools">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="pagina"> <i class="fa fa-plus"></i> Nuova pagina </a>
                    </div>
                </div>
                <!--/ibox title-->
                <div class="ibox-content">
                    <form name="form.ricerca.pagine"
                        novalidate>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per parola chiave nel titolo..."
                                        ng-model="cerca.testo"
                                        class="form-control"> </div>
                            </div>
                            <div class="col-md-3">
                                <a ng-click="cercaP()"
                                    ng-disabled="!cerca.testo && !cerca.menu"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</a> 


                                    <a ng-show="searchresults"
                                    ng-click="state.reload()"
                                    class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> </div>
                        </div>
                    </form>
                    
                    <div ng-if="pagine.$resolved">
                        <div class="alert alert-info" ng-if="!pagine.length">Non ho trovato pagine</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="pagine.length">
                                <thead>
                                    <tr>
                                        <th>Titolo</th>
                                        <th>Url</th>
                                        <th>Ultima modifica</th>
                                        <th>Autore</th>
                                        <th class="text-center">Visibile</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pagina in pagine track by pagina._id">
                                        <td><a ui-sref="pagina({id:pagina._id})">{{pagina.titolo}}</a></td>
                                        <td>{{pagina.slug}}</td>
                                        <td>{{pagina.mdate | date:'dd/MM/yy'}}</td>
                                        <td>{{pagina.user.user_metadata.name}}</td>
                                        <td class="text-center"> <i class="fa fa-check text-success" ng-show="pagina.visibile"></i> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div ng-if="!pagine.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico le pagine...
                    </div>
                    
                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>
<!-- / elenco bandi -->
