<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>{{pagina.titolo || 'Nuova Pagina'}}</h2> <a ui-sref="pagine">&laquo; Torna all'elenco delle pagine</a> </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">


                        <form name="form.pagina"
                            class="form-horizontal"
                            novalidate>

                            <div class="form-group">
                                <label for="form.pagina.titolo"
                                    class="col-sm-2 control-label">Titolo *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="pagina.titolo"
                                        id="d"
                                        required
                                        autocomplete="off">
                                        <small class="help-block">Tra 50 e 65 caratteri, spazi compresi <strong ng-if="numeroCaratteri(pagina.titolo)" class="pull-right">hai utilizzato {{numeroCaratteri(pagina.titolo)}} caratteri</strong></small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="form.pagina.descrizione"
                                    class="col-sm-2 control-label">Descrizione *</label>
                                <div class="col-sm-8">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="pagina.descrizione"
                                        id="form.pagina.descrizione"
                                        required
                                        autocomplete="off">
                                        <small class="help-block clearfix">Tra 140 e 156 caratteri, spazi compresi <strong ng-if="numeroCaratteri(pagina.descrizione)" class="pull-right">hai utilizzato {{numeroCaratteri(pagina.descrizione)}} caratteri</strong></small>
                                </div>
                            </div>
                            <!---/descrizione-->

                            <div class="form-group">
                                <label for="form.pagina.slug"
                                    class="col-sm-2 control-label">Url *</label>
                                <div class="col-sm-8">
                                    <div class="input-group" ng-class="{'has-error': slug.found===true}">
                                        <input type="text"
                                        class="form-control"
                                        ng-model="pagina.slug"
                                        id="form.pagina.slug"
                                        ng-change="checkSlug()"
                                        required
                                        autocomplete="off">
                                        <span class="input-group-addon">
                                            <i class="fa fa-refresh" ng-class="{'fa-spin': slug && !slug.$resolved }"></i>
                                        </span>
                                                                                
                                    </div>
                                    <small class="help-block">Spazi e caratteri speciali vengono convertiti automaticamente. Non inserire "/" all'inizio <em>es: chi-siamo/azienda</em>
                                    <span class="pull-right text-danger" ng-if="slug.found===true">L'url esista già</span></small>
                                </div>
                            </div>
                            <!---/descrizione-->
							
							<div ng-if="pagina.contenuti.length > 0">
                                <div class="hr-line-dashed"></div>
								<div class="row p-t-md" ng-repeat="c in pagina.contenuti track by c.id">
                                    <div class="col-sm-2 text-right text-muted">
                                        <i class="fa fa-header fa-lg" ng-if="c.tipo==='titolo_sezione'"></i>
                                        <i class="fa fa-image fa-lg" ng-if="c.tipo==='immagine'"></i>
                                        <i class="fa fa-download fa-lg" ng-if="c.tipo==='allegati'"></i>
                                        <i class="fa fa-minus fa-lg" ng-if="c.tipo==='divisore'"></i>
                                        <i class="fa fa-align-left fa-lg" ng-if="c.tipo==='testo'"></i>
                                        <i class="fa fa-exclamation-triangle fa-lg" ng-if="c.tipo==='alert' && c.tono==='warning'"></i>
                                        <i class="fa fa-info-circle fa-lg" ng-if="c.tipo==='alert' && c.tono==='info'"></i>
                                        <i class="fa fa-check fa-lg" ng-if="c.tipo==='alert' && c.tono==='success'"></i>
                                        <i class="fa fa-exclamation-circle fa-lg" ng-if="c.tipo==='alert' && c.tono==='danger'"></i>
                                        <i class="fa fa-link fa-lg" ng-if="c.tipo==='links'"></i>
                                        <i class="fa fa-table fa-lg" ng-if="c.tipo==='tabella'"></i>
                                    </div>
									<div class="col-sm-8 m-b-lg">
										<div class="row">
											<div class="col-sm-10">
                                                
                                                <div ng-if="c.tipo==='divisore'">
                                                    <hr style="margin:7px 0 0 0; border-top: 2px solid #ccc;"/>                                          
                                                </div>

                                                <!--/divisore-->

                                                <div ng-if="c.tipo==='titolo_sezione'">
                                                    <div class="editableWidget" ng-mouseover="showActions(c)" ng-mouseleave="hideActions(c)">
                                                        <div class="editableWidget-content">
                                                            <strong style="font-size:32px; line-height: 1;" ng-if="c.livello===2" inline-edit="c.testo" inline-edit-on-blur="save" inline-edit-on-click inline-edit-btn-edit=""></strong>
                                                            <strong style="font-size:26px; line-height: 1;"  ng-if="c.livello===3" inline-edit="c.testo" inline-edit-on-blur="save" inline-edit-on-click inline-edit-btn-edit=""></strong>
                                                            <strong style="font-size:20px; line-height: 1;"  ng-if="c.livello===4" inline-edit="c.testo" inline-edit-on-blur="save" inline-edit-on-click inline-edit-btn-edit=""></strong>
                                                        </div>
                                                    </div>
                                                    <div class="editableWidget-actions" ng-show="c.showActions" ng-mouseover="showActions(c)">
                                                        <ul class="list-inline">
                                                            <li><a href="" ng-click="settaLivelloHeading(c,2)">H2</a></li>
                                                            <li><a href="" ng-click="settaLivelloHeading(c,3)">H3</a></li>
                                                            <li><a href="" ng-click="settaLivelloHeading(c,4)">H4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!--/titolo sezione-->
                                                
                                                <div ng-if="c.tipo==='testo'" class="ckSlim">
                                                    <textarea ckeditor="editorOptions" ng-model="c.testo"></textarea>
                                                </div>
                                                <!--/testo-->

                                                <div ng-if="c.tipo==='immagine'">
                                                    <div ng-if="!c.progress && !c.immagine" class="drop"
                                                        ng-model="files"
                                                        ngf-drop="uploadImmagine($files,c)"
                                                        ngf-drag-over-class="{accept:'drop-accept', reject:'drop-error'}"
                                                        ngf-multiple="false"
                                                        ngf-allow-dir="false"
                                                        ngf-pattern="image/*">
                                                            <h3>Trascina qui un'immagine</h3>
                                                    </div>
                                                    <div ng-if="c.immagine">
                                                        <div class="pull-left" style="margin-right: 30px;">
                                                            <cloudinary id="{{c.immagine.id}}" transformation="w_400,h_300,f_auto,q_auto,c_fill,g_auto"></cloudinary>
                                                        </div>
                                                        <div class="pull-left">
                                                            <ul class="list-unstyled m-t-sm">
                                                                <li class="m-b-sm">
                                                                    <label for="">Testo alternativo *</label>
                                                                    <input type="text" class="form-control input-sm" ng-model="c.immagine.alt" required>
                                                                </li>
                                                                <li>
                                                                    <label for="">Didascalia</label>
                                                                    <input type="text" class="form-control input-sm" ng-model="c.immagine.didascalia">
                                                                </li>
                                                            </ul>                                                            
                                                        </div>
                                                    </div>  
                                                    <div class="drop-progress">
                                                        <div ng-if="c.progress > 0" class="progress" style="margin-bottom:0;">
                                                            <div class="progress-bar" 
                                                               ng-class="{'active progress-bar-striped' : c.progress < 100 , 'progress-bar-success' : c.progress===100}"
                                                               role="progressbar" 
                                                               aria-valuenow="{{c.progress}}" 
                                                               aria-valuemin="0" aria-valuemax="100" 
                                                               style="width: {{c.progress}}%">
                                                               <span ng-show="c.progress===100"><i class="fa fa-check"></i> caricata</span>
                                                            </div>
                                                        </div>
                                                    </div>                                                        
                                                </div>
                                                <!--/immagine-->

                                                <div ng-if="c.tipo==='allegati'">
                                                    <ul class="list-unstyled" ng-if="c.files" dnd-list="c.files">
                                                        <li 
                                                            ng-repeat="file in c.files" 
                                                            dnd-draggable="file" 
                                                            dnd-moved="c.files.splice($index, 1)" 
                                                            dnd-effect-allowed="move" 
                                                            dnd-selected="models.selected = file"
                                                            class="m-b-sm clearfix">
                                                            <i class="fa fa-arrows pull-left handle p-t-xs" style="width:3%;"></i>
                                                            <input dnd-nodrag type="text" class="form-control input-sm pull-left" ng-model="file.name" style="width:80%; display: inline-block; margin-right:5px;" required>
                                                            <span style="width:5%;" class="pull-left">
                                                                <a href="{{file.url}}" dnd-nodrag class="p-t-xs"><i class="fa fa-download"></i></a>
                                                                <a href="" ng-click="c.files.splice($index, 1)" dnd-nodrag class="p-t-xs m-l-xs text-danger" style="width:5%;"><i class="fa fa-trash-o"></i></a>                                                                
                                                            </span>
                                                        </li>
                                                        <li class="dndPlaceholder pagine"></li>
                                                    </ul>
                                                    <div class="drop m-t-md"
                                                        ng-model="files"
                                                        ngf-drop="uploadAllegati($files,c)"
                                                        ngf-drag-over-class="{accept:'drop-accept', reject:'drop-error'}"
                                                        ngf-multiple="true"
                                                        ngf-allow-dir="false"
                                                        ngf-pattern="">
                                                            <h3>Trascina qui <span ng-if="c.files.length">altr</span>i files</h3>
                                                    </div>                                                    
                                                </div>
                                                <!--/allegati-->


                                                <div ng-if="c.tipo==='alert'">
                                                    <div class="editableWidget" ng-mouseover="showActions(c)" ng-mouseleave="hideActions(c)">
                                                        <div class="editableWidget-actions" ng-show="c.showActions">
                                                            <ul class="list-inline">
                                                                <li><a href="" ng-click="c.tono='warning'"><i class="fa fa-exclamation-triangle"></i></a></li>
                                                                <li><a href="" ng-click="c.tono='danger'"><i class="fa fa-exclamation-circle"></i></a></li>
                                                                <li><a href="" ng-click="c.tono='info'"><i class="fa fa-info-circle"></i></a></li>
                                                                <li><a href="" ng-click="c.tono='success'"><i class="fa fa-check"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="editableWidget-content">
                                                            <div class="alert" ng-class="{'alert-warning': c.tono==='warning','alert-info': c.tono === 'info','alert-success': c.tono==='success','alert-danger': c.tono==='danger'}">
                                                                <span inline-edit="c.testo" inline-edit-on-blur="save" inline-edit-on-click inline-edit-btn-edit=""></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/warning-->

                                                <div ng-if="c.tipo==='links'" ng-click="setCurrent(c)">
                                                    <div class="m-b-xl">
                                                        <bootcomplete    
                                                            btc-minlength="1"
                                                            btc-maxresults="5"
                                                            btc-size="md"
                                                            btc-placeholder="Cerca una pagina esistente oppure inserisci un url"
                                                            btc-label="titolo" 
                                                            btc-template="/html/templates/autocomplete-link.html"                
                                                            btc-query="cercaPagine" 
                                                            btc-noresults="Nessun risultato, inserisci almeno una parola"
                                                            btc-callback="selezionaPagina" 
                                                            ng-model="l"
                                                            ng-focus="current=l">
                                                        </bootcomplete>
                                                    </div>

                                                    <ul class="list-unstyled" ng-if="c.links.length" dnd-list="c.links">
                                                        <li class="clearfix m-b-md"
                                                            ng-repeat="l in c.links"
                                                            dnd-draggable="l" 
                                                            dnd-moved="c.links.splice($index, 1)" 
                                                            dnd-effect-allowed="move" 
                                                            dnd-selected="models.selected = l">

                                                            <div class="pull-left m-r-xs p-t-md" style="width: 40px">
                                                                <i class="fa fa-arrows pull-left p-xxs handle"></i>
                                                            </div>
                                                            <div class="pull-left m-r-xs" style="width: 45%">
                                                                <label for="">Titolo *</label>
                                                                <input type="text" class="form-control input-sm" ng-model="l.titolo" placeholder="Titolo" required />
                                                            </div>
                                                            <div class="pull-left" style="width: 45%">
                                                                <label for="">Descrizione *</label>
                                                                <input type="text" class="form-control input-sm" ng-model="l.descrizione" placeholder="Descrizione" required />
                                                            </div>  
                                                            <div class="pull-left m-t-xs" style="width: 100%; padding-left: 45px;">
                                                                <small>
                                                                    <a href="{{l.url}}" ng-if="!l.internal" target="_blank" title="{{l.descrizione}}"><i class="fa fa-external-link"></i> {{l.titolo}}</a>
                                                                    <a href="" ui-sref="pagina({id:pagina._id})" ng-if="l.internal" target="_blank" title="{{l.descrizione}}" ><i class="fa fa-link"></i> {{l.titolo}}</a>
                                                                </small>
                                                            </div>   
                                                        </li>
                                                        <li class="dndPlaceholder pagine"></li>
                                                    </ul>                                                      
                                                </div>
                                                <!--/links-->
                                                
                                                <div ng-if="c.tipo==='tabella'">
                                                     <table class="table table-condensed table-bordered table-striped" style="table-layout:fixed;">
                                                         <thead>
                                                             <tr ng-repeat="row in c.data track by $index" ng-if="$index===0">
                                                                <th ng-repeat="(key, value) in row track by $index">
                                                                    <span inline-edit="row[key]" inline-edit-on-blur="save" inline-edit-on-click inline-edit-btn-edit=""></span>
                                                                    <span class="pull-right">
                                                                        <a ng-if="$last" href="" class="btn btn-primary btn-xs" ng-click="aggiungiColonna(c.data,$index)"><i class="fa fa-plus"></i></a>                                                                        
                                                                    </span>
                                                                </th>
                                                             </tr>
                                                         </thead>
                                                         <tbody>
                                                             <tr ng-repeat="r in c.data track by $index" ng-if="$index > 0" ng-init="rowIndex = $index">
                                                                <td ng-repeat="(key, value) in r track by $index" ng-init="cellIndex = $index">
                                                                    <span inline-edit="r[key]" inline-edit-on-blur="save" inline-edit-on-click inline-edit-btn-edit=""></span>
                                                                    <span ng-if="$last" class="pull-right">
                                                                        <a href="" class="btn btn-primary btn-xs" ng-click="aggiungiRiga(c.data,r,rowIndex)"><i class="fa fa-plus"></i></a>
                                                                        <a href="" class="btn btn-danger btn-xs" ng-click="eliminaRiga(c.data,rowIndex)"><i class="fa fa-trash-o"></i></a>
                                                                    </span>                                                                
                                                                </td>
                                                             </tr>                                                             
                                                         </tbody>
                                                     </table>
                                                </div>
											</div>
											<div class="col-sm-2">
												<ul class="list-inline">
													<li ng-if="$index > 0"><a href="" class="btn btn-default btn-xs" ng-click="sposta(c, -1)"><i class="fa fa-long-arrow-up"></i></a></li>
													<li ng-if="$index !== post.images.length - 1"><a href=""  class="btn btn-default  btn-xs" ng-click="sposta(c, 1)"><i class="fa fa-long-arrow-down"></i></a></li>
													<li><a href="" class="btn btn-danger btn-xs" ng-click="elimina($index)"><i class="fa fa-trash-o"></i></a></li>
												</ul>
											</div>
										</div>

                                        <div class="hr-line-dashed"></div> 
									</div>
								</div>
							</div>
							<!---/contenuti-->
    
							<div class="row">
								<div class="col-sm-8 col-sm-push-2">
									<div class="btn-group">
									  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
									    <i class="fa fa-plus"></i> Aggiungi blocco <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu">
									    <li><a href="" ng-click="aggiungiDivisore()">Divisore</a></li>
                                        <li><a href="" ng-click="aggiungiTitoloSezione()">Titolo di sezione</a></li>
                                        <li><a href="" ng-click="aggiungiTesto()">Testo</a></li>
                                        <li><a href="" ng-click="aggiungiImmagine()">Immagine</a></li>
                                        <li><a href="" ng-click="aggiungiAllegati()">Allegati</a></li>
                                        <li><a href="" ng-click="aggiungiAlert()">Alert</a></li>
                                        <li><a href="" ng-click="aggiungiLinks()">Links</a></li>
                                        <li><a href="" ng-click="aggiungiTabella()">Tabella</a></li>
									  </ul>
                                    </div>									
								</div>
							</div>

                            <div class="hr-line-dashed"></div> 
                            <!--/form-group-->
                            <div class="row m-t-xl">
                                <div class="col-md-2 col-md-offset-2"> <a ng-click="eliminaPagina()"
                                        class="btn btn-danger"
                                        ng-show="pagina._id">Elimina</a> </div>
                                <div class="col-md-6 text-right">
                                <label for="form.pagina.visibile" class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="pagina.visibile"
                                            id="form.pagina.visibile"> Visibile sul sito </label>
                                    <button ng-click="salvaPagina(true)"
                                        class="btn btn-default" 
                                        target="_blank"
                                        ng-disabled="form.pagina.$invalid || slug.found===true"><i class="fa fa-eye"></i> Anteprima</button>
                                    <button ng-click="salvaPagina()"
                                        class="btn btn-primary"
                                        ng-disabled="form.pagina.$invalid || slug.found===true">Salva</button>
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="pagina._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{pagina.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{pagina.user.user_metadata.name}}</strong> il <em>{{pagina.mdate | date: 'dd/MM/yy' }} alle {{pagina.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                     
                        </form>
         

                </div>
                <!--/ibox content-->
            </div>
        </div>
    </div>
</div>