<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default"
            ng-model="files"
            ngf-drop="uploadImmagini($files)"
            ngf-drag-over-class="{accept:'panel-warning', reject:''}"
            ngf-multiple="true"
            ngf-allow-dir="false"
            ngf-pattern="image/*">
            <div class="panel-body">
                <p class="p-xs bg-warning m-b-none">Trascina qui le immagini per caricarle</p>
            </div>
        </div>
    </div>
</div>
<!-- tabella upload -->
<div class="row animated fadeInRight"
    ng-show="sportello.immagini.length">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width:50px;"></th>
                        <th class="col-sm">Immagine</th>
                        <th class="col-sm">Didascalia</th>
                        <th class="col-sm"></th>
                        <th class="col-sm"></th>
                    </tr>
                </thead>
                <tbody dnd-list="sportello.immagini">
                    <tr ng-repeat="immagine in sportello.immagini"
                        ng-class="{'info': sportello.copertina && sportello.copertina.id === immagine.id}"
                        dnd-draggable="immagine"
                        dnd-moved="sportello.immagini.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = immagine">
                        <td class="text-center"
                            style="vertical-align:middle;"><i class="fa fa-arrows handle"></i></td>
                        <td dnd-nodrag>
                            <cloudinary id="{{immagine.id}}"
                                transformation="h_60"
                                bootstrapclass="img-thumbnail"></cloudinary>
                        </td>
                        <td style="vertical-align:middle;"
                            dnd-nodrag>
                            <input type="text"
                                class="form-control"
                                ng-model="immagine.name" ng-change="cambiaNomeFoto(immagine)"> </td>
                        <td style="vertical-align:middle;"
                            dnd-nodrag> <a href=""
                                ng-if="sportello.copertina && immagine.id === sportello.copertina.id"
                                class="btn btn-warning"
                                ng-click="rimuoviCopertina()"><i class="fa fa-remove"></i> Rimuovi copertina</a> <a href=""
                                ng-if="immagine.id !== sportello.copertina.id"
                                class="btn btn-default"
                                ng-click="copertinaImmagine($index)"><i class="fa fa-image"></i> Imposta copertina</a> </td>
                        <td style="vertical-align:middle;"
                            class="text-right"
                            dnd-nodrag> <a href=""
                                class="btn btn-danger"
                                ng-click="eliminaImmagine($index)"><i class="fa fa-trash-o"></i> Elimina</a> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /tabella upload -->
<div class="row m-t-md">
    <div class="col-sm-12 text-right">
        <label for="form.sportello.info.visibile"
            class="p-w-xs">
            <input type="checkbox"
                ng-model="sportello.visibile"
                id="form.sportello.info.visibile"> Visibile sul sito? </label> <a ng-click="salvaSportello(1,0)"
            class="btn btn-primary">Salva</a> </div>
</div>