<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <h2>Sportelli</h2> 
    </div>
</div> 
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                       <span ng-if="!searchresults">Elenco sportelli</span>
                       <span ng-if="searchresults">Risultati della ricerca</span>
                    </h5>
                    <div class="ibox-tools" ng-hide="user.roles.indexOf('admin')==-1 && user.roles.indexOf('sportelli')==-1">
                        <a class="btn btn-sm btn-primary"
                            ui-sref="sportello"> <i class="fa fa-plus"></i> Nuovo sportello</a>
                        <a class="btn btn-sm btn-warning"
                            ui-sref="avviso({id:avviso._id})" > <i class="fa fa-plus"></i> Avviso</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form name="form.ricerca.sportelli"
                        novalidate>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="text"
                                        placeholder="Cerca per comune ..."
                                        ng-model="cerca.indirizzoCompleto"
                                        class="form-control"> 
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <button ng-click="cercaSportello()"
                                    ng-disabled="!cerca.indirizzoCompleto"
                                    class="btn btn-info"><i class="fa fa-search"></i> cerca</button> 
                                    <a ng-show="searchresults" ng-click="state.reload()" class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
                            </div>
                        </div>
                    </form>
                    <div ng-if="sportelli.$resolved">
                        <div class="alert alert-info" ng-if="!sportelli.length">Non ho trovato sportelli</div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"
                                role="grid"
                                ng-if="sportelli.length">
                                <thead>
                                    <tr>
                                        <th class="col-6">Comune</th>
                                        <th class="col-5">Indirizzo</th>
                                        <th class="col-1 text-center">Visibile sul sito</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sportello in sportelli track by sportello._id"> 
                                        <td><a ui-sref="sportello({id:sportello._id})">{{sportello.indirizzoCompleto}}</a></td>
                                        <td>{{sportello.indirizzo}}</td>
                                        <td class="text-center"> 
                                            <i class="fa fa-check text-success" ng-show="sportello.visibile"></i> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="!sportelli.$resolved" class="m-t-xl text-center">
                        <i class="fa fa-cog fa-spin"></i> Carico gli sportelli...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 