<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12">
        <div class="pull-right m-t-xs animated fadeIn">
            <cloudinary  ng-if="sportello.copertina" id="{{sportello.copertina.id}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
            <cloudinary  ng-if="!sportello.copertina" id="{{CONFIG.copertina_default}}" transformation="h_60" bootstrapclass="img-thumbnail"></cloudinary>
        </div>
        <h2>{{manageIndirizzo(sportello) || 'Nuovo sportello'}}</h2> <a ui-sref="sportelli">&laquo; Torna all'elenco degli sportelli</a>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    <ul class="nav nav-pills">
                        <li ng-class="{'active':state.is('sportello')}"><a ui-sref="sportello">Informazioni</a></li>
                        <li ng-class="{'active':state.is('sportello.immagini')}"> <a ui-sref="sportello.immagini"
                                ng-show="sportello._id"><i class="fa fa-image"></i> Immagini</a> <a ng-hide="sportello._id"><i class="fa fa-image"></i> Immagini</a> </li>
                    </ul> 
                    <div class="hr-line-transparent"></div> 
                    <div ng-show="state.is('sportello')">
                        <form name="form.sportello.informazioni"
                            class="form-horizontal"
                            novalidate>
                             <div class="form-group">
                                <label for="form.sportello.informazioni.comune"
                                    class="col-sm-2 control-label">Comune *</label>
                                <div class="col-sm-3">
                                    <select class="form-control"
                                        ng-model="sportello.comune"
                                        id="form.sportello.informazioni.comune"
                                        ng-options="comune.codice as comune.nome for comune in comuni" 
                                        required
                                        > <option value="">- scegli -</option></select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>   
                             <div class="form-group">
                                <label for="form.sportello.informazioni.indirizzo"
                                    class="col-sm-2 control-label">Indirizzo</label>
                                <div class="col-sm-4">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="sportello.indirizzo"
                                        id="form.sportello.informazioni.indirizzo" 
                                        autocomplete="off"> 
                                </div> 
                                 <div class="col-sm-4">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="sportello.noteIndirizzo"
                                        id="form.sportello.informazioni.noteIndirizzo" 
                                        placeholder="Note, Es: c/o Ufficio comunale"
                                        autocomplete="off"> 
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div> 
                             <div class="form-group">
                                <label for="form.sportello.informazioni.coordinate"
                                    class="col-sm-2 control-label">Coordinate</label>
                                <div class="col-sm-4">
                                    <input type="number"
                                        min="0"
                                        max="90"
                                        ng-pattern="/^\d+\.\d{5,6}$/" 
                                        ng-required="sportello.coordinate.long"
                                        class="form-control"
                                        ng-model="sportello.coordinate.lat"
                                        id="form.sportello.informazioni.coordinate" 
                                        autocomplete="off"
                                        placeholder="Latitudine">
                                        <small class="help-block"><strong>Latitudine</strong> es: 46,278527 (decimale minimo 5 cifre, massimo 6)</small>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number"
                                        min="0"
                                        max="90"
                                        ng-pattern="/^\d+\.\d{5,6}$/"  
                                        ng-required="sportello.coordinate.lat"                                    
                                        class="form-control"
                                        ng-model="sportello.coordinate.long"
                                        autocomplete="off"
                                        placeholder="Longitudine">
                                        <small class="help-block"><strong>Longitudine</strong> es: 9,97354 (decimale minimo 5 cifre, massimo 6)</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>   
                            <div class="form-group">
                                <label for="form.sportello.informazioni.indirizzo"
                                    class="col-sm-2 control-label">N° Telefono</label>
                                <div class="col-sm-2">
                                    <input type="text"
                                        class="form-control"
                                        ng-model="sportello.telefono"
                                        id="form.sportello.informazioni.telefono"  
                                        autocomplete="off"> 
                                </div> 
                            </div>
                            <div class="hr-line-dashed"></div>   
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Servizi</label>
                                <label for="form.sportello.informazioni.servizioLis"
                                        class="p-w-xs m-t-xsm">
                                        <input type="checkbox"
                                            ng-model="sportello.servizioLis"
                                            id="form.sportello.informazioni.servizioLis"> LIS </label>
                            </div>
                            <div class="hr-line-dashed"></div> 
                            <div class="form-group">
                                <label for="form.sportello.informazioni.orario"
                                    class="col-sm-2 control-label">Orario</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptionsOrario"
                                        ng-model="sportello.orario"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>   
                            <div class="form-group">
                                <label for="form.sportello.informazioni.avviso"
                                    class="col-sm-2 control-label">Avviso</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptionsAvviso"
                                        ng-model="sportello.avviso"></textarea>
                                        <small class="help-block">Da compilare nel caso in cui c’è necessità di mostrare agli utenti un avviso temporaneo</small>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="form.sportello.informazioni.descrizione"
                                    class="col-sm-2 control-label">Descrizione</label>
                                <div class="col-sm-8">
                                    <textarea ckeditor="editorOptionsDescrizione"
                                        ng-model="sportello.descrizione"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-sm-2 col-sm-offset-2"> <a ng-click="eliminaSportello()"
                                        class="btn btn-danger"
                                        ng-show="sportello._id">Elimina</a> </div>
                                <div class="col-sm-6 text-right">
                                    <label for="form.sportello.informazioni.visibile"
                                        class="p-w-xs">
                                        <input type="checkbox"
                                            ng-model="sportello.visibile"
                                            id="form.sportello.informazioni.visibile"> Visibile sul sito? </label>
                                       <a ng-click="salvaSportello()"
                                        class="btn btn-primary"
                                        ng-disabled="form.sportello.informazioni.$invalid">Salva</a>
                                        
                                    
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="form.sportello.informazioni.$invalid">
                                        Salva e aggiungi... <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu">
                                        <li>
                                             <a ng-click="salvaSportello(1,0)">Immagini</a>                                           
                                        </li> 
                                      </ul>
                                    </div>                                        
                                </div>
                            </div>
                            <div class="row m-t-xl"
                                ng-show="sportello._id">
                                <div class="col-sm-6 col-sm-offset-2"> <small class="text-muted"><img src="{{sportello.user.picture}}" class="img-circle" style="width:30px;" alt=""> Ultima modifica di <strong>{{sportello.user.user_metadata.name}}</strong> il <em>{{sportello.mdate | date: 'dd/MM/yy' }} alle {{sportello.mdate | date: 'HH:mm'}}</em></small> </div>
                            </div>
                        </form>
                    </div> 
                    <div ui-view></div>
                </div> 
            </div>
        </div>
    </div>
</div>
