<div class="row border-bottom white-bg page-heading">
    <div class="col-md-12"> 
        <h2>Statistiche - Richieste assistenza da sito per tipo di servizio</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated bounceOut fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content"> 
                    
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <select 
                                class="form-control"
                                ng-model="dwhAnno"
                                >
                                <option value="">- anno -</option>
                                <option value="{{anno}}"
                                    ng-repeat="anno in anni">{{anno}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control input-sm"
                                ng-model="dwhMese" 
                                ng-options="mese as mese.nome for mese in mesi track by mese.id"  
                                >
                                 <option value="">- seleziona un mese -</option>
                             </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" ng-click="manageDwh()"
                                ng-disabled="!dwhAnno && !dwhMese"
                                class="btn btn-info"><i class="fa fa-search"></i> esegui statistica
                            </button> 
                            <a ng-show="searchresults" ng-click="state.reload()" class="btn btn-default"><i class="fa fa-undo"></i> Ripristina</a> 
                        </div>
                    </div> 
                    <div class="row">
                        <div class="alert alert-warning m-t" >
                            <h3>
                            <span>Numero totale di richieste per l'anno {{dwhAnno}} </span>
                            <span ng-if="m">mese di {{UTILITIES.nomeMese(m)}} </span>
                            <span><strong>{{totaleRichieste}}</strong></span>
                            </h3>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div> 
                    <div>
                        <div style="width:80%">
                            <canvas id="graficoRichiestaAssistenza_tipo"  ></canvas>
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>